/*color scheme:*/
/*color: #ACF0F2;*/
/*color: #1695A3;*/
/*color: #225378;*/
/*color: #F3FFE2;*/
/*color: #EB7F00;*/


#container {
    margin: 32px;
    /* width: 90%;
    height: 100px; */
}

#controls {
    margin-top: 3vw;
    font-size: 24vw;
    /*color: #ACF0F2;*/
    /*color: #1695A3;*/
    color: #225378;
    /*color: #F3FFE2;*/
    /*color: #EB7F00;*/
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
}

#settings {
    margin-top: 3vw;
    font-size: 8vw;
    /*color: #ACF0F2;*/
    /*color: #1695A3;*/
    color: #225378;
    /*color: #F3FFE2;*/
    /*color: #EB7F00;*/
    text-align: center;
    font-family: "Raleway", Helvetica, sans-serif;
}

body {
    background-color: #F3FFE2;
}

[class*='col-'] {
    float: left;
}

.col-2-3 {
    width: 66.66%;
}
.col-1-3 {
    width: 33.33%;
}