/*color scheme:*/
/*color: #ACF0F2;*/
/*color: #1695A3;*/
/*color: #225378;*/
/*color: #F3FFE2;*/
/*color: #EB7F00;*/


#container {
    margin: 20px;
    /* width: 90%;
    height: 100px; */
}

#controls {
    margin-top: 12vw;
    font-size: 24vw;
    color: #ACF0F2;
    /*color: #1695A3;*/
    /*color: #225378;*/
    /*color: #F3FFE2;*/
    /*color: #EB7F00;*/
    text-align: center;
}

body {
    background-color: #F3FFE2;
}