<!--- ------------------- MAIN ------------------- -->
<div class="row">
    <div class="col-md-12">
        <h1>
            Einf&uuml;hrung in die Informatik - WS 2016 / 2017
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Zwischenergebnisse</h2>

        <p>Mx bedeutet Minitest zu Übungsblatt x, M2 ist also der Minitest, der zu Übungsblatt 2 zugeordnet ist. Basis
            sind die angenommen Startpunkte. (*) &#931; MA ist in der Gesamtsumme nach oben mit 30 Punkten begrenzt, also &#931; All = &#931; M + MIN(&#931; MA, 30).</p>

        <table class="table table-striped">
                <thead><tr class="tableizer-firstrow"><th>Matr.-Nr.</th><th>Basis</th><th>24.10.</th><th>31.10.</th><th>7.11.</th><th>14.11.</th><th>28.11.</th><th>5.12.</th><th>12.12.</th><th>19.12.</th><th>M1</th><th>M2</th><th>M3</th><th>M4</th><th>M5</th><th>M6</th><th>M7</th><th>M8</th><th>Summe</th><th>Note</th></tr></thead><tbody>
            <tr><td>1605469</td><td>15</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>6</td><td>10</td><td>7</td><td>8</td><td>10</td><td>9</td><td>10</td><td>9</td><td>7,5</td><td>100,5</td><td>1</td></tr>
            <tr><td>1616845</td><td>15</td><td>&nbsp;</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>9</td><td>10</td><td>10</td><td>10</td><td>9</td><td>10</td><td>2,5</td><td>97,5</td><td>1</td></tr>
            <tr><td>1645371</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>5</td><td>7</td><td>5</td><td>5</td><td>4</td><td>10</td><td>3</td><td>2,5</td><td>62,5</td><td>4</td></tr>
            <tr><td>1610884</td><td>15</td><td>&nbsp;</td><td>9</td><td>3</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>9</td><td>10</td><td>9</td><td>10</td><td>9</td><td>10</td><td>5</td><td>102</td><td>1</td></tr>
            <tr><td>1626739</td><td>15</td><td>&nbsp;</td><td>-1</td><td>5</td><td>6</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>7</td><td>10</td><td>9</td><td>10</td><td>10</td><td>9</td><td>7,5</td><td>100,5</td><td>1</td></tr>
            <tr><td>1560838</td><td>15</td><td>-1</td><td>3</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>0</td><td>0</td><td>5</td><td>6</td><td>10</td><td>7</td><td>10</td><td>67</td><td>4</td></tr>
            <tr><td>1613219</td><td>15</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>9</td><td>0</td><td>7</td><td>2</td><td>9</td><td>8</td><td>&nbsp;</td><td>62</td><td>4</td></tr>
            <tr><td>1623445</td><td>15</td><td>3</td><td>6</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>9</td><td>7,5</td><td>106,5</td><td>1</td></tr>
            <tr><td>1624850</td><td>15</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>3</td><td>3</td><td>X</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>6</td><td>8</td><td>10</td><td>&nbsp;</td><td>7</td><td>9</td><td>7,5</td><td>81,5</td><td>3</td></tr>
            <tr><td>1560491</td><td>15</td><td>&nbsp;</td><td>6</td><td>3</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>9</td><td>10</td><td>10</td><td>10</td><td>10</td><td>9</td><td>10</td><td>105</td><td>1</td></tr>
            <tr><td>1330138</td><td>15</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>10</td><td>10</td><td>10</td><td>10</td><td>9</td><td>10</td><td>10</td><td>7,5</td><td>106,5</td><td>1</td></tr>
            <tr><td>1616822</td><td>15</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>X</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>10</td><td>9</td><td>3</td><td>X</td><td>10</td><td>10</td><td>9</td><td>5</td><td>77</td><td>3</td></tr>
            <tr><td>1626008</td><td>15</td><td>3</td><td>6</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>10</td><td>10</td><td>9</td><td>10</td><td>9</td><td>10</td><td>10</td><td>10</td><td>108</td><td>1</td></tr>
            <tr><td>1613236</td><td>15</td><td>3</td><td>3</td><td>&nbsp;</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>6</td><td>8</td><td>10</td><td>10</td><td>5</td><td>7</td><td>5</td><td>91</td><td>2</td></tr>
            <tr><td>0760169</td><td>15</td><td>2</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>-1</td><td>-1</td><td>8</td><td>4</td><td>6</td><td>5</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>40</td><td>5</td></tr>
            <tr><td>8130440</td><td>15</td><td>4</td><td>6</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>3</td><td>8</td><td>4</td><td>7</td><td>9</td><td>10</td><td>4</td><td>9</td><td>2,5</td><td>83,5</td><td>2</td></tr>
            <tr><td>1561457</td><td>15</td><td>3</td><td>6</td><td>3</td><td>3</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>5</td><td>8</td><td>5</td><td>9</td><td>10</td><td>9</td><td>7,5</td><td>93,5</td><td>2</td></tr>
            <tr><td>1605408</td><td>15</td><td>2</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>10</td><td>7</td><td>9</td><td>10</td><td>10</td><td>10</td><td>5</td><td>101</td><td>1</td></tr>
            <tr><td>1608425</td><td>15</td><td>3</td><td>3</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>10</td><td>9</td><td>8</td><td>10</td><td>10</td><td>9</td><td>7,5</td><td>100,5</td><td>1</td></tr>
            <tr><td>1560177</td><td>15</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>6</td><td>10</td><td>5</td><td>7</td><td>3</td><td>&nbsp;</td><td>5</td><td>76</td><td>3</td></tr>
            </tbody></table>

        <!--<table class="table table-striped">-->
                <!--<thead><tr class="tableizer-firstrow"><th></th><th>04.04.</th><th>11.04.</th><th>18.04.</th><th>25.04.</th><th>02.05.</th><th>09.05.</th><th>23.05.</th><th>30.05.</th><th>06.06.</th><th>13.06.</th><th>Basis</th><th>M1</th><th>M2</th><th>M3</th><th>M4</th><th>M5</th><th>M6</th><th>M7</th><th>M8</th><th>M9</th><th>SUM</th><th>Grade</th></tr></thead><tbody>-->
            <!--<tr><td>1560034</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>15</td><td>10</td><td>1</td><td>6</td><td>10</td><td>5</td><td>7</td><td>7</td><td>4</td><td>3</td><td>80</td><td>3</td></tr>-->
            <!--<tr><td>1454434</td><td>3</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>15</td><td>10</td><td>8</td><td>7</td><td>10</td><td>8</td><td>9</td><td>6</td><td>9</td><td>9</td><td>106</td><td>1</td></tr>-->
            <!--<tr><td>0161169</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>6</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>5</td><td>96</td><td>2</td></tr>-->
            <!--<tr><td>1560036</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>15</td><td>10</td><td>5</td><td>10</td><td>9</td><td>10</td><td>9</td><td>8</td><td>8</td><td>9</td><td>104</td><td>1</td></tr>-->
            <!--<tr><td>1561430</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>15</td><td>10</td><td>8</td><td>10</td><td>10</td><td>8</td><td>&nbsp;</td><td>1</td><td>&nbsp;</td><td>&nbsp;</td><td>60</td><td>4</td></tr>-->
            <!--<tr><td>1560103</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>-1</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>6</td><td>8</td><td>0</td><td>10</td><td>9</td><td>4</td><td>10</td><td>9</td><td>82</td><td>3</td></tr>-->
            <!--<tr><td>1260004</td><td>3</td><td>&nbsp;</td><td>6</td><td>3</td><td>6</td><td>3</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>5</td><td>7</td><td>10</td><td>10</td><td>10</td><td>10</td><td>&nbsp;</td><td>10</td><td>102</td><td>1</td></tr>-->
            <!--<tr><td>1561393</td><td>&nbsp;</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>7</td><td>6</td><td>7</td><td>3</td><td>7</td><td>2</td><td>2</td><td>6</td><td>74</td><td>4</td></tr>-->
            <!--<tr><td>1561386</td><td>&nbsp;</td><td>6</td><td>6</td><td>3</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>7</td><td>10</td><td>10</td><td>5</td><td>10</td><td>6</td><td>7</td><td>9</td><td>104</td><td>1</td></tr>-->
            <!--<tr><td>1361726</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>15</td><td>4</td><td>2</td><td>1</td><td>6</td><td>3</td><td>&nbsp;</td><td>0</td><td>&nbsp;</td><td>&nbsp;</td><td>32</td><td>5</td></tr>-->
            <!--<tr><td>1561428</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>15</td><td>5</td><td>8</td><td>7</td><td>10</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>4</td><td>9</td><td>69</td><td>4</td></tr>-->
            <!--<tr><td>0961075</td><td>3</td><td>&nbsp;</td><td>-1</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>8</td><td>6</td><td>10</td><td>10</td><td>9</td><td>6</td><td>8</td><td>9</td><td>102</td><td>1</td></tr>-->
            <!--<tr><td>1561467</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>15</td><td>5</td><td>6</td><td>9</td><td>9</td><td>5</td><td>5</td><td>7</td><td>7</td><td>9</td><td>92</td><td>2</td></tr>-->
            <!--<tr><td>1410219</td><td>&nbsp;</td><td>9</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>15</td><td>10</td><td>7</td><td>8</td><td>10</td><td>9</td><td>9</td><td>8</td><td>6</td><td>9</td><td>103</td><td>1</td></tr>-->
            <!--<tr><td>1461513</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>15</td><td>10</td><td>5</td><td>9</td><td>7</td><td>&nbsp;</td><td>4</td><td>4</td><td>9</td><td>&nbsp;</td><td>64</td><td>4</td></tr>-->
            <!--<tr><td>1561035</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>9</td><td>9</td><td>10</td><td>10</td><td>9</td><td>7</td><td>10</td><td>9</td><td>113</td><td>1</td></tr>-->
            <!--</tbody></table>-->
    </div>
    <div class="col-md-4">
        <h2>Zusätzlich Informationen</h2>
        <ul>
            <li><a href="https://campus.aau.at/studium/course/87645">AAU Kursbeschreibung</a>
            </li>
            <!--<li><a href="https://campus.aau.at/studien/ctl/elearning/gotoELearning?rlvkey=83244">AAU Moodle</a></li>-->
        </ul>
    </div>
</div>
