<!--- ------------------- MAIN ------------------- -->
<div class="row">
    <div class="col-md-12">
        <h1>
            Einf&uuml;hrung in die Informatik - WS 2015/2016
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Zwischenergebnisse</h2>

        <p>Mx bedeutet Minitest zu Übungsblatt x, M2 ist also der Minitest, der zu Übungsblatt 2 zugeordnet ist. Basis
            sind die angenommen Startpunkte. (*) &#931; MA ist in der Gesamtsumme nach oben mit 30 Punkten begrenzt, also &#931; All = &#931; M + MIN(&#931; MA, 30).</p>

        <table class="table table-striped">
                <tr><th>Matr.#</th><th>Basis-MA</th><th>12.10.</th><th>19.10.</th><th>03.11.</th><th>09.11.</th><th>16.11.</th><th>23.11.</th><th>30.11.</th><th>07.12.</th><th>14.12.</th><th>11.01.</th><th>M2</th><th>M3</th><th>M4</th><th>M5</th><th>M6</th><th>M7</th><th>M8</th><th>M9</th><th>M10</th><th>&nbsp;</th><th>&#931; M</th><th>&#931; MA (*)</th><th>&#931; All</th><th>Note</th></tr>
                <tr><td>1560565</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>14</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>10</td><td>9</td><td>10</td><td>9</td><td>9</td><td>6</td><td>9</td><td>9</td><td>&nbsp;</td><td>78</td><td>43</td><td>108</td><td>1</td></tr>
                <tr><td>1460026</td><td>15</td><td>3</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>10</td><td>9</td><td>6</td><td>10</td><td>8</td><td>10</td><td>8</td><td>10</td><td>&nbsp;</td><td>78</td><td>32</td><td>108</td><td>1</td></tr>
                <tr><td>1560011</td><td>15</td><td>3</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>1</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>9</td><td>10</td><td>8</td><td>10</td><td>&nbsp;</td><td>87</td><td>33</td><td>117</td><td>1</td></tr>
                <tr><td>0560127</td><td>15</td><td>3</td><td>4</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td><td>8</td><td>9</td><td>10</td><td>9</td><td>7</td><td>2</td><td>10</td><td>7</td><td>&nbsp;</td><td>66</td><td>29</td><td>95</td><td>2</td></tr>
                <tr><td>0130512</td><td>15</td><td>&nbsp;</td><td>7</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>&nbsp;</td><td>90</td><td>45</td><td>120</td><td>1</td></tr>
                <tr><td>1201740</td><td>15</td><td>&nbsp;</td><td>1</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td><td>10</td><td>9</td><td>10</td><td>9</td><td>9</td><td>6</td><td>10</td><td>10</td><td>&nbsp;</td><td>77</td><td>30</td><td>107</td><td>1</td></tr>
                <tr><td>1560088</td><td>15</td><td>-1</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>9</td><td>10</td><td>10</td><td>10</td><td>10</td><td>7</td><td>10</td><td>8</td><td>&nbsp;</td><td>&nbsp;</td><td>74</td><td>20</td><td>94</td><td>2</td></tr>
                <tr><td>1560564</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>-1</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td><td>7</td><td>&nbsp;</td><td>7</td><td>9</td><td>5</td><td>0</td><td>10</td><td>10</td><td>&nbsp;</td><td>52</td><td>28</td><td>80</td><td>3</td></tr>
                <tr><td>1561281</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>14</td><td>3</td><td>7</td><td>5</td><td>10</td><td>9</td><td>10</td><td>6</td><td>10</td><td>10</td><td>10</td><td>&nbsp;</td><td>77</td><td>42</td><td>107</td><td>1</td></tr>
                <tr><td>1560217</td><td>15</td><td>3</td><td>&nbsp;</td><td>7</td><td>7</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td><td>10</td><td>10</td><td>8</td><td>10</td><td>9</td><td>8</td><td>10</td><td>3</td><td>&nbsp;</td><td>72</td><td>39</td><td>102</td><td>2</td></tr>
                <tr><td>1012163</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>7</td><td>&nbsp;</td><td>-1</td><td>1</td><td>0</td><td>4</td><td>0</td><td>0</td><td>&nbsp;</td><td>0</td><td>5</td><td>&nbsp;</td><td>&nbsp;</td><td>10</td><td>20</td><td>30</td><td>5</td></tr>
                <tr><td>0911321</td><td>15</td><td>3</td><td>6</td><td>7</td><td>&nbsp;</td><td>5</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>8</td><td>9</td><td>10</td><td>10</td><td>10</td><td>9</td><td>10</td><td>10</td><td>4</td><td>&nbsp;</td><td>80</td><td>39</td><td>110</td><td>1</td></tr>
                <tr><td>1561293</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>8</td><td>9</td><td>7</td><td>6</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td><td>40</td><td>14</td><td>54</td><td>5</td></tr>
                <tr><td>1560041</td><td>15</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>4</td><td>10</td><td>10</td><td>8</td><td>10</td><td>10</td><td>10</td><td>10</td><td>8</td><td>&nbsp;</td><td>80</td><td>34</td><td>110</td><td>1</td></tr>
                <tr><td>1560504</td><td>15</td><td>&nbsp;</td><td>5</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>2</td><td>6</td><td>5</td><td>9</td><td>5</td><td>7</td><td>6</td><td>4</td><td>10</td><td>9</td><td>&nbsp;</td><td>61</td><td>32</td><td>91</td><td>2</td></tr>
                <tr><td>1435675</td><td>15</td><td>3</td><td>&nbsp;</td><td>7</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>9</td><td>10</td><td>9</td><td>8</td><td>10</td><td>8</td><td>6</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>67</td><td>31</td><td>97</td><td>2</td></tr>
                <tr><td>1560272</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>8</td><td>5</td><td>9</td><td>9</td><td>10</td><td>9</td><td>10</td><td>10</td><td>&nbsp;</td><td>&nbsp;</td><td>70</td><td>14</td><td>84</td><td>3</td></tr>
                <tr><td>0860288</td><td>15</td><td>&nbsp;</td><td>-1</td><td>14</td><td>10</td><td>&nbsp;</td><td>10</td><td>10</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>8</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>9</td><td>8</td><td>&nbsp;</td><td>85</td><td>61</td><td>115</td><td>1</td></tr>
                <tr><td>1560811</td><td>15</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>7</td><td>10</td><td>10</td><td>10</td><td>9</td><td>10</td><td>4</td><td>10</td><td>9</td><td>&nbsp;</td><td>79</td><td>22</td><td>101</td><td>2</td></tr>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Zusätzlich Informationen</h2>
        <ul>
            <li><a href="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&rlvkey=83151">AAU Kursbeschreibung</a>
            </li>
            <li><a href="https://campus.aau.at/studien/ctl/elearning/gotoELearning?rlvkey=83151">AAU Moodle</a></li>
        </ul>
    </div>
</div>
