<!--- ------------------- MAIN ------------------- -->
<div class="row">
    <div class="col-md-12">
        <h1>
            Einf&uuml;hrung in die Informatik - SS 2016
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Zwischenergebnisse</h2>

        <p>Mx bedeutet Minitest zu Übungsblatt x, M2 ist also der Minitest, der zu Übungsblatt 2 zugeordnet ist. Basis
            sind die angenommen Startpunkte. (*) &#931; MA ist in der Gesamtsumme nach oben mit 30 Punkten begrenzt, also &#931; All = &#931; M + MIN(&#931; MA, 30).</p>

        <table class="table table-striped">
                <thead><tr class="tableizer-firstrow"><th></th><th>04.04.</th><th>11.04.</th><th>18.04.</th><th>25.04.</th><th>02.05.</th><th>09.05.</th><th>23.05.</th><th>30.05.</th><th>06.06.</th><th>13.06.</th><th>Basis</th><th>M1</th><th>M2</th><th>M3</th><th>M4</th><th>M5</th><th>M6</th><th>M7</th><th>M8</th><th>M9</th><th>SUM</th><th>Grade</th></tr></thead><tbody>
            <tr><td>1560034</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>15</td><td>10</td><td>1</td><td>6</td><td>10</td><td>5</td><td>7</td><td>7</td><td>4</td><td>3</td><td>80</td><td>3</td></tr>
            <tr><td>1454434</td><td>3</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>15</td><td>10</td><td>8</td><td>7</td><td>10</td><td>8</td><td>9</td><td>6</td><td>9</td><td>9</td><td>106</td><td>1</td></tr>
            <tr><td>0161169</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>6</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>5</td><td>96</td><td>2</td></tr>
            <tr><td>1560036</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>15</td><td>10</td><td>5</td><td>10</td><td>9</td><td>10</td><td>9</td><td>8</td><td>8</td><td>9</td><td>104</td><td>1</td></tr>
            <tr><td>1561430</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>15</td><td>10</td><td>8</td><td>10</td><td>10</td><td>8</td><td>&nbsp;</td><td>1</td><td>&nbsp;</td><td>&nbsp;</td><td>60</td><td>4</td></tr>
            <tr><td>1560103</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>-1</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>6</td><td>8</td><td>0</td><td>10</td><td>9</td><td>4</td><td>10</td><td>9</td><td>82</td><td>3</td></tr>
            <tr><td>1260004</td><td>3</td><td>&nbsp;</td><td>6</td><td>3</td><td>6</td><td>3</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>5</td><td>7</td><td>10</td><td>10</td><td>10</td><td>10</td><td>&nbsp;</td><td>10</td><td>102</td><td>1</td></tr>
            <tr><td>1561393</td><td>&nbsp;</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>7</td><td>6</td><td>7</td><td>3</td><td>7</td><td>2</td><td>2</td><td>6</td><td>74</td><td>4</td></tr>
            <tr><td>1561386</td><td>&nbsp;</td><td>6</td><td>6</td><td>3</td><td>3</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>7</td><td>10</td><td>10</td><td>5</td><td>10</td><td>6</td><td>7</td><td>9</td><td>104</td><td>1</td></tr>
            <tr><td>1361726</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>15</td><td>4</td><td>2</td><td>1</td><td>6</td><td>3</td><td>&nbsp;</td><td>0</td><td>&nbsp;</td><td>&nbsp;</td><td>32</td><td>5</td></tr>
            <tr><td>1561428</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>6</td><td>15</td><td>5</td><td>8</td><td>7</td><td>10</td><td>&nbsp;</td><td>7</td><td>&nbsp;</td><td>4</td><td>9</td><td>69</td><td>4</td></tr>
            <tr><td>0961075</td><td>3</td><td>&nbsp;</td><td>-1</td><td>3</td><td>6</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>8</td><td>6</td><td>10</td><td>10</td><td>9</td><td>6</td><td>8</td><td>9</td><td>102</td><td>1</td></tr>
            <tr><td>1561467</td><td>3</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>15</td><td>5</td><td>6</td><td>9</td><td>9</td><td>5</td><td>5</td><td>7</td><td>7</td><td>9</td><td>92</td><td>2</td></tr>
            <tr><td>1410219</td><td>&nbsp;</td><td>9</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>3</td><td>15</td><td>10</td><td>7</td><td>8</td><td>10</td><td>9</td><td>9</td><td>8</td><td>6</td><td>9</td><td>103</td><td>1</td></tr>
            <tr><td>1461513</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>-1</td><td>15</td><td>10</td><td>5</td><td>9</td><td>7</td><td>&nbsp;</td><td>4</td><td>4</td><td>9</td><td>&nbsp;</td><td>64</td><td>4</td></tr>
            <tr><td>1561035</td><td>&nbsp;</td><td>3</td><td>3</td><td>&nbsp;</td><td>6</td><td>&nbsp;</td><td>3</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>15</td><td>10</td><td>9</td><td>9</td><td>10</td><td>10</td><td>9</td><td>7</td><td>10</td><td>9</td><td>113</td><td>1</td></tr>
            </tbody></table>
    </div>
    <div class="col-md-4">
        <h2>Zusätzlich Informationen</h2>
        <ul>
            <li><a href="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&rlvkey=83151">AAU Kursbeschreibung</a>
            </li>
            <li><a href="https://campus.aau.at/studien/ctl/elearning/gotoELearning?rlvkey=83244">AAU Moodle</a></li>
        </ul>
    </div>
</div>
