
<h1 class="sectionedit1" id="einfuehrung_in_die_informatik_-_ws_2007_2008">Einf&uuml;hrung in die Informatik - WS 2007/2008</h1>
<div class="level1">

<p>
This course has a Moodle course associated, where most of the information should be available:
</p>
<ul>
<li class="level1"><div class="li"> <a href="https://wwws.uni-klu.ac.at/uniklu/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=55425" class="urlextern" title="https://wwws.uni-klu.ac.at/uniklu/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=55425"  rel="nofollow">Web page of the practical course</a></div>
</li>
<li class="level1"><div class="li"> <a href="https://wwws.uni-klu.ac.at/uniklu/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=55420" class="urlextern" title="https://wwws.uni-klu.ac.at/uniklu/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=55420"  rel="nofollow">Web page of the lecture</a></div>
</li>
<li class="level1"><div class="li"> <a href="https://elearning.uni-klu.ac.at/moodle/course/view.php?id=1021" class="urlextern" title="https://elearning.uni-klu.ac.at/moodle/course/view.php?id=1021"  rel="nofollow">Moodle online course</a></div>
</li>
</ul>

</div>
