<!--- ------------------- MAIN ------------------- -->
<div class="row">
    <h1>
        Einf&uuml;hrung in die strukturierte und objektbasierte Programmierung WS 2015/2016 (ESOP)
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Themen</h2>
        <ul>
            <li>Allgemeine Einf&uuml;hrung und Grundlagen der Programmierung</li>
            <li>Einf&uuml;hrung in Java</li>
            <li>Arrays</li>
            <li>Unterprogramme</li>
            <li>Klassen, Interfaces, abgeleitete Klassen</li>
            <li>Geheimnisprinzip</li>
            <li>Ausnahmebehandlung</li>
            <li>Aggregation</li>
            <li>Namensr&auml;ume</li>
            <li>Ein- und Ausgabe, Java Collections</li>
            <li>Rekursion, Threading</li>
            <li>Scripting: JavaScript</li>
        </ul>

    </div>
    <div class="col-md-6">
        <h2><i class="glyphicon glyphicon-download"></i> Materialien</h2>
        <ul>
            <li><a href="teaching/esop15/esop-slides-de.pdf">Folien für
                Wintersemester 2015/2016</a> (or: <a href="teaching/esop15/esop-slides-en.pdf">english slides</a>)
            </li>
            <li><a href="https://github.com/dermotte/esop15">Source Code für die VO Wintersemester 2015/2016</a> - Im
                Github Projekt sind Quellcode und Versionen davon verfügbar.
            </li>
            <li><i class="fa fa-exclamation-circle"></i> <a href="teaching/esop15/Fragenkatalog_ws1516.pdf">Fragenkatalog 2015/2016</a> - Diese Fragen sind
                beispielhaft für die Klausur. Eine Klausur besteht aus ~25% Multiple Choice Fragen und dem Rest offenen
                Fragen.
            </li>
            <li><i class="fa fa-bomb"></i> <a href="teaching/esop15/minesweeper.jar">Minesweeper</a> - Eine erweiterte, in ein JAR verpackte Version vom Beispiel im Unterricht. Download &amp; Play!</li>
            <li><a href="teaching/esop14/ESOP-Folien-WS1415.pdf">Folien Wintersemester 2014/2015</a> - Die hier ver&ouml;ffentlichten
                Folien sind eine Archivversion des letzten Jahres.
            </li>
            <li><a href="teaching/esop14/Fragenkatalog_v4.pdf">Fragenkatalog 2014/2015</a> - Diese Fragen sind
                beispielhaft für die Klausur. Eine Klausur besteht aus ~25% Multiple Choice Fragen und dem Rest offenen
                Fragen.
            </li>
        </ul>
        <h2><i class="glyphicon glyphicon-info-sign"></i> Weitere Links:</h2>
        <ul>
            <li><a href="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&rlvkey=83157">Allgemeine
                Informationen</a> - Eintragung im AAU Online-System.
            </li>
            <!--li><a href="https://campus.aau.at/studien/ctl/elearning/gotoELearning?rlvkey=80398" rel="external">Moodle</a> - Kurssystem der AAU Klagenfurt.</li-->
        </ul>
    </div>
</div>
<div class="row" style="padding: 32pt;">
    <div class="col-md-6">
        <a href="https://github.com/dermotte/esop15" class="btn btn-success btn-lg center-block"><i
                class="glyphicon glyphicon-download"></i> Beispielprogramme auf Github</a>
    </div>
    <div class="col-md-6 center-block">
        <a href="teaching/esop15/esop-slides-de.pdf"
           class="btn btn-success btn-lg center-block"><i class="glyphicon glyphicon-download"></i> Folien </a>
    </div>

</div>
<div class="row">
    <h1>Introduction to Programming - the MORE course.</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <img src="images/English-Language-Flag-1-icon.png" style="margin: 2px; max-height: 180px; width: auto">
    </div>
    <div class="col-md-10">
        <p>
            In parallel to the german ESOP course, we provide the english practical introductory course on programming.
            Due to the lack of a comprehensive english theoretical course we recommend reading:
        <ul>
            <li><a href="http://math.hws.edu/javanotes/">Introduction to Programming Using Java, Seventh Edition</a> by
                David J. Eck. This book is an extensive introduction to programming based on Java. I recommend to read
                over chapters 1, 2, and 3 to get the necessary background knowledge on variables, conditions and control
                structures to move on to "Head First Java", which is easier to read. However, this book is free to use.
            </li>
            <li><b>Head First Java, 2nd Edition</b> by Kathy Sierra and Bert Bates. This book offers a great
                introduction to Java for people already aware of the basic principles of structured programming. You can
                get it in the library.
            </li>
        </ul>
        </p>
        <p>
            The slides for the course are <a
                href="teaching/esop15/esop-slides-en.pdf">available for
            download</a>. English slides are available for the first seven lectures.
            From then the book Head First Java should cover most of the things. All the source code in the course
            has been be committed to the <a href="https://github.com/dermotte/esop15">github repository</a>.
        </p>
    </div>
</div>
