<!--- ------------------- MAIN ------------------- -->
<div class="row">
	<div class="">
		<h1>
			Einf&uuml;hrung in die strukturierte und objektbasierte Programmierung WS 2014/2015
		</h1>
		<p>
					Einf&uuml;hrung in die strukturierte und objektbasierte Programmierung (kurz ESOP) behandelt folgende Themen:
					<ul>
						<li>Allgemeine Einf&uuml;hrung und Grundlagen der Programmierung</li>
						<li>Einf&uuml;hrung in Java</li>
						<li>Arrays</li>
						<li>Unterprogramme</li>
						<li>Klassen</li>
						<li>Geheimnisprinzip</li>
						<li>Interfaces</li>
						<li>Abgeleitete Klassen</li>
						<li>Ausnahmebehandlung</li>
						<li>Aggregation</li>
						<li>Namensr&auml;ume</li>
						<li>Ein- und Ausgabe</li>
						<li>Collections</li>
						<li>Rekursion</li>
						<li>Threading </li>
						<li>JavaScript</li>
					</ul>

		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2><i class="glyphicon glyphicon-download"></i> Materialien</h2>
		<ul>
			<li><a href="teaching/esop14/ESOP-Folien-WS1415.pdf">Folien Wintersemester 2014/2015</a> - Die hier ver&ouml;ffentlichten Folien sind die Grundlage für die Pr&uuml;fungen ab Februar 2015.</li>
			<li><a href="teaching/esop14/Fragenkatalog_v4.pdf">Fragenkatalog 2014/2015</a> - Diese Fragen sind beispielhaft für die Klausur. Eine Klausur besteht aus ~25% Multiple Choice Fragen und dem Rest offenen Fragen.</li>
		</ul>
	</div>
	<div class="col-md-6">
		<h2><i class="glyphicon glyphicon-info-sign"></i> Weitere Links:</h2>
		<ul>
			<li><a href="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&rlvkey=80398" rel="external">Allgemeine
				Informationen</a> - Eintragung im AAU Online-System.</li>
			<li><a href="https://campus.aau.at/studien/ctl/elearning/gotoELearning?rlvkey=80398" rel="external">Moodle</a> - Kurssystem der AAU Klagenfurt.</li>
		</ul>
	</div>
</div>
