
<h1 class="sectionedit1" id="computer_games">Computer Games</h1>
<div class="level1">

<p>
The goal of this course is to introduce students to computer game production. This is not necessarily a technical issue especially as game production involves mostly non-technical work like creative audio, 3D and visual design, product management and planning, storyboarding &amp; writing, and testing.
</p>

</div>
<!-- EDIT1 SECTION "Computer Games" [1-330] -->
<h1 class="sectionedit2" id="schedule_topics">Schedule &amp; Topics</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> 19.12. 10 c.t.</div>
<ul>
<li class="level2"><div class="li"> Modalities <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-01-modalities.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-01-modalities.pdf"  rel="nofollow">slides</a> (PDF, 425K)</div>
</li>
<li class="level2"><div class="li"> Introduction, Gaming business <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-02-introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-02-introduction.pdf"  rel="nofollow">slides</a> (PDF, 1.7M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 20.12. 10 c.t.</div>
<ul>
<li class="level2"><div class="li"> LBP, Gish &amp; Super Meat Boy Level editors <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-03-level-editors.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-03-level-editors.pdf"  rel="nofollow">slides</a> (PDF, 353K)</div>
</li>
<li class="level2"><div class="li"> Hands-On <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-04-hands-on.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-04-hands-on.pdf"  rel="nofollow">slides</a> (PDF, 311K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 21.12. 10 c.t. </div>
<ul>
<li class="level2"><div class="li"> Game Design I <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-05-design-01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-05-design-01.pdf"  rel="nofollow">slides</a> (PDF, 1.5M)</div>
</li>
<li class="level2"><div class="li"> Game Design II <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-06-design-02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-06-design-02.pdf"  rel="nofollow">slides</a> (PDF, 652K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 30.01. 13 c.t.</div>
<ul>
<li class="level2"><div class="li"> History of Games <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-07-history.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-07-history.pdf"  rel="nofollow">slides</a> (PDF, 935K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 31.01. 10 c.t.</div>
<ul>
<li class="level2"><div class="li"> Game dev basics &amp; Visuals <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-08-game-dev-basics.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-08-game-dev-basics.pdf"  rel="nofollow">slides</a> (PDF, 931K)</div>
</li>
<li class="level2"><div class="li"> Selected game engines <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-09-game-dev-libgdx-xna.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-09-game-dev-libgdx-xna.pdf"  rel="nofollow">slides</a> (PDF, 774K)</div>
</li>
<li class="level2"><div class="li"> Gastvortrag von Stephan Payer (CipSoft)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 01.02. 10 c.t.</div>
<ul>
<li class="level2"><div class="li"> Sound &amp; physics <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-10-sound-physics.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-10-sound-physics.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level2"><div class="li"> Playtests <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-11-playtesting.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games11passau/games-ws11-passau-11-playtesting.pdf"  rel="nofollow">slides</a> (PDF, 656K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 02.02. 10 c.t.</div>
<ul>
<li class="level2"><div class="li"> Exam</div>
</li>
<li class="level2"><div class="li"> Presentations</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Schedule & Topics" [331-2153] -->
<h1 class="sectionedit3" id="assignments">Assignments</h1>
<div class="level1">

</div>
<!-- EDIT3 SECTION "Assignments" [2154-2179] -->
<h2 class="sectionedit4" id="assignment_1_-_due_2312">Assignment 1 - due 23.12.</h2>
<div class="level2">

<p>
Play one of the following games for a <em>significant</em> amount of time. Those games were available as part of the <a href="http://www.humblebundle.com/" class="urlextern" title="http://www.humblebundle.com/"  rel="nofollow">Humble Indie Bundles</a>.
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.bit-blot.com/aquaria/" class="urlextern" title="http://www.bit-blot.com/aquaria/"  rel="nofollow">Aquaria</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.braid-game.com/" class="urlextern" title="http://www.braid-game.com/"  rel="nofollow">Braid</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.hemispheregames.com/osmos/" class="urlextern" title="http://www.hemispheregames.com/osmos/"  rel="nofollow">Osmos</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.worldofgoo.com/" class="urlextern" title="http://www.worldofgoo.com/"  rel="nofollow">World of Goo</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.bitmap-brothers.co.uk/our-games/past/z.htm" class="urlextern" title="http://www.bitmap-brothers.co.uk/our-games/past/z.htm"  rel="nofollow">Z</a> (<a href="http://www.youtube.com/watch?v=ZxSoEFs6gt8" class="urlextern" title="http://www.youtube.com/watch?v=ZxSoEFs6gt8"  rel="nofollow">video</a>)</div>
</li>
</ul>

<p>
Your task is to write an essay …
</p>
<ul>
<li class="level1"><div class="li"> telling me what you liked &amp; disliked</div>
</li>
<li class="level1"><div class="li"> what you’d make better</div>
</li>
<li class="level1"><div class="li"> no more than 150 words</div>
</li>
</ul>

<p>
Send me your essay by email.
</p>

</div>
<!-- EDIT4 SECTION "Assignment 1 - due 23.12." [2180-2855] -->
<h2 class="sectionedit5" id="assignment_2_-_due_22">Assignment 2 - due 2.2.</h2>
<div class="level2">

<p>
The task is to plan and create a game level with a certain goal or topic. Besides planning and writing a game concept, also lessons learned and a postmortem have to be addressed. 
</p>

<p>
Each group has to deliver …
</p>
<ul>
<li class="level1"><div class="li"> A playable game level (LBP, Gish, Super Meat Boy)</div>
</li>
<li class="level1"><div class="li"> A game concept document for this level</div>
<ul>
<li class="level2"><div class="li"> 2 page, 12pt, Roman font</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> A postmortem document for this level</div>
<ul>
<li class="level2"><div class="li"> 2 page, 12pt, Roman font</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> A presentation of the level showing off the work, the concept and the postmortem</div>
<ul>
<li class="level2"><div class="li"> Just a few slides</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Assignment 2 - due 2.2." [2856-3410] -->
<h1 class="sectionedit6" id="exam">Exam</h1>
<div class="level1">

<p>
The final grade is based on (i) project work and presentation and (ii) a multiple choice test. 
</p>

</div>
<!-- EDIT6 SECTION "Exam" [3411-3526] -->
<h2 class="sectionedit7" id="project_work">Project work</h2>
<div class="level2">

<p>
Your task is to plan, implement and present a game level either with <a href="http://www.chroniclogic.com/gish.htm" class="urlextern" title="http://www.chroniclogic.com/gish.htm"  rel="nofollow">Gish</a> or <a href="http://www.littlebigplanet.com/" class="urlextern" title="http://www.littlebigplanet.com/"  rel="nofollow">|Little Big Planet</a> (LBP 1 or 2, PS3 or PSP, ask me if you want to borrow a copy).
</p>

</div>
<!-- EDIT7 SECTION "Project work" [3527-3788] -->
<h2 class="sectionedit8" id="project_results">Project results</h2>
<div class="level2">

<p>
under construction ….
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.youtube.com/watch?v=bEUCk_FtMok" class="urlextern" title="http://www.youtube.com/watch?v=bEUCk_FtMok"  rel="nofollow">Passau Map for Warcraft</a></div>
</li>
</ul>

</div>
<!-- EDIT8 SECTION "Project results" [3789-] -->