
<h1 class="sectionedit1" id="vk_computer_games">VK Computer Games</h1>
<div class="level1">

<p>
The course Computer games offers the cumulative knowledge focusing on computer game development. Besides basics in mathematics, algorithms and data structures also common patterns and best practice in the area of computer game development are presented. In parallel to the actual course students develop games themselves (in groups of 3) as practical tasks and present them at the end of the semester.
The lecture itself takes place mainly in 4 h blocks, whereas in each course block another aspect of game development is chosen as main topic. 
</p>

</div>
<!-- EDIT1 SECTION "VK Computer Games" [1-578] -->
<h2 class="sectionedit2" id="schedule_slides">Schedule &amp; Slides</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Introduction, March 6th, 2009</div>
<ul>
<li class="level2"><div class="li"> Part 1 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/slides/games-01-intro.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/slides/games-01-intro.pdf"  rel="nofollow">Introduction and economics</a> ~ 1.4 <abbr title="Megabyte">MB</abbr></div>
</li>
<li class="level2"><div class="li"> Part 2 - History (see resources)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Game Development Basics</div>
<ul>
<li class="level2"><div class="li"> Part 1 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/slides/games-02-projects.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/slides/games-02-projects.pdf"  rel="nofollow">Game design and game project management</a> ~ 1.2 <abbr title="Megabyte">MB</abbr></div>
</li>
<li class="level2"><div class="li"> Part 2 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/slides/games-02-dev.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/slides/games-02-dev.pdf"  rel="nofollow">The game loop</a> ~ 705 K</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/JavaTimerTest.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/JavaTimerTest.zip"  rel="nofollow">Java Timer Test</a> ~ 2 K</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/Worm7Game.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/Worm7Game.zip"  rel="nofollow">Worm7Game</a> ~ 14 K</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Sprites, Graphics &amp; Sounds, March 27th, 2009</div>
<ul>
<li class="level2"><div class="li"> In-game video:  <a href="http://www.youtube.com/watch?v=q1kfbflDxpM" class="urlextern" title="http://www.youtube.com/watch?v=q1kfbflDxpM"  rel="nofollow">1942</a>, example for 2.5D techniques</div>
</li>
<li class="level2"><div class="li"> In-game video: <a href="http://www.youtube.com/watch?v=Qw56bU9Hfww" class="urlextern" title="http://www.youtube.com/watch?v=Qw56bU9Hfww"  rel="nofollow">California Games</a>, example for parallax scrolling  </div>
</li>
<li class="level2"><div class="li"> In-game video: <a href="http://www.youtube.com/watch?v=3Xgw-qW7R7c" class="urlextern" title="http://www.youtube.com/watch?v=3Xgw-qW7R7c"  rel="nofollow">Course sample game</a>, parallax scrolling, sprites </div>
</li>
<li class="level2"><div class="li"> DSP example: <a href="http://www.semanticmetadata.net/stuff/" class="urlextern" title="http://www.semanticmetadata.net/stuff/"  rel="nofollow">SoundViz</a> (part of ChildrensGames)</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/SampleGame.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/SampleGame.zip"  rel="nofollow">Sample game</a> (~430K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> XNA (Max Knor), April 1st, 2009 - 2-4pm HS 6</div>
</li>
<li class="level1"><div class="li"> Game physics (Horst Pichler), April 3rd, 2009 - 9am~12pm, HS 2</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/GamesUploads.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/GamesUploads.zip"  rel="nofollow">Materials</a> (~ 5.4M)</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/games_resourcepacks.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/games_resourcepacks.zip"  rel="nofollow">Game Resource Pack</a> (~ 20M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 3D (Andreas Bollin), June 5th, 2009 - 10am-12pm, HS1</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/Games-Java3D.rar" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/files/Games-Java3D.rar"  rel="nofollow">Materials</a> (~ 3.4M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> HCI (Rudolf Melcher), June 5th, 2009 - 12pm-14pm, HS1</div>
</li>
<li class="level1"><div class="li"> Project Presentations, June 12th, 2009 - 8am~18pm, HS2</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Schedule & Slides" [579-2529] -->
<h2 class="sectionedit3" id="presentations_schedule">Presentations Schedule</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 08:30-09:30 Exam</div>
</li>
<li class="level1"><div class="li"> <em>09:30-10:00 Break</em></div>
</li>
<li class="level1"><div class="li"> 10:00-11:30 Block 1</div>
<ul>
<li class="level2"><div class="li"> Lettmayer &amp; M&uuml;nzer - <em>Magna Calibra</em> </div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=3DjWhH9WN6w" class="urlextern" title="http://www.youtube.com/watch?v=3DjWhH9WN6w"  rel="nofollow">Video</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/MagnaCalibra.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/MagnaCalibra.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
<li class="level2"><div class="li"> Pairitsch, Rainer &amp; Winkler - <em>Chromatophobia</em></div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=Tcp0sWybNck" class="urlextern" title="http://www.youtube.com/watch?v=Tcp0sWybNck"  rel="nofollow">Video</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Chromatophobia.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Chromatophobia.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
<li class="level2"><div class="li"> Dieber, Grassauer &amp; Mayring - <em>GeoBashing</em></div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=QfYyqs4oG1k" class="urlextern" title="http://www.youtube.com/watch?v=QfYyqs4oG1k"  rel="nofollow">Video 1</a>, <a href="http://www.youtube.com/watch?v=KXnWrvtoaxM" class="urlextern" title="http://www.youtube.com/watch?v=KXnWrvtoaxM"  rel="nofollow">Video 2</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/GeoBashing.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/GeoBashing.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <em>11:30-13:00 Break</em></div>
</li>
<li class="level1"><div class="li"> 13:00-14:30 Block 2</div>
<ul>
<li class="level2"><div class="li"> Nagele, Warum &amp; Moser - <em>Switchboy</em></div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=7EWbRPBIpWw" class="urlextern" title="http://www.youtube.com/watch?v=7EWbRPBIpWw"  rel="nofollow">Video</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Switchboy.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Switchboy.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
<li class="level2"><div class="li"> Blackert, Liebenberger &amp; Reidlinger - <em>Magneto</em></div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=gLDRYcpWMOg" class="urlextern" title="http://www.youtube.com/watch?v=gLDRYcpWMOg"  rel="nofollow">Video</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Magneto.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Magneto.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
<li class="level2"><div class="li"> Dittrich, Mihelcic &amp; Telsnig - <em>Kontiki</em></div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=wFTrSMMoEJA" class="urlextern" title="http://www.youtube.com/watch?v=wFTrSMMoEJA"  rel="nofollow">Video</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Kontiki.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/Kontiki.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <em>14:30-15:00 Break</em></div>
</li>
<li class="level1"><div class="li"> 15:00-16:30 Block 3</div>
<ul>
<li class="level2"><div class="li"> <del>Granitzer, Harder &amp; Unterkreuter - <em>Darth Invaders</em></del></div>
</li>
<li class="level2"><div class="li"> Katzian &amp; Primus - <em>Dangerous Worms</em></div>
<ul>
<li class="level3"><div class="li"> <a href="http://www.youtube.com/watch?v=xKySakZueUE" class="urlextern" title="http://www.youtube.com/watch?v=xKySakZueUE"  rel="nofollow">Video</a></div>
</li>
<li class="level3"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/DangerousWorms.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/postmortem/DangerousWorms.pdf"  rel="nofollow">Postmortem</a></div>
</li>
</ul>
</li>
</ul>
</li>
</ul>

<p>
Further available for the games are
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/designdocs/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/designdocs/"  rel="nofollow">Design Documents</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/source/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/source/"  rel="nofollow">Source</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/bin/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/games09-final/bin/"  rel="nofollow">Binaries</a></div>
</li>
</ul>

<p>
Fotos of the event can be found <a href="http://www.flickr.com/photos/mathias_l/tags/unikluvkgames09/" class="urlextern" title="http://www.flickr.com/photos/mathias_l/tags/unikluvkgames09/"  rel="nofollow">here</a>.
</p>

</div>
<!-- EDIT3 SECTION "Presentations Schedule" [2530-4865] -->
<h2 class="sectionedit4" id="topics">Topics</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Basics, history &amp; context</div>
</li>
<li class="level1"><div class="li"> Game design &amp; game project plans</div>
</li>
<li class="level1"><div class="li"> Game development principles</div>
</li>
<li class="level1"><div class="li"> Graphics and sound </div>
</li>
<li class="level1"><div class="li"> Game physics and collisions</div>
</li>
<li class="level1"><div class="li"> Multiplayer &amp; networking</div>
</li>
<li class="level1"><div class="li"> Game input and output devices</div>
</li>
<li class="level1"><div class="li"> Artificial intelligence</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Topics" [4866-5132] -->
<h2 class="sectionedit5" id="modalities">Modalities</h2>
<div class="level2">

<p>
For the final grade two projects, a final test as well as a presentation of the final project are taken into account. Projects are done in groups of three.
</p>

<p>
<strong>Project A:</strong> Development of a simple Java game with
</p>
<ul>
<li class="level1"><div class="li"> Animated sprites</div>
</li>
<li class="level1"><div class="li"> Parallax scrolling in 3+ layers</div>
</li>
<li class="level1"><div class="li"> Sound (background and events)</div>
</li>
<li class="level1"><div class="li"> Collision detection</div>
</li>
<li class="level1"><div class="li"> Physics (one of these or similar)</div>
</li>
<li class="level1"><div class="li"> Bounce, Gravity or (De-)Acceleration</div>
</li>
<li class="level1"><div class="li"> Submit ‘till April 20th 2009</div>
</li>
</ul>

<p>
<strong>Project B:</strong> Design and implement a game of your choice
</p>
<ul>
<li class="level1"><div class="li"> Have an idea</div>
</li>
<li class="level1"><div class="li"> Choose implementation platform</div>
</li>
<li class="level1"><div class="li"> Write a project design &amp; plan</div>
<ul>
<li class="level2"><div class="li"> As given in the slides</div>
</li>
<li class="level2"><div class="li"> Or use this <a href="/~mlux/wiki/lib/exe/fetch.php?media=courses:template.zip" class="media mediafile mf_zip" title="courses:template.zip (10.2 KB)">template</a>(taken from the Gamemaker 7.0 tutorial)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Submit plan until May 15th 2009</div>
</li>
<li class="level1"><div class="li"> Finish your project</div>
</li>
<li class="level1"><div class="li"> Present your game on June, 12th 2009</div>
<ul>
<li class="level2"><div class="li"> You have 20 Minutes presentation time and 10 minutes discussion time</div>
</li>
<li class="level2"><div class="li"> Each group member should actively participate in the presentation</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Submit Postmortem until June, 12th 2009</div>
<ul>
<li class="level2"><div class="li"> Follow structure and style of reading [2]  </div>
</li>
<li class="level2"><div class="li"> See also slides of 2nd block</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Modalities" [5133-6242] -->
<h3 class="sectionedit6" id="important_dates">Important dates</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> April 20th 2009: Submission of project A</div>
</li>
<li class="level1"><div class="li"> May 15th 2009: Submission of project plan for project B</div>
</li>
<li class="level1"><div class="li"> June, 12th 2009: Final test and presentation of project B</div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Important dates" [6243-6436] -->
<h3 class="sectionedit7" id="submitted_projects">Submitted Projects</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/designdocs/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games09/designdocs/"  rel="nofollow">Submitted design documents</a></div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Submitted Projects" [6437-6565] -->
<h2 class="sectionedit8" id="readings">Readings</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Luis von Ahn: <a href="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf"  rel="nofollow">Games with a purpose</a>, IEEE Computer, 39 (6), 2006</div>
</li>
<li class="level1"><div class="li"> Bruce Chia, Desmond Wong: <a href="http://www.gamasutra.com/view/feature/3939/postmortem_singaporemit_gambits_.php" class="urlextern" title="http://www.gamasutra.com/view/feature/3939/postmortem_singaporemit_gambits_.php"  rel="nofollow"> Postmortem: Singapore-MIT GAMBIT&#039;s CarneyVale: Showtime</a>, Gamasutra, Feb. 2009</div>
</li>
</ol>

</div>
<!-- EDIT8 SECTION "Readings" [6566-6897] -->
<h2 class="sectionedit9" id="resources">Resources</h2>
<div class="level2">

</div>
<!-- EDIT9 SECTION "Resources" [6898-6919] -->
<h3 class="sectionedit10" id="history_of_games">History of games</h3>
<div class="level3">
<ul>
<li class="level1"><div class="li"> The Ultimate History of Video Games, S. L. Kent, Three Rivers Press, 2001</div>
</li>
<li class="level1"><div class="li"> Game Generations, F. Magdans, Sch&uuml;ren Verlag, 2008 </div>
</li>
<li class="level1"><div class="li"> History of Video Games: <a href="http://en.wikipedia.org/wiki/History_of_video_games" class="urlextern" title="http://en.wikipedia.org/wiki/History_of_video_games"  rel="nofollow">http://en.wikipedia.org/wiki/History_of_video_games</a></div>
</li>
<li class="level1"><div class="li"> The Pong Story: <a href="http://www.pong-story.com" class="urlextern" title="http://www.pong-story.com"  rel="nofollow">http://www.pong-story.com</a></div>
</li>
<li class="level1"><div class="li"> Atari Age: <a href="http://www.atariage.com/" class="urlextern" title="http://www.atariage.com/"  rel="nofollow">http://www.atariage.com/</a></div>
</li>
<li class="level1"><div class="li"> Killer List of Video Games: <a href="http://www.klov.com" class="urlextern" title="http://www.klov.com"  rel="nofollow">http://www.klov.com</a></div>
</li>
<li class="level1"><div class="li"> Multiple Arcade Machine Emulator: <a href="http://www.mamedb.com" class="urlextern" title="http://www.mamedb.com"  rel="nofollow">http://www.mamedb.com</a></div>
</li>
<li class="level1"><div class="li"> Classig Gaming: <a href="http://classicgaming.gamespy.com" class="urlextern" title="http://classicgaming.gamespy.com"  rel="nofollow">http://classicgaming.gamespy.com</a></div>
</li>
</ul>

</div>
<!-- EDIT10 SECTION "History of games" [6920-] -->