
<h1 class="sectionedit1" id="computer_games">Computer Games</h1>
<div class="level1">

<p>
The goal of this course is to introduce students to computer game production. This is not necessarily a technical issue especially as game production involves mostly non-technical work like creative audio, 3D and visual design, product management and planning, storyboarding &amp; writing, and testing.
</p>

<p>
The course has already taken place in summer semester 2012, so you might take a look at the <a href="/~mlux/wiki/doku.php?id=courses:gamesss12" class="wikilink1" title="courses:gamesss12">old web page</a>. 
The lecture is given in German, but slides and homepage are written in English. For assignments you can choose between German and English language.
</p>

<p>
Please note that there is a tutorial for the Computer Games course called “<a href="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=75199" class="urlextern" title="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=75199"  rel="nofollow">623.908 Tutorium zu Computer Games</a>”. Please also enroll to this course as this (i) gives you access to the games lab environment and (ii) the tutor works for you either way :).
</p>

</div>
<!-- EDIT1 SECTION "Computer Games" [1-934] -->
<h1 class="sectionedit2" id="schedule_topics">Schedule &amp; Topics</h1>
<div class="level1">

<p>
Topics are:
</p>
<ul>
<li class="level1"><div class="li"> Introduction &amp; Market: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-01-modalities.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-01-modalities.pdf"  rel="nofollow">modalities</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-02-introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-02-introduction.pdf"  rel="nofollow">introduction</a></div>
</li>
<li class="level1"><div class="li"> Workshop</div>
</li>
<li class="level1"><div class="li"> History: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-03-history.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-03-history.pdf"  rel="nofollow">history</a></div>
</li>
<li class="level1"><div class="li"> Game Design &amp; Game Projects: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-05-design-01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-05-design-01.pdf"  rel="nofollow">design 01</a> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-06-design-02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-06-design-02.pdf"  rel="nofollow">design 02</a></div>
</li>
<li class="level1"><div class="li"> Implementation Tutorials: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-04-LBP.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-04-LBP.pdf"  rel="nofollow">LBP</a></div>
</li>
<li class="level1"><div class="li"> Game Loop, Sprites &amp; Sound <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-07-game-dev-basics.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-07-game-dev-basics.pdf"  rel="nofollow">Basics</a></div>
</li>
<li class="level1"><div class="li"> Game Engines, Game Physics <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-08-game-dev-tools.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games13/games-ss13-08-game-dev-tools.pdf"  rel="nofollow">Tools</a></div>
</li>
</ul>

<p>
Schedule, marked entries are outside the regular schedule:
</p>
<ul>
<li class="level1"><div class="li"> <del>Mo, 04.03.2013, 12-14, E.2.42: Introduction</del> - canceled!</div>
</li>
<li class="level1"><div class="li"> <img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> Do, 07.03.2013, 12-14, E.2.42: Indie Game - The Movie</div>
</li>
<li class="level1"><div class="li"> <img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> Do, 07.03.2013, 16.30-20:30, Z.1.09:  Workshop</div>
</li>
<li class="level1"><div class="li"> Mo, 11.03.2013, 12-14, E.2.42: History</div>
</li>
<li class="level1"><div class="li"> <em>Do, 14.03.2013, 12-14, E.2.42: Computer Game Tutorium (M. Riegler): Pong</em></div>
</li>
<li class="level1"><div class="li"> Mo, 18.03.2013, 12-14, E.2.42: Game Design &amp; Development Part I</div>
</li>
<li class="level1"><div class="li"> <img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> Mo, 25.03.2013, 12-<em class="u">16</em>, E.2.42: Game Design &amp; Development Part II</div>
</li>
<li class="level1"><div class="li"> Mo, 08.04.2013, 12-14, E.2.42: Implementation Tutorials</div>
</li>
<li class="level1"><div class="li"> <del>Mo, 15.04.2013, 12-14, E.2.42: Game Loop, Sprites &amp; Sound</del></div>
</li>
<li class="level1"><div class="li"> Mo, 22.04.2013, 12-14, E.2.42: Game Loop, Sprites &amp; Sound</div>
</li>
<li class="level1"><div class="li"> Mo, 29.04.2013, 12-14, E.2.42: Game Engines &amp; Physics</div>
</li>
<li class="level1"><div class="li"> <em>Do, 02.05.2013, 12-14  E.2.42: Computer Games Tutorium</em></div>
</li>
<li class="level1"><div class="li"> <em>Do, 16.05.2013, 12-14  E.2.42: Computer Games Tutorium</em></div>
</li>
<li class="level1"><div class="li"> ?? - Guest Lecture/s</div>
</li>
<li class="level1"><div class="li"> <del>Mo, 17.06.2013, 12-14, E.2.42: Student Presentations Part I</del></div>
</li>
<li class="level1"><div class="li"> Do, 20.06.2013, 16-18, E.2.42: Student Presentations Part I</div>
</li>
<li class="level1"><div class="li"> Mo, 24.06.2013, 12-14, E.2.42: Student Presentations Part II</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Schedule & Topics" [935-3041] -->
<h1 class="sectionedit3" id="assignments">Assignments</h1>
<div class="level1">

<p>
You ultimate course assignment is to build a game (level) within groups of three. However, different training milestones are added to create a manifold and holisitic learning experience :)
</p>
<ol>
<li class="level1"><div class="li"> Game Review (1 page) - Play and review a game (which is to be announced)</div>
</li>
<li class="level1"><div class="li"> Implement a (historical) arcade game - Extend the provided source code</div>
</li>
<li class="level1"><div class="li"> Write a game concept</div>
<ul>
<li class="level2"><div class="li"> A game concept document (2 pages)</div>
</li>
<li class="level2"><div class="li"> <del>An intermediate presentation</del></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Implement the game (level)</div>
<ul>
<li class="level2"><div class="li"> The actual game (level)</div>
</li>
<li class="level2"><div class="li"> A postmortem document (2 pages)</div>
</li>
<li class="level2"><div class="li"> A short video of the game (level)</div>
</li>
<li class="level2"><div class="li"> A final presentation</div>
</li>
</ul>
</li>
</ol>

<p>
Note that there is a tutorial for helping you with the implementation. Don&#039;t forget to enroll to it!
</p>

</div>
<!-- EDIT3 SECTION "Assignments" [3042-3789] -->
<h2 class="sectionedit4" id="milestone_ipong_clone">Milestone I: Pong Clone</h2>
<div class="level2">

<p>
Create a web based clone of the famous Atari game Pong. Use the resources offered in the tutorium. Send the result to games13@itec.aau.at until 2013-04-07, midnight.
</p>
<ul>
<li class="level1"><div class="li"> Submit to: games13@itec.aau.at</div>
</li>
<li class="level1"><div class="li"> Deadline: 2013-04-07, midnight</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Milestone I: Pong Clone" [3790-4062] -->
<h1 class="sectionedit5" id="tutorial">Tutorial</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> CraftyJs Slides <a href="https://www.dropbox.com/s/dschkmzjyusfn4e/Tutorium_Computer_Games_2013.pdf" class="urlextern" title="https://www.dropbox.com/s/dschkmzjyusfn4e/Tutorium_Computer_Games_2013.pdf"  rel="nofollow">Link</a></div>
</li>
<li class="level1"><div class="li"> Unfinished Pong Game <a href="https://www.dropbox.com/sh/tk6vtkqkaqpjjcz/55T9nwBwJV" class="urlextern" title="https://www.dropbox.com/sh/tk6vtkqkaqpjjcz/55T9nwBwJV"  rel="nofollow">Link</a></div>
</li>
<li class="level1"><div class="li"> Finished Pong Game <a href="http://wwwu.edu.uni-klu.ac.at/miriegle/games/pongclone/pong.html" class="urlextern" title="http://wwwu.edu.uni-klu.ac.at/miriegle/games/pongclone/pong.html"  rel="nofollow">Link</a></div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Tutorial" [4063-] -->