<div class="row">
    <div class="col-md-12"><h1>Interaktive Multimedia-Anwendungen B (Computer Games)</h1></div>
    <div class="col-md-6"><h2>Introduction</h2>

        <p class="text-justify"> The goal of this course is to introduce students to computer game production. This is
            not necessarily a technical issue especially as game production involves mostly non-technical work like
            creative audio, 3D and visual design,product management and planning, story boarding &amp; writing, and
            testing. </p>

        <p class="text-justify"> The course has already taken place in previous years, so you might take a look at the
            <a href="?id=courses/gamesss14">old web page</a>. The lecture is given in German, but slides and homepage
            are written in English. For assignments you can choose between German and English language. </p></div>
    <div class="col-md-6"><h2>Modalities</h2>

        <p class="text-justify">The course aims to teach in a practical as well as in a theoretical way. Throughout the
            lecture you will have (i) readings, (ii) practical assignments, and (iii) a final game project. The readings
            are specific to the lecture topic and will be referenced from the web page. Make sure you read (or watch)
            them. Questions might pop up in the final multiple choice test. The final gradeis based on the (i)
            assignments as well as the final project and a (ii) final multiple choice test.</p></div>
</div>
<div class="row">
    <div class="col-md-12"><h2>Schedule &amp; Topics</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Place</th>
                <th>Topic</th>
                <th>Readings</th>
                <th>Downloads &amp; Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Mo, 02.03.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Introduction &amp; Initial project</td>
                <td><a href="https://www.youtube.com/watch?v=yH5MgEbBOps">Grounded: The Making of The Last of Us</a>
                </td>
                <td><a href="teaching/games15/games-ss15-01-modalities-first-project.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 09.03.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Games Business &amp; Age Ratings</td>
                <td><a href="http://store.steampowered.com/app/245550/">Free To Play</a>, <br><a
                        href="http://www.thesixthaxis.com/2013/08/22/the-ups-and-downs-of-the-casual-gaming-market/">The
                    Ups and downs of the casual gaming market</a></td>
                <td><a href="teaching/games15/games-ss15-02-business-ratings.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 16.03.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>History of Computer Games</td>
                <td><a href="https://www.youtube.com/watch?v=a1cr87XdEzU">Chasing Ghosts - Beyond the Arcade</a></td>
                <td><a href="teaching/games15/games-ss15-03-history.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 23.03.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Game Project 101</td>
                <td>Indie Games - The Movie</td>
                <td><a href="teaching/games15/games-ss15-04-game-dev-101.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 13.04.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Game Design part I</td>
                <td>
                    <a href="http://gamasutra.com/blogs/ArminIbrisagic/20150220/236427/Goat_Simulator_Post_Mortem.php?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+GamasutraNews+%28Gamasutra+News%29">Goat
                        Simulator Postmortem</a>, <br><a
                        href="http://www.gamasutra.com/view/news/234421/Postmortem_Monolith_Productions_Middleearth_Shadow_of_Mordor.php">Shadow
                    of Mordor Postmortem</a>, <br><a
                        href="http://gamasutra.com/blogs/ArminIbrisagic/20150220/236427/Goat_Simulator_Post_Mortem.php?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+GamasutraNews+%28Gamasutra+News%29">Doom's
                    horseshoe level design</a></td>
                <td>tba.</td>
            </tr>
            <tr>
                <td class="label-info">Fr, 17.04.2015</td>
                <td class="label-info">15-15:30</td>
                <td>E.2.42</td>
                <td>Game Jam Keynotes: René Schallegger</td>
                <td>&nbsp;</td>
                <td><a href="http://itec.aau.at/gamejam/">Game Jam web page</a></td>
            </tr>
            <tr>
                <td class="label-info">Fr, 17.04.2015</td>
                <td class="label-info">16-17</td>
                <td class="label-info">HS 1</td>
                <td>Game Jam Keynotes: M. Zechner &amp; J. Pirker</td>
                <td>&nbsp;</td>
                <td><a href="http://itec.aau.at/gamejam/">Game Jam web page</a></td>
            </tr>
            <tr style="text-decoration: line-through">
                <td>Mo, 20.04.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Cancelled.</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Mo, 27.04.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Game Design part II</td>
                <td>&nbsp;</td>
                <td><a href="teaching/games15/games-ss15-05-game-design.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 04.05.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Game Development Basics</td>
                <td>&nbsp;</td>
                <td><a href="teaching/games15/games-ss15-06-game-dev-basics.pdf">Slides</a>, <a href="teaching/games15/06_SampleGame.zip">Example</a></td>
            </tr>
            <tr>
                <td>Mo, 11.05.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Game Development Engines &amp; Frameworks</td>
                <td>&nbsp;</td>
                <td><a href="teaching/games15/games-ss15-07-game-dev-engines.pdf">Slides</a>, Examples <a href="teaching/games15/07_GdxTest.zip">A</a>, <a href="teaching/games15/07_PixiGame.zip">B</a> </td>
            </tr>
            <tr>
                <td>Mo, 18.05.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Game Development Toolchain & Physics</td>
                <td>&nbsp;</td>
                <td><a href="teaching/games15/games-ss15-08-game-dev-physics.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 01.06.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Gastvortrag: My Work at Daedalic, Gabriel Napetschnig</td>
                <td>&nbsp;</td>
                <td><a href="teaching/games15/gastvortrag_gabe_daedalic.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Mo, 15.06.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Student Presentations part I</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Mo, 22.06.2015</td>
                <td>12-14</td>
                <td>E.2.42</td>
                <td>Student Presentations part II</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><h2>Assignments</h2>

        <p class="text-justify"> All assignments as well as the final project are to be done in groups of three (or
            four) people. Please make sure you build the group asap to get running.</p></div>
    <div class="col-md-6"><h3>Assignment I - Pong</h3>

        <p class="text-justify"> Your task is to program a Pong clone in a web based environment of your choice. It
            should support two players, count points and have some audio (close to the original is ok). The Pong clone
            has to be finished until Apr 12th, 2015, 11:59 pm. Please send the zipped package with a short <a
                    href="http://stackoverflow.com/questions/8655937/github-readme-and-readme-md">README.md</a>
            including the names and student numbers of the group members. Please also put "[Games 15]" into the subject header.</p>

        <h3>Assignment II - Brainstorm a game</h3>

        <p class="text-justify"> Your task is to brainstorm a game with given constraints within your group. The
            constraints will be handed out in the course. The resulting game concept document should be no longer than
            two pages and submitted as PDF by email including the names and student numbers of the group members.
            Deadline May 3rd, 2015, 11:59 pm. Please send the zipped package with a short <a
                    href="http://stackoverflow.com/questions/8655937/github-readme-and-readme-md">README.md</a>
            including the names and student numbers of the group members. Please also put "[Games 15]" into the subject header.</p></div>
    <div class="col-md-6"><h3>Final project</h3>

        <p class="text-justify"> The final project is a game prototype of your choosing. Your group has to take care of
            the concept document, the implementation, the testing and the final presentation. The final presentation
            will be given at the end of the semester, in the course. Deliverables are: </p>
        <ul>
            <li>a game concept (2 pages max, PDF)</li>
            <li>a game postmortem (3 pages max, PDF)</li>
            <li>a final presentation (5-7 minutes of talking, PDF)</li>
            <li>a promotional video of your game (3 minutes max, MP4/AVC 1080p)</li>
            <li>the actual implementation (ZIP File)</li>
        </ul>
        <p class="text-justify">Note that the 2nd Klagenfurt Game Jam is a great opportunity to do your final project.
            In these 2 days you and your group can basically be done with all of the tasks.</p>

        <p class="text-center"><a href="http://itec.aau.at/gamejam/" class="btn btn-success">2<sup>nd</sup> Klagenfurt
            Game Jam</a></p></div>
    <br>
</div>
<div class="row">
    <div class="col-md-12 text-center"><span class="glyphicon glyphicon-arrow-down"></span></div>
</div>