
<h1 class="sectionedit1" id="vk_computer_games">VK Computer Games</h1>
<div class="level1">

<p>
The course Computer games offers the cumulative knowledge focusing on computer game development. Besides basics in mathematics, algorithms and data structures also common patterns and best practice in the area of computer game development are presented. In parallel to the actual course students develop games themselves (in groups of 3) as a practical task and present them at the end of the semester.
The lecture itself takes place mainly in 4 h blocks, whereas in each course block another aspect of game development is chosen as main topic. Topics are presented by a different experts. For the 2 to 4 industry talks at the end of the semester companies representatives will be invited. 
</p>

</div>
<!-- EDIT1 SECTION "VK Computer Games" [1-724] -->
<h2 class="sectionedit2" id="topics">Topics</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Introduction, Basics &amp; Research</div>
</li>
<li class="level1"><div class="li"> Games History &amp; Examples</div>
</li>
<li class="level1"><div class="li"> Game Maths</div>
</li>
<li class="level1"><div class="li"> Game Engines (2D)</div>
</li>
<li class="level1"><div class="li"> Input, Output &amp; Mobility</div>
</li>
<li class="level1"><div class="li"> Multimedia</div>
</li>
<li class="level1"><div class="li"> Artificial Intelligence</div>
</li>
<li class="level1"><div class="li"> 3D Games (optional)</div>
</li>
<li class="level1"><div class="li"> Multiplayer &amp; Networking</div>
</li>
<li class="level1"><div class="li"> Dev Kits &amp; Existing Engines</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Topics" [725-1011] -->
<h2 class="sectionedit3" id="schedule">Schedule</h2>
<div class="level2">

<p>
Time and location for each block can be found <a href="https://wwws.uni-klu.ac.at/uniklu/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=57952" class="urlextern" title="https://wwws.uni-klu.ac.at/uniklu/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=57952"  rel="nofollow">here</a>.
</p>
<ul>
<li class="level1"><div class="li"> 14.03. <strong>Introduction, Basics &amp; History</strong> (H. Pichler &amp; M. Lux)</div>
<ul>
<li class="level2"><div class="li"> Readings: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/readings/01%20-%20Games%20with%20a%20Purpose.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/readings/01%20-%20Games%20with%20a%20Purpose.pdf"  rel="nofollow">Games with a Purpose</a></div>
</li>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-01.pdf"  rel="nofollow">PDF</a></div>
</li>
<li class="level2"><div class="li"> Video links: <a href="http://www.youtube.com/watch?v=G0LtUX_6IXY" class="urlextern" title="http://www.youtube.com/watch?v=G0LtUX_6IXY"  rel="nofollow">Tetris</a>, <a href="http://www.youtube.com/watch?v=R0fCnf8uWxw" class="urlextern" title="http://www.youtube.com/watch?v=R0fCnf8uWxw"  rel="nofollow">Real Mario</a>, <a href="http://www.youtube.com/watch?v=bqWsH_F6j6U" class="urlextern" title="http://www.youtube.com/watch?v=bqWsH_F6j6U"  rel="nofollow">Donkey Kong</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 04.04. <strong>Design &amp; Basics, Game Engines</strong> (H. Pichler)</div>
<ul>
<li class="level2"><div class="li"> Slides: <a href="https://elearning.uni-klu.ac.at/moodle/mod/resource/view.php?id=29605" class="urlextern" title="https://elearning.uni-klu.ac.at/moodle/mod/resource/view.php?id=29605"  rel="nofollow">PDF in Moodle</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 11.04. <strong>Game Multimedia: Visuals</strong> (M. Lux)</div>
<ul>
<li class="level2"><div class="li"> Presented program (source): <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/SampleGame.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/SampleGame.zip"  rel="nofollow">SampleGame.zip</a></div>
</li>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-03.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-03.pdf"  rel="nofollow">PDF</a></div>
</li>
<li class="level2"><div class="li"> Video Links <a href="http://www.youtube.com/watch?v=3Xgw-qW7R7c" class="urlextern" title="http://www.youtube.com/watch?v=3Xgw-qW7R7c"  rel="nofollow">Presented prototype</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 18.04. <strong>Sound, Collisions, Multithreading and Architecture</strong> (H. Pichler &amp; M. Lux)</div>
<ul>
<li class="level2"><div class="li"> Readings: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/readings/02%20-%20Mobile%20Gaming.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/readings/02%20-%20Mobile%20Gaming.pdf"  rel="nofollow">Mobile Gaming</a></div>
</li>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-04-A.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-04-A.pdf"  rel="nofollow">Part A</a> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-04-B.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-04-B.pdf"  rel="nofollow">Part B</a></div>
</li>
<li class="level2"><div class="li"> Source Code: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/04-A.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/04-A.zip"  rel="nofollow">Part A</a> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/04-B.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/files/04-B.zip"  rel="nofollow">Part B</a></div>
</li>
<li class="level2"><div class="li"> Links: <a href="http://www.spriters-resource.com/" class="urlextern" title="http://www.spriters-resource.com/"  rel="nofollow">Sprites</a>, <a href="http://www.electrobel.be" class="urlextern" title="http://www.electrobel.be"  rel="nofollow">Music</a>, <a href="http://www.meanrabbit.com/wavhtml/wavepage.htm" class="urlextern" title="http://www.meanrabbit.com/wavhtml/wavepage.htm"  rel="nofollow">SFX</a></div>
</li>
<li class="level2"><div class="li"> Video Links: <a href="http://www.youtube.com/watch?v=xPv5lqpA4c4" class="urlextern" title="http://www.youtube.com/watch?v=xPv5lqpA4c4"  rel="nofollow">R-Type</a>, <a href="http://www.youtube.com/watch?v=zrRHAisdIRg" class="urlextern" title="http://www.youtube.com/watch?v=zrRHAisdIRg"  rel="nofollow">Giana Sister</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 25.04. <strong>Guest Lectures</strong> (R. Melcher, K. Sch&ouml;ffmann)</div>
<ul>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-05.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-05.pdf"  rel="nofollow">HCI part</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-05-B.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games08/slides/slides-05-B.pdf"  rel="nofollow">Networking part</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 20.06. <strong>Industry Talks &amp; Presentations</strong></div>
<ul>
<li class="level2"><div class="li"> 09:00-09:30 - Multiple Choice Test</div>
</li>
<li class="level2"><div class="li"> <em>09:30-09:40 - Coffee break</em></div>
</li>
<li class="level2"><div class="li"> 09:40-11:00 - Project Presentations 1-4</div>
</li>
<li class="level2"><div class="li"> 11:00-12:00 - Industry Talk: Stefan Berger, JoWood</div>
</li>
<li class="level2"><div class="li"> <em>12:00-13:00 - Lunch break</em></div>
</li>
<li class="level2"><div class="li"> 13:00-14:40 - Project Presentations 5-9</div>
</li>
<li class="level2"><div class="li"> <em>14:40-15:00 - Coffee break</em></div>
</li>
<li class="level2"><div class="li"> 15:00-17:00 - Project Presentations 10-15</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Schedule" [1012-3702] -->
<h2 class="sectionedit4" id="presentations">Presentations</h2>
<div class="level2">

<p>
Note that the number of the presentation gives the slot in above schedule when the presentation takes place.
</p>
<ol>
<li class="level1"><div class="li"> D&ouml;rflinger &amp; H&ouml;lbling - Shake our arms! (Arcade, Java)</div>
</li>
<li class="level1"><div class="li"> Echterhoff &amp; Essler - Folterball (Arcade, Java)</div>
</li>
<li class="level1"><div class="li"> Aigner, Iwanoff &amp; Oraze - Waiter Wars (Fun/Arcade, Java)</div>
</li>
<li class="level1"><div class="li"> Eberwein, Juch &amp; Hardt-Stremayr - Stones of Arcania (Adventure/RPG, Java/J2ME)</div>
</li>
<li class="level1"><div class="li"> Pum &amp; Urabl - Racer (2D-Racing, Java)</div>
</li>
<li class="level1"><div class="li"> Kropfberger, Heimgartner &amp; P&ouml;rtsch - BallroomBlitz! (Arcade, Java)</div>
</li>
<li class="level1"><div class="li"> Fauland, Garnik &amp; Korak - CG Warior (Beat&#039;em&#039;Up, Java)</div>
</li>
<li class="level1"><div class="li"> Pesjak &amp; Scheidenberger - PS:Minigolf (Sport/Arcade, Java)</div>
</li>
<li class="level1"><div class="li"> Fl&uuml;r, Kaufmann &amp; Messner - AirBattle (Flugsimulation, Java)</div>
</li>
<li class="level1"><div class="li"> Sperdin &amp; Theuermann - Bomb it up! (Bomb&#039;n&#039;run/Arcade, Java)</div>
</li>
<li class="level1"><div class="li"> Domanska, Sielach &amp; Skibinski - Snake 3D (Arcade, C#)</div>
</li>
<li class="level1"><div class="li"> Kopper, Penz &amp; Vinzek - XenonClone (SpaceShooter, Java)</div>
</li>
<li class="level1"><div class="li"> Ruthardt, Dolliner &amp; Irrasch - Anno 1491 (Strategie/MMOG, Java)</div>
</li>
<li class="level1"><div class="li"> Kraetschmer &amp; Zussner - Air Race Challenge (Simulation, Java)</div>
</li>
<li class="level1"><div class="li"> free</div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Presentations" [3703-4724] -->
<h2 class="sectionedit5" id="exam">Exam</h2>
<div class="level2">

<p>
Students enrolled in the course have to <strong>participate actively</strong> and have to do a <strong>course project</strong> (in groups of 3) and a <strong>presentation</strong> of the project within the semester. Furthermore a <strong>multiple choice test</strong> is done at the end of the semester based on the readings and the talks given throughout the semester. Grades are based on test results, project work and the final presentation. See the slides of the first block for more information.
</p>

</div>
<!-- EDIT5 SECTION "Exam" [4725-5192] -->
<h1 class="sectionedit6" id="sponsors_and_support">Sponsors and Support</h1>
<div class="level1">

<p>
We want to thank our sponsor and supporters:
</p>
<ul>
<li class="level1"><div class="li"> JoWooD Productions Software AG (<a href="http://www.jowood.com/" class="urlextern" title="http://www.jowood.com/"  rel="nofollow">http://www.jowood.com/</a>), especially Stefan Berger (Head of Product/Project Management), who will give an industry talk on game development projects discussing aspects of conceptual work, project management specifics in game dev industry, resources, marketing and QA.</div>
</li>
<li class="level1"><div class="li"> Microsoft Austria provides a speaker for the industry talks as well as a XBox for the best student project.</div>
</li>
<li class="level1"><div class="li"> OSIOS Online Platforms GmbH (<a href="http://www.osios.at" class="urlextern" title="http://www.osios.at"  rel="nofollow">http://www.osios.at</a>), especially Andreas Olipitz (CEO), who will give an industry talk about development of multiplayer browser games. OSIOS develops the massive multiplayer browser game <a href="http://www.projectdeepspace.de/" class="urlextern" title="http://www.projectdeepspace.de/"  rel="nofollow">Project Deep Space</a>.</div>
</li>
<li class="level1"><div class="li"> Further thanks go to the <a href="http://www.imagineclub.at" class="urlextern" title="http://www.imagineclub.at"  rel="nofollow">ImagineClub</a> for supporting the VK by networking and contacts.</div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Sponsors and Support" [5193-] -->