<h1>Computer Games</h1>
<p>
    The goal of this course is to introduce students to computer game production. This is not necessarily a technical
    issue especially as game production involves mostly non-technical work like creative audio, 3D and visual design,
    product management and planning, story boarding &amp; writing, and testing.
</p>

<p>
    The course has already taken place in previous years, so you might take a look at the <a
        href="/~mlux/wiki/doku.php?id=courses:gamesss13" class="wikilink1" title="courses:gamesss13">old web page</a>.
    The lecture is given in German, but slides and homepage are written in English. For assignments you can choose
    between German and English language.
</p>

<h1>Schedule &amp; Topics</h1>
<div class="level1">

    <p>
        Topics are:
    </p>
    <ul>
        <li class="level1">
            <div class="li"> Introduction &amp; Market</div>
        </li>
        <li class="level1">
            <div class="li"> History</div>
        </li>
        <li class="level1">
            <div class="li"> Game Design &amp; Game Projects</div>
        </li>
        <li class="level1">
            <div class="li"> Game Loop, Sprites &amp; Sound</div>
        </li>
        <li class="level1">
            <div class="li"> Game Engines, Game Physics</div>
        </li>
        <li class="level1">
            <div class="li"> Implementation Tutorials</div>
        </li>
    </ul>

    <p>
        Schedule, marked entries are outside the regular schedule:
    </p>
    <ul>
        <li class="level1">
            <div class="li"> Mo, 03.03.2014, 12-14, E.2.42: Introduction <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-01-modalities.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-01-modalities.pdf"
                    rel="nofollow">slides</a> (PDF, 488K)
            </div>
        </li>
        <li class="level1">
            <div class="li"> Mo, 10.03.2014, 12-14, E.2.42: Business of Games <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-02-introduction.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-02-introduction.pdf"
                    rel="nofollow">slides</a> (PDF, 2.7M)
            </div>
            <ul>
                <li class="level2">
                    <div class="li"><a
                            href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/download/Reading_1_The%20Ups%20And%20Downs%20Of%20The%20Casual%20Gaming%20Market.pdf"
                            class="urlextern"
                            title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/download/Reading_1_The%20Ups%20And%20Downs%20Of%20The%20Casual%20Gaming%20Market.pdf"
                            rel="nofollow">Reading 1</a> (PDF, 1.5M)
                    </div>
                </li>
                <li class="level2">
                    <div class="li"><a
                            href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/download/How%20Hard%20could%20it%20be%20-%20The%20Story%20of%20a%20cinematic%20by%20Brian%20Kindregan%20(Blizzard%20Entertainment)%20at%20GDC%20Europe%202013.mp4"
                            class="urlextern"
                            title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/download/How%20Hard%20could%20it%20be%20-%20The%20Story%20of%20a%20cinematic%20by%20Brian%20Kindregan%20(Blizzard%20Entertainment)%20at%20GDC%20Europe%202013.mp4"
                            rel="nofollow">Video 1</a> (MP4, 201M)
                    </div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li">
                <del>Mo, 17.03.2014 - canceled</del>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <del>Mo, 24.03.2014 - canceled</del>
            </div>
        </li>
        <li class="level1">
            <div class="li"> Mo, 31.03.2014 12-14, E.2.42: History of Games <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-03-history.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-03-history.pdf"
                    rel="nofollow">slides</a> (PDF, 1.4M)
            </div>
            <ul>
                <li class="level2">
                    <div class="li"> Video: <a href="https://www.youtube.com/watch?v=yH5MgEbBOps" class="urlextern"
                                               title="https://www.youtube.com/watch?v=yH5MgEbBOps" rel="nofollow">Grounded:
                        The Making of The Last Of Us</a> (YouTube)
                    </div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Mo, 07.04.2014 12-14, E.2.42: Game Design part 1 <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-04-design-01.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-04-design-01.pdf"
                    rel="nofollow">slides</a> (PDF, 2.2M)
            </div>
            <ul>
                <li class="level2">
                    <div class="li"> Video: <a href="https://www.youtube.com/watch?v=fiTEHqAeanw" class="urlextern"
                                               title="https://www.youtube.com/watch?v=fiTEHqAeanw" rel="nofollow">The
                        Gamers</a> (YouTube)
                    </div>
                </li>
                <li class="level2">
                    <div class="li"> Reading: <a
                            href="http://www.gamasutra.com/view/feature/132696/postmortem_double_fines_brutal_.php"
                            class="urlextern"
                            title="http://www.gamasutra.com/view/feature/132696/postmortem_double_fines_brutal_.php"
                            rel="nofollow">Postmortem Br&uuml;tal Legend</a></div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Mo, 28.04.2014, E.2.42: Game Design part 2 <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-05-design-02.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-05-design-02.pdf"
                    rel="nofollow">slides</a> (PDF, 899K)
            </div>
            <ul>
                <li class="level2">
                    <div class="li"> Exercise: Create a game concept document (see slides &amp; office door)</div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Mo, 05.05.2014, E.2.42: Game Loop <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-06-game-dev-basics.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-06-game-dev-basics.pdf"
                    rel="nofollow">slides</a> (PDF, 1.3M)
            </div>
            <ul>
                <li class="level2">
                    <div class="li"> Java Sample Game <a
                            href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/JavaSampleGame.zip"
                            class="urlextern"
                            title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/JavaSampleGame.zip"
                            rel="nofollow">download</a> (ZIP, 324K)
                    </div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Mo, 12.05.2014, E.2.42: Game Engines Examples <a
                    href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-07-game-dev-engines.pdf"
                    class="urlextern"
                    title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/games-ss14-07-game-dev-engines.pdf"
                    rel="nofollow">slides</a> (PDF, 1.2M)
            </div>
            <ul>
                <li class="level2">
                    <div class="li"> libGDX example <a
                            href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/GdxTest.zip" class="urlextern"
                            title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/GdxTest.zip" rel="nofollow">download</a>
                        (ZIP, 12M)
                    </div>
                </li>
                <li class="level2">
                    <div class="li"> Pixi.js example <a
                            href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/PixiTest.zip" class="urlextern"
                            title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games14/PixiTest.zip" rel="nofollow">download</a>
                        (ZIP, 42K)
                    </div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Mo, 19.05.2014, 12-14, E.2.42: Physics &amp; tools</div>
            <ul>
                <li class="level2">
                    <div class="li"> Sample game <a href="https://github.com/dermotte/memory-game-android"
                                                    class="urlextern"
                                                    title="https://github.com/dermotte/memory-game-android"
                                                    rel="nofollow">Github</a>, <a
                            href="https://play.google.com/store/apps/details?id=at.juggle.games.memory"
                            class="urlextern"
                            title="https://play.google.com/store/apps/details?id=at.juggle.games.memory" rel="nofollow">Google
                        Play</a></div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Mo, 26.05.2014, 12-14. E.2.42:</div>
        </li>
        <li class="level1">
            <div class="li">
                <del>Mo, 02.06.2014: canceled</del>
            </div>
        </li>
        <li class="level1">
            <div class="li"><img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:"/>
                <del>Mo, 16.06.2014, 12-14, E.2.42: Guest Talk: G. Napetschnig, Daedalic Entertainment</del>
            </div>
        </li>
        <li class="level1">
            <div class="li">
                <del>Mo, 23.06.2014, 12-14, E.2.42: Student Presentations</del>
            </div>
        </li>
        <li class="level1">
            <div class="li"> Mo, 30.06.2014, 12-14, E.2.42: Student Presentations</div>
        </li>
    </ul>

</div>
<!-- EDIT2 SECTION "Schedule & Topics" [604-3704] -->
<h1 class="sectionedit3" id="assignments">Assignments</h1>
<div class="level1">

    <p>
        You ultimate course assignment is to build a game (level) within groups of three. However, different training
        milestones are added to create a manifold and holistic learning experience.
    </p>
    <ol>
        <li class="level1">
            <div class="li"> Write a game concept</div>
            <ul>
                <li class="level2">
                    <div class="li"> A game concept document with given constraints (1-2 pages)</div>
                </li>
            </ul>
        </li>
        <li class="level1">
            <div class="li"> Implement the game (level)</div>
            <ul>
                <li class="level2">
                    <div class="li"> A concept (1-2 pages)</div>
                </li>
                <li class="level2">
                    <div class="li"> The actual game (level)</div>
                </li>
                <li class="level2">
                    <div class="li"> A postmortem document (2 pages)</div>
                </li>
                <li class="level2">
                    <div class="li"> A short video of the game (level)</div>
                </li>
                <li class="level2">
                    <div class="li"> A final presentation</div>
                </li>
            </ul>
        </li>
    </ol>

</div>
<!-- EDIT3 SECTION "Assignments" [3705-4202] -->
<h1 class="sectionedit4" id="grading">Grading</h1>
<div class="level1">

    <p>
        The final grade is based on the assignments and a final multiple choice test.
    </p>

</div>
<!-- EDIT4 SECTION "Grading" [4203-] -->