
<h1 class="sectionedit1" id="computer_games">Computer Games</h1>
<div class="level1">

<p>
The goal of this course is to introduce students to computer game production. This is not necessarily a technical issue especially as game production involves mostly non-technical work like creative audio, 3D and visual design, product management and planning, storyboarding &amp; writing, and testing.
</p>

<p>
The course has already taken place in summer semester 2011, so you might take a look at the <a href="/~mlux/wiki/doku.php?id=courses:gamesss11" class="wikilink1" title="courses:gamesss11">old web page</a>.
</p>

<p>
Ther lecture is given in German, but slides and homepage are written in English. For assignments you can choose between German and English language.
</p>

</div>
<!-- EDIT1 SECTION "Computer Games" [1-609] -->
<h1 class="sectionedit2" id="schedule_topics">Schedule &amp; Topics</h1>
<div class="level1">

<p>
All events take place in <strong>E.2.42</strong>
</p>
<ul>
<li class="level1"><div class="li"> 05.3. 14-16 c.t. - Introduction, Modalities <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-01-modalities.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-01-modalities.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> 16.3. 12-18 c.t. - Market <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-02a-introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-02a-introduction.pdf"  rel="nofollow">slides</a>, History <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-02b-history.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-02b-history.pdf"  rel="nofollow">slides</a>, Hands-On <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-02c-hands-on.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-02c-hands-on.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> 26.3. 8.30-10 s.t. &amp; 14-16 c.t. - Game Design <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-03-design-01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-03-design-01.pdf"  rel="nofollow">slides part 1</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-04-design-02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/games12/slides/games-ss12-04-design-02.pdf"  rel="nofollow">slides part 2</a></div>
<ul>
<li class="level2"><div class="li"> Readings: <a href="http://www.gamasutra.com/view/feature/4308/postmortem_double_fines_brutal_.php" class="urlextern" title="http://www.gamasutra.com/view/feature/4308/postmortem_double_fines_brutal_.php"  rel="nofollow">Br&uuml;tal Legend Post Mortem</a></div>
</li>
<li class="level2"><div class="li"> Create your game concept here: <a href="http://www.itec.uni-klu.ac.at/~mlux/games12/doku.php" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/games12/doku.php"  rel="nofollow">Wiki</a> (g+mes12/edit+r … replace &#039;+&#039; with correct letters) </div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 16.4. 8.30-10 s.t. &amp; 14-16 c.t. - Game Development</div>
</li>
<li class="level1"><div class="li"> 04.6. 14-16 c.t. - Intermediate Report</div>
</li>
<li class="level1"><div class="li"> 18.6. 8.30-10 s.t. &amp; 14-16 c.t. - Final Presentations</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Schedule & Topics" [610-1875] -->
<h1 class="sectionedit3" id="assignments">Assignments</h1>
<div class="level1">

<p>
You course assignment is to build a game (level). Deliverables include:
</p>
<ul>
<li class="level1"><div class="li"> A game concept document (2 pages)</div>
</li>
<li class="level1"><div class="li"> An intermediate presentation</div>
</li>
<li class="level1"><div class="li"> The actual game (level)</div>
</li>
<li class="level1"><div class="li"> A postmortem document (2 pages)</div>
</li>
<li class="level1"><div class="li"> A short video of the game (level)</div>
</li>
<li class="level1"><div class="li"> A final presentation</div>
</li>
</ul>

<p>
If you decide to create a game level I recommend to use Little Big Planet (either 1, 2 or PSP). You can do your work within the tutorial. A limited number of PS3 and PSP Systems will be provided. 
</p>

<p>
If you decide to build a game yourself I recommend to use a game engine or framework like <a href="http://code.google.com/p/libgdx/" class="urlextern" title="http://code.google.com/p/libgdx/"  rel="nofollow">libGDX</a>, <a href="http://jawsjs.com/" class="urlextern" title="http://jawsjs.com/"  rel="nofollow">Jaws JS</a> or <a href="http://create.msdn.com/en-US/" class="urlextern" title="http://create.msdn.com/en-US/"  rel="nofollow">MS XNA</a>. Make sure your game project can be delivered in time (don&#039;t ask for the moon in your concept document).
</p>

<p>
In the intermediate presentation you should present your game concept and optionally a working first prototype. The final presentation should cover the final result, the video and the post mortem.
</p>

</div>
<!-- EDIT3 SECTION "Assignments" [1876-2885] -->
<h2 class="sectionedit4" id="intermediate_presentation">Intermediate Presentation</h2>
<div class="level2">

<p>
Each group has up to 5 minutes presentation time. Your slides (no more than 8) should focus on:
</p>
<ol>
<li class="level1"><div class="li"> Title of your game, members of the group</div>
</li>
<li class="level1"><div class="li"> Game design abstract &amp; key features (up to 4 slides)</div>
</li>
<li class="level1"><div class="li"> Current state</div>
</li>
<li class="level1"><div class="li"> Work plan</div>
</li>
</ol>

<p>
If there is already a working prototype we&#039;d greatly appreciate a video or some screenshots. Bring the slides on a USB drive (PDF, PPT) or present with your own computer.
</p>

</div>
<!-- EDIT4 SECTION "Intermediate Presentation" [2886-3327] -->
<h2 class="sectionedit5" id="final_presentation">Final Presentation</h2>
<div class="level2">

<p>
Each group has up to 12 minutes of presentation time. Your slides should focus on:
</p>
<ol>
<li class="level1"><div class="li"> Title of your game, members of the group</div>
</li>
<li class="level1"><div class="li"> Short description &amp; key features</div>
</li>
<li class="level1"><div class="li"> Trailer and demo</div>
</li>
<li class="level1"><div class="li"> Post mortem</div>
</li>
</ol>

<p>
Bring the slides on a USB drive (PDF, PPT) or present with your own computer. If you present a LBP Level make sure you either put it online or you bring it along on a USB Stick.
</p>

</div>
<!-- EDIT5 SECTION "Final Presentation" [3328-3741] -->
<h2 class="sectionedit6" id="submission">Submission</h2>
<div class="level2">

<p>
Each group has to submit
</p>
<ol>
<li class="level1"><div class="li"> game concept document (2 pages)</div>
</li>
<li class="level1"><div class="li"> actual game (level)</div>
</li>
<li class="level1"><div class="li"> postmortem document (2 pages)</div>
</li>
<li class="level1"><div class="li"> trailer</div>
</li>
<li class="level1"><div class="li"> presentation slides</div>
</li>
</ol>

<p>
until <strong>Monday, June 25th, midnight</strong>.
</p>

</div>
<!-- EDIT6 SECTION "Submission" [3742-3959] -->
<h1 class="sectionedit7" id="exam">Exam</h1>
<div class="level1">

<p>
The final grade is based on (i) assignments handed out in the course (2-3), (ii) your project work and presentation and (iii) a multiple choice test. 
</p>

<p>
Students have to enroll to the exam (one of two possible schedules):
</p>
<ul>
<li class="level1"><div class="li"> Either: 26.06.2012, 18:00- 19:00, E.2.42</div>
</li>
<li class="level1"><div class="li"> Or: 11.07.2012, 18:00-19:00, E.2.42</div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Exam" [3960-] -->