<!--- ------------------- MAIN ------------------- -->
<p>
    This course aims to communicate a basic understanding of digital media on the computer. Topics include
    coding, storage and transmission of audio, image and video data as well as text and hypertext data.
</p>

<p>
    Find the slides and course materials here: <a
        href="https://drive.google.com/folderview?id=0B8x2stWZlk6UOFBvVmpfZTJCZUE&amp;usp=sharing"
        class="urlextern"
        title="https://drive.google.com/folderview?id=0B8x2stWZlk6UOFBvVmpfZTJCZUE&amp;usp=sharing"
        rel="nofollow">Slides download</a>
</p>

<p>
    The metadata lecture is available via video: <a href="http://youtu.be/L9YIWnvI5V8" class="urlextern"
                                                    title="http://youtu.be/L9YIWnvI5V8" rel="nofollow">http://youtu.be/L9YIWnvI5V8</a>
</p>
