<!--- ------------------- MAIN ------------------- -->
<div class="row">
    <div class="col-md-12">
        <h1>Introduction to Media Informatics WS 2015-2016</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h1>Course Goals</h1>
        <p>
            This course aims to communicate a basic understanding of digital media on the computer. Topics include
            coding, storage and transmission of audio, image and video data to give a technical overview on how media
            technologies are built and used throughout daily life. We discuss text and hypertext data and how textual
            data is encoded and transmitted and we discuss necessary related topics like cryptography and security,
            licensing, human perception and metadata.
        </p>
        <p>
            The slides of the 2014 version of the course are available as <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mediatech15/slides-ws-14-15.pdf">PDF</a>.
        </p>
    </div>
    <div class="col-md-6">
        <h1>Course Topics</h1>
        <ul>
            <li>
                <div class="li"> Introduction: Human perception, licenses, cryptography</div>
            </li>
            <li>
                <div class="li"> Text: text formats, hypertext</div>
            </li>
            <li>
                <div class="li"> Information retrieval &amp; web search</div>
            </li>
            <li>
                <div class="li"> Digital images: color spaces, image formats, image manipulation</div>
            </li>
            <li>
                <div class="li"> Digital video: formats, compression, delivery</div>
            </li>
            <li>
                <div class="li"> Digital audio: signal processing basics, formats, compression, manipulation</div>
            </li>
            <li>
                <div class="li"> Metadata: formats, ontologies, use cases</div>
            </li>
        </ul>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <h1>Readings &amp; Materials</h1>
        <p>
            Note that the readings, videos and the interactive educational game are mandatory readings and will be used
            as source for questions in the final exam.
        </p>
        <ul>
            <li><a href="http://www.ted.com/talks/larry_lessig_says_the_law_is_strangling_creativity">Laws that choke
                creativity</a> (Lawrence Lessig, 2007) - a TED talk by Lawrence Lessig, the main mind behind the
                Creative Commons License. Freely available on the internet
            </li>
            <li>Read <a href="http://craphound.com/msftdrm.txt">http://craphound.com/msftdrm.txt</a> (Cory Doctorow, 2004).
                Other formats are available on the page (ebook, audiobook) </li>
            <li>Read and watch <a href="http://creativecommons.org/about">http://creativecommons.org/about</a> to learn
                about the creative commons licenses.</li>
            <li>Type:Rider (BulkyPix 2013) - an educational game on the history of type, available on <a
                    href="http://store.steampowered.com/app/258890/">Steam</a>, <a
                    href="https://itunes.apple.com/us/app/type-rider/id667443268?mt=8">iOS App Store</a> and <a
                    href="https://play.google.com/store/apps/details?id=com.bulkypix.typerider">Google Play</a>. The first
                five levels can be played online at <a href="http://typerider.arte.tv/">http://typerider.arte.tv/</a>.</li>
            <li><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.308.2648&rep=rep1&type=pdf">Aesthetics
                and Emotions in Images</a> (D. Joshi et al., 2011) - a tutorial paper on how computer science tries to
                tackle the problem of inferring and determining image aesthetics and emotions. NOTE: reading is only
                required up to including the chapter "Key Problems In Aesthetics And Emotions Inference" (ends with 2nd
                paragraph on page 104)
            </li>
            <li><a href="http://youtu.be/L9YIWnvI5V8">Metadata</a> - a video lecture recorded 2014 on the topic of
                metadata.
            </li>
            <li><a href="https://www.youtube.com/watch?v=7R6WtKXgOOE">Audio</a> - a video lecture recorded 2015 on the topic of
                audio.
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h1>Modalities and Grading</h1>
        <p>The course is held in English. At the end of the course an exam will be used to determine the final grade.
            There is one single written exam for the course per year. Additional exams are possible, but they will be
            oral and scheduled upon request of the student.
        </p>
        <h1>Exam &amp; Preparation</h1>
        <p>The exam will take place on Friday, 22nd of January 2016, at 2pm. It's a multiple choice test with a few open
            questions. For answering the exam there will be 60 minutes of time. This is the only written exam. If there
            is need for an alternative date & location additional oral exames can be requested by e-mail.
        </p>
        <p>An additional, optional Q&amp;A round is offered on Monday, 18th of January 2016, from 3-5pm on Google
            Hangout. The link will be posted here on the web site. </p>
        <!--p><a href="https://hangouts.google.com/call/bqdzjjor2x2pxa5fb6y23hcq54a" class="btn btn-success btn-lg center-block">Join the Hangout</a></p-->
        <h1>Downloads</h1>
        <p><a href="teaching/mediainformatik2015/slides.zip" class="btn btn-success btn-lg center-block"><i
                class="glyphicon glyphicon-download"></i> Slides &amp; Exam Questions</a></p>
    </div>
</div>
