<div class="row">
    <div class="col-md-12"><h1>Multimedia Information Systems</h1></div>
    <div class="col-md-4"><h2>Introduction</h2>

        <p class="text-justify"> The course multimedia information aims to give an overview on multimedia information
            retrieval, multimedia databases and multimedia metadata. The course also took place in summer semesters in 2015
            and years previous to that. You can find a page and all the slides of the former courses, like <a
                    href="?id=courses/mmisss15">here</a>. A large part of the course is based on the book "Visual
            Information Retrieval with Java and LIRE" by M. Lux and O. Marques (see <a
                    href="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025">here</a>) </p></div>
    <div class="col-md-8"><h2>Grading and Modalities</h2>

        <p>Grading is based on 3 main factors with a 1/3 weighting each.</p>
        <ul>
            <li>Exercises: Do the exercises handed out through the course and finish the exercises with running a linear
                search on the Ferrari data set for your descriptor (see slides)
            </li>
            <li>Project: Choose a project in the context of (visual) information retrieval, multimedia analysis or
                multimedia information system and implement a solution.
            </li>
            <li>Project Presentation: Present your project including motivation, approach and results.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><h2>Schedule and Materials</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Place</th>
                <th>Topic</th>
                <th>Readings / Exercises</th>
                <th>Downloads</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>07.03.</td>
                <td>8:30-10:00</td>
                <td>E.2.42</td>
                <td>Introduction</td>
                <td>&nbsp;</td>
                <td><a href="/~mlux/teaching/mmis17/01_introduction.pdf">slides</a></td>
            </tr>
            <tr>
                <td>22.03.</td>
                <td>8:30-12:00</td>
                <td>E.2.42</td>
                <td>Information Retrieval</td>
                <td><a href="/~mlux/teaching/mmis17/mmis-ex01.py">mmis-ex01.py</a>, <a href="/~mlux/teaching/mmis17/mmis-ex01.xls">mmis-ex01.xls</a>, <a href="/~mlux/teaching/mmis17/mmis-ex03.txt">mmis-ex03.txt (R)</a></td>
                <td><a href="/~mlux/teaching/mmis17/02_information_retrieval_01.pdf">slides A</a>, <a href="/~mlux/teaching/mmis17/03_information_retrieval_02.pdf">slides B</a></td>
            </tr>
            <tr>
                <td>28.03.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Retrieval Evaluation I</td>
                <td><a href="/~mlux/teaching/mmis17/mmis-ex03.xls">precision-recall plot</a></td>
                <td><a href="/~mlux/teaching/mmis17/04_retrieval_evaluation.pdf">slides</a></td>
            </tr>
            <tr>
                <td>04.04.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Image Features I</td>
                <td>&nbsp;</td>
                <td><a href="/~mlux/teaching/mmis17/05_image_retrieval_01a.pdf">slides</a></td>
            </tr>
            <tr>
                <td>25.04.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Image Features II</td>
                <td>&nbsp;</td>
                <td>see above</td>
            </tr>
            <tr>
                <td>02.05.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Image Features III</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>23.05.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Image Features IV</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>30.05.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Indexing</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>13.06.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Deep Learning</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>27.06.</td>
                <td>10:00-12:00</td>
                <td>E.2.69</td>
                <td>Student Presentations</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Exercises</h2>
        <p>Note that the numbers of the exercises are somewhat messed up, so exercise 3 is named "2" in some slides, exercise 4 is named "3" in nearly all slides.</p>
        <ul>
            <li>Exercise 1 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis17/02_information_retrieval_01.pdf">see slides 02_information_retrieval_01.pdf, p. 48+</a></li>
            <li>Exercise 2 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis17/02_information_retrieval_01.pdf">see slides 02_information_retrieval_01.pdf, p. 51+</a></li>
            <li>Exercise 3 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis17/03_information_retrieval_02.pdf">see slides 03_information_retrieval_02.pdf, p. 42</a></li>
            <li>
                Exercise 4 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis17/04_retrieval_evaluation.pdf">see slides 04_retrieval_evaluation.pdf, p. 43</a>, data see
                <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis17/mmis-ex03.xls">mmis-ex03.xls</a></li>
        </ul>
    </div>
</div>