
<h1 class="sectionedit1" id="multimedia_information_systems">Multimedia Information Systems</h1>
<div class="level1">

<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. The course also took place in summer semester 2007. You can find a page and all the slides <a href="/~mlux/wiki/doku.php?id=courses:mmisss07" class="wikilink1" title="courses:mmisss07">here</a>.
</p>

</div>
<!-- EDIT1 SECTION "Multimedia Information Systems" [1-306] -->
<h2 class="sectionedit2" id="topics">Topics</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Introduction, Motivation, Information Theory &amp; Systems </div>
</li>
<li class="level1"><div class="li"> Information Retrieval</div>
</li>
<li class="level1"><div class="li"> Web based IR, PageRank, HITS </div>
</li>
<li class="level1"><div class="li"> Network Analysis &amp; Social Networks (Guest Lecture)</div>
</li>
<li class="level1"><div class="li"> Multimedia Metadata</div>
</li>
<li class="level1"><div class="li"> Image Analysis and Content Based Image Retrieval</div>
</li>
<li class="level1"><div class="li"> Audio &amp; Sound Analysis</div>
</li>
<li class="level1"><div class="li"> Video Information Systems</div>
</li>
<li class="level1"><div class="li"> Multimedia Databases </div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "Topics" [307-663] -->
<h2 class="sectionedit3" id="exam">Exam</h2>
<div class="level2">

<p>
Students enrolled in the course have to participate actively (solve a few mandatory exercises and discuss results within the course) and have to do a course project (in small groups) and a presentation of the project within the semester. Grades are based on:
</p>
<ul>
<li class="level1"><div class="li"> 1/3 participation</div>
</li>
<li class="level1"><div class="li"> 1/3 project</div>
</li>
<li class="level1"><div class="li"> 1/3 presentation</div>
</li>
</ul>

<p>
Possible projects will be listed within the next weeks. Furthermore students can suggest projects themselves. One example for a successful projects is the image mosaic feature in the Lire Demo (see <a href="http://www.semanticmetadata.net/lire/" class="urlextern" title="http://www.semanticmetadata.net/lire/"  rel="nofollow">here</a>). Programming skills are required for the projects, the scope and language however are subject to discussion and can be chosen by the groups.
</p>

</div>
<!-- EDIT3 SECTION "Exam" [664-1390] -->
<h2 class="sectionedit4" id="schedule_slides_exercises">Schedule, Slides &amp; Exercises</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> 04.03. <strong>Introduction</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="https://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-01.pdf" class="urlextern" title="https://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-01.pdf"  rel="nofollow">Download PDF</a></div>
</li>
<li class="level2"><div class="li"> Readings: <a href="https://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/readings/01%20-%20Rijsbergen%20-%20Information%20Retrieval%20-%20Introduction.pdf" class="urlextern" title="https://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/readings/01%20-%20Rijsbergen%20-%20Information%20Retrieval%20-%20Introduction.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 11.03. <strong>Information Retrieval</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-02.pdf"  rel="nofollow">Download PDF</a></div>
</li>
<li class="level2"><div class="li"> Readings: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/readings/02%20-%20Meyer%20zu%20Eissen%20-%20Suffix%20Tree%20Model.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/readings/02%20-%20Meyer%20zu%20Eissen%20-%20Suffix%20Tree%20Model.pdf"  rel="nofollow">Download PDF</a> <img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> not mandatory</div>
</li>
<li class="level2"><div class="li"> Exercise: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex01.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex01.xls"  rel="nofollow">Download Excel</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 18.03. <strong>Information Retrieval 2 &amp; Retrieval Evaluation</strong> (4 h Block)</div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-03.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-03.pdf"  rel="nofollow">Download PDF</a></div>
</li>
<li class="level2"><div class="li"> Exercise: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex02.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex02.xls"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 01.04. <strong>(Social) Network Analysis</strong> Guest Lecture <a href="http://kmi.tugraz.at/staff/markus/" class="urlextern" title="http://kmi.tugraz.at/staff/markus/"  rel="nofollow">Markus Strohmaier</a></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-04-social-network-analysis.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-04-social-network-analysis.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 08.04. <strong>Image Analysis</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-05.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-05.pdf"  rel="nofollow">Download PDF</a></div>
</li>
<li class="level2"><div class="li"> Exercise: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex03.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex03.zip"  rel="nofollow">Download ZIP</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 15.04. <strong>Video Analysis I</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-06.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-06.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 22.04. <strong>Video Analysis II</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-07.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-07.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 29.04. <strong>Indexing: Spatial Indexes, FastMap &amp; Clustering</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-08.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-08.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 06.05. <strong>Multimedia Metadata I</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-09.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-09.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 20.05. <strong>Multimedia Metadata II</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-10.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-10.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 27.05. <strong>Retrieval in the WWW (Crawling, PageRank &amp; HITS)</strong></div>
<ol>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-11.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/slides/slides-11.pdf"  rel="nofollow">Download PDF</a></div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 03.06. <strong>Project Presentations I</strong></div>
<ol>
<li class="level2"><div class="li"> Video summaries of medical videos (P&ouml;rtsch)</div>
</li>
<li class="level2"><div class="li"> Mining related tags in Flickr (Pitman)</div>
</li>
<li class="level2"><div class="li"> LSA for music metadata (Jonke &amp; Waltl)</div>
</li>
</ol>
</li>
<li class="level1"><div class="li"> 10.06. <em>entf&auml;llt</em></div>
</li>
<li class="level1"><div class="li"> 17.06. <em>entf&auml;llt</em></div>
</li>
<li class="level1"><div class="li"> 24.06. <strong>Project Presentations II</strong></div>
<ol>
<li class="level2"><div class="li"> Locality sensitive hashing (Kofler &amp; Pasterk)</div>
</li>
<li class="level2"><div class="li"> Image Features (Finke &amp; Unterzaucher)</div>
</li>
<li class="level2"><div class="li"> Seam Carving for non square pixels (Wanschou)</div>
</li>
<li class="level2"><div class="li"> Retrieval of intentions (Doliner &amp; Irrasch)</div>
</li>
<li class="level2"><div class="li"> YouTube usage survey (Bartha)</div>
</li>
</ol>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Schedule, Slides & Exercises" [1391-4314] -->
<h2 class="sectionedit5" id="projects">Projects</h2>
<div class="level2">

<p>
Following projects have already been assigned:
</p>
<ul>
<li class="level1"><div class="li"> Video summaries of medical videos (P&ouml;rtsch)</div>
</li>
<li class="level1"><div class="li"> Mining related tags in Flickr (Pitman)</div>
</li>
<li class="level1"><div class="li"> LSA for music metadata (Jonke &amp; Waltl)</div>
</li>
<li class="level1"><div class="li"> YouTube usage survey (Bartha)</div>
</li>
<li class="level1"><div class="li"> Locality sensitive hashing (Kofler &amp; Pasterk)</div>
</li>
<li class="level1"><div class="li"> Image Features (Finke &amp; Unterzaucher)</div>
</li>
<li class="level1"><div class="li"> Seam Carving for non square pixels (Wanschou)</div>
</li>
<li class="level1"><div class="li"> Retrieval of intentions (Doliner &amp; Irrasch)</div>
</li>
</ul>

<p>
For the final presentations at least 5 slides have to be prepared. If an implementation was part of the project please also prepare a demo. The whole project team has to talk within the presentation. Presentations should last no longer than 15 minutes + 5 minutes discussion time. Please send me the slides at least one day in advance.
</p>

</div>
<!-- EDIT5 SECTION "Projects" [4315-5080] -->
<h2 class="sectionedit6" id="additional_materials">Additional materials</h2>
<div class="level2">

<p>
Following materials are not mandatory but provide additional information for the interested reader: 
</p>
<ul>
<li class="level1"><div class="li"> Distributed Multimedia Database Technologies supported by MPEG-7 and MPEG-21, Harald Kosch, CRC Press</div>
</li>
<li class="level1"><div class="li"> Modern Information Retrieval, Ricardo Baeza-Yates &amp; Berthier Ribeiro-Neto, Addison Wesley</div>
</li>
<li class="level1"><div class="li"> Google&#039;s Pagerank and Beyond: The Science of Search Engine Rankings, Amy N. Langville &amp; Carl D. Meyer, University Presses of CA</div>
</li>
<li class="level1"><div class="li"> Skriptum Information Retrieval, Norbert Fuhr, Lecture Notes on Information Retrieval - Univ. Dortmund, 1996. Updated in 2006, Retrieved from <a href="http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf" class="urlextern" title="http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf"  rel="nofollow">http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf</a> on [2008-01-22]</div>
</li>
<li class="level1"><div class="li"> Lectures on Information Retrieval: Third European Summer-School, Essir 2000 Varenna, Italy, Revised Lectures, Maristella Agosti, Fabio Crestani &amp; Gabriela Pasi (eds.), Lecture Notes in Computer Science, Springer 2000.</div>
</li>
<li class="level1"><div class="li"> Information Retrieval 2nd Edt., C.J. Rijsbergen, Butterworth, London 1979, Retrieved from <a href="http://www.dcs.gla.ac.uk/Keith/Preface.html" class="urlextern" title="http://www.dcs.gla.ac.uk/Keith/Preface.html"  rel="nofollow">http://www.dcs.gla.ac.uk/Keith/Preface.html</a> on [2008-01-22]</div>
</li>
<li class="level1"><div class="li"> Recommended reading for IR research students, Alistair Moffat, Justin Zobel, David Hawking, SIGIR Forum Vol. 39 (2), Dec. 2005, available at <a href="http://doi.acm.org/10.1145/1113343.1113344" class="urlextern" title="http://doi.acm.org/10.1145/1113343.1113344"  rel="nofollow">http://doi.acm.org/10.1145/1113343.1113344</a></div>
</li>
<li class="level1"><div class="li"> An Introduction to Latent Semantic Analysis, Landauer, T.K., Foltz, P.W., Laham, D. (1998) Discourse Processes, 25, 259-284 <a href="http://lsa.colorado.edu/papers/dp1.LSAintro.pdf" class="urlextern" title="http://lsa.colorado.edu/papers/dp1.LSAintro.pdf"  rel="nofollow">http://lsa.colorado.edu/papers/dp1.LSAintro.pdf</a></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Additional materials" [5081-6542] -->
<h1 class="sectionedit7" id="license_and_copyright">License and Copyright</h1>
<div class="level1">

<p>
All slides and course materials are shared under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" class="urlextern" title="http://creativecommons.org/licenses/by-nc-sa/2.0/"  rel="nofollow">Attribution-Non-Commercial-Share Alike 2.0 Creative Commons License</a>
This means you can use them as long as you don&#039;t get rich by using them and you state that you got them from me. Derivative work has to be shared using a similar license. 
Consult the above link for more details.
</p>

</div>
<!-- EDIT7 SECTION "License and Copyright" [6543-] -->