
<h1 class="sectionedit1" id="multimedia_information_systems">Multimedia Information Systems</h1>
<div class="level1">

<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. The course also took place in summer semester 2011, 2010, 2009, 2008 and 2007. You can find a page and all the slides of the former courses <a href="/~mlux/wiki/doku.php?id=courses:mmisss07" class="wikilink1" title="courses:mmisss07">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss08" class="wikilink1" title="courses:mmisss08">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss09" class="wikilink1" title="courses:mmisss09">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss10" class="wikilink1" title="courses:mmisss10">here</a>, and  <a href="/~mlux/wiki/doku.php?id=courses:mmisss11" class="wikilink1" title="courses:mmisss11">here</a>.
</p>

</div>
<!-- EDIT1 SECTION "Multimedia Information Systems" [1-468] -->
<h2 class="sectionedit2" id="slides_exercises">Slides &amp; Exercises</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 06.03. - Introduction</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/01_introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/01_introduction.pdf"  rel="nofollow">download</a> (PDF, 1.8M)</div>
</li>
<li class="level2"><div class="li"> exercise 01 - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/readings/Rijsbergen_IR_Introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/readings/Rijsbergen_IR_Introduction.pdf"  rel="nofollow">readings</a> (PDF, 133K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 13.03. - Information Retrieval I</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/02_information_retrieval_01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/02_information_retrieval_01.pdf"  rel="nofollow">download</a> (PDF, 926K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 20.03. - Information Retrieval II</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/03_information_retrieval_02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/03_information_retrieval_02.pdf"  rel="nofollow">download</a> (PDF, 1.2M)</div>
</li>
<li class="level2"><div class="li"> mmis-ex01.xls - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/mmis-ex01.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/mmis-ex01.xls"  rel="nofollow">download</a> (XLS, 23K)</div>
</li>
<li class="level2"><div class="li"> mmis-ex02.txt - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/mmis-ex02.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/mmis-ex02.txt"  rel="nofollow">download</a> (TXT, R-code, &lt;1K), <a href="http://www.r-project.org/" class="urlextern" title="http://www.r-project.org/"  rel="nofollow">R project</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 27.03. - Retrieval Evaluation</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/04_retrieval_evaluation.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/04_retrieval_evaluation.pdf"  rel="nofollow">download</a> (PDF, 770K)</div>
</li>
<li class="level2"><div class="li"> mmis-ex03.xls - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/mmis-ex03.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/mmis-ex03.xls"  rel="nofollow">download</a> (XLS, 31K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 17.04. - Image Retrieval: Global Features I</div>
</li>
<li class="level1"><div class="li"> 24.04. - Image Retrieval: Global Features II</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/05_image_retrieval_01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/05_image_retrieval_01.pdf"  rel="nofollow">download</a> (PDF, 1.9M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 08.05. - Image Retrieval: Local Features</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/06_image_retrieval_02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/06_image_retrieval_02.pdf"  rel="nofollow">download</a> (PDF, 888K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 15.05. - Clustering</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/07_clustering.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/07_clustering.pdf"  rel="nofollow">download</a> (PDF, 1.6M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <del>22.05. - entf&auml;llt</del></div>
</li>
<li class="level1"><div class="li"> 05.06. - Indexing</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/08_indexing.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/08_indexing.pdf"  rel="nofollow">download</a> (PDF, 1.2M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 12.06. - Audio</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/09_audio.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/09_audio.pdf"  rel="nofollow">download</a> (PDF, 939K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 19.06. - Web Retrieval</div>
<ul>
<li class="level2"><div class="li"> slides - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/10_web_retrieval.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/slides/10_web_retrieval.pdf"  rel="nofollow">download</a> (PDF, 1.2M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 26.06. - Project presentations</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Slides & Exercises" [469-2700] -->
<h2 class="sectionedit3" id="grading_project_modalities">Grading &amp; Project Modalities</h2>
<div class="level2">

<p>
Grading is based on 3 main factors with a 1/3 weighting each.
</p>
<ol>
<li class="level1"><div class="li"> Exercises: Do the exercises handed out through the course and finish the exercises with getting a average precision at 10 (p@10) on the Wang data set for your descriptor (see below)</div>
</li>
<li class="level1"><div class="li"> Project: Choose a project in the contex of (visual) information retrieval, multimedia analysis or multimedia information system and implement a solution.</div>
</li>
<li class="level1"><div class="li"> Project Presentation: Present your project including motivation, approach and results.</div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Grading & Project Modalities" [2701-3240] -->
<h3 class="sectionedit4" id="exercises_4_5">Exercises 4 + 5</h3>
<div class="level3">

<p>
Your task for exercise 4 is to implement a global image descriptor. Focus is on fuzzy color, but you can choose color space (RGB, HSV, etc.) and optional extensions (joint histogram etc.).
</p>

<p>
Exercise 5 then is to test your global image descriptor on the <a href="http://wang.ist.psu.edu/docs/related/" class="urlextern" title="http://wang.ist.psu.edu/docs/related/"  rel="nofollow">Wang Simplicity 1,000 data set</a>. It&#039;s composed of 10 categories with 100 images each. Pick images from different categories and do a linear search with your global image descriptor. Evaluate its performance based on precision at 10 (p@10). Send me the final averaged value.
</p>

</div>
<!-- EDIT4 SECTION "Exercises 4 + 5" [3241-3835] -->
<h2 class="sectionedit5" id="course_materials">Course Materials</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Test data set on Ferraris including images and metadata: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/ferrari.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/ferrari.zip"  rel="nofollow">ferrari.zip</a> (ZIP, 43M)</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Course Materials" [3836-4023] -->
<h2 class="sectionedit6" id="projects">Projects</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Posterize filter for Java, see e.g. <a href="http://en.wikipedia.org/wiki/Posterize" class="urlextern" title="http://en.wikipedia.org/wiki/Posterize"  rel="nofollow">here</a></div>
</li>
<li class="level1"><div class="li"> Canny edge detector, see e.g. <a href="http://en.wikipedia.org/wiki/Canny_edge_detector" class="urlextern" title="http://en.wikipedia.org/wiki/Canny_edge_detector"  rel="nofollow">here</a></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Projects" [4024-] -->