
<h1>Multimedia Information Systems</h1>
<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. The course also took place in summer semesters in previous years. You can find a page and all the slides of the former courses <a href="/~mlux/wiki/doku.php?id=courses:mmisss07" class="wikilink1" title="courses:mmisss07">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss08" class="wikilink1" title="courses:mmisss08">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss09" class="wikilink1" title="courses:mmisss09">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss10" class="wikilink1" title="courses:mmisss10">here</a>,   <a href="/~mlux/wiki/doku.php?id=courses:mmisss11" class="wikilink1" title="courses:mmisss11">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss12" class="wikilink1" title="courses:mmisss12">here</a>, and <a href="/~mlux/wiki/doku.php?id=courses:mmisss13" class="wikilink1" title="courses:mmisss13">here</a>.
</p>

<p>
A large part of the course is based on the book “Visual Information Retrieval with Java and LIRE” by M. Lux and O. Marques (see <a href="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025" class="urlextern" title="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025"  rel="nofollow">here</a>)
</p>

<h2 class="sectionedit2" id="slides_exercises">Slides &amp; Exercises</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 04.03. - Introduction</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/01_introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/01_introduction.pdf"  rel="nofollow">PDF (1.1M)</a></div>
</li>
<li class="level2"><div class="li"> Readings 01: C. J. van RIJSBERGEN (1979) Information Retrieval, read chapter <a href="http://www.dcs.gla.ac.uk/Keith/Chapter.1/Ch.1.html" class="urlextern" title="http://www.dcs.gla.ac.uk/Keith/Chapter.1/Ch.1.html"  rel="nofollow">Introduction</a></div>
</li>
<li class="level2"><div class="li"> Readings 02: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/files/readings02.7z" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/files/readings02.7z"  rel="nofollow">Download</a> as mentioned in the course.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 11.03. - Information Retrieval I</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/02_information_retrieval_01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/02_information_retrieval_01.pdf"  rel="nofollow">PDF (1.3M)</a></div>
</li>
<li class="level2"><div class="li"> Exercise 1 <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex01.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex01.xls"  rel="nofollow">XLS (23K)</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex01.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex01.txt"  rel="nofollow">R source file (&lt;1K)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> <del>18.03. - Canceled</del></div>
</li>
<li class="level1"><div class="li"> <del>25.03. - Canceled</del></div>
</li>
<li class="level1"><div class="li"> 01.04. - Information Retrieval 2</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/03_information_retrieval_02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/03_information_retrieval_02.pdf"  rel="nofollow">PDF 1.2M</a></div>
</li>
<li class="level2"><div class="li"> Exercise 2 <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex01.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex01.txt"  rel="nofollow">R source file (&lt;1K)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 08.04. - Retrieval Evaluation</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/04_retrieval_evaluation.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/04_retrieval_evaluation.pdf"  rel="nofollow">PDF 797K</a></div>
</li>
<li class="level2"><div class="li"> Exercise 3 <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/mmis-ex03.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/mmis-ex03.xls"  rel="nofollow">XLS 31K</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 29.04. - Image Features, part 1</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/05_image_retrieval_01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/05_image_retrieval_01.pdf"  rel="nofollow">PDF, 2.3M</a></div>
</li>
<li class="level2"><div class="li"> Exercise 4 <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/ferrari.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis12/files/ferrari.zip"  rel="nofollow">Ferrari Data Set</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex04-ImageRetrievalStub.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis14/mmis-ex04-ImageRetrievalStub.zip"  rel="nofollow">Stub (*)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 13.05. - Image Features, part 2</div>
<ul>
<li class="level2"><div class="li"> Slides (see above)</div>
</li>
</ul>
</li>
</ul>

<p>
(*) Use the stub class to work on exercise 4. linear search, access to the images and so on is already pre-coded and tested in one single class. Just change the feature and create a ranked list. Make sure to include lire.jar in the classpath to use the convenience methods for getting the images and L1 distance.
</p>

</div>
<!-- EDIT2 SECTION "Slides & Exercises" [722-2776] -->
<h2 class="sectionedit3" id="grading_project_modalities">Grading &amp; Project Modalities</h2>
<div class="level2">

<p>
Grading is based on 3 main factors with a 1/3 weighting each.
</p>
<ol>
<li class="level1"><div class="li"> Exercises: Do the exercises handed out through the course and finish the exercises with running a linear search on the Ferrari data set for your descriptor (see slides)</div>
</li>
<li class="level1"><div class="li"> Project: Choose a project in the context of (visual) information retrieval, multimedia analysis or multimedia information system and implement a solution.</div>
</li>
<li class="level1"><div class="li"> Project Presentation: Present your project including motivation, approach and results.</div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Grading & Project Modalities" [2777-3304] -->
<h2 class="sectionedit4" id="project_topics">Project Topics</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Customizable Flickr Downloader: Create an application, which downloads Flickr images with given parameters.</div>
</li>
<li class="level1"><div class="li"> Memory with “near duplicate” images: Adapt a memory game, but use image search results instead of identical images.</div>
</li>
<li class="level1"><div class="li"> …</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Project Topics" [3305-] -->