
<h1 class="sectionedit1" id="multimedia_information_systems">Multimedia Information Systems</h1>
<div class="level1">

<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. The course also took place in summer semester 2012, 2011, 2010, 2009, 2008 and 2007. You can find a page and all the slides of the former courses <a href="/~mlux/wiki/doku.php?id=courses:mmisss07" class="wikilink1" title="courses:mmisss07">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss08" class="wikilink1" title="courses:mmisss08">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss09" class="wikilink1" title="courses:mmisss09">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss10" class="wikilink1" title="courses:mmisss10">here</a>,   <a href="/~mlux/wiki/doku.php?id=courses:mmisss11" class="wikilink1" title="courses:mmisss11">here</a>, and <a href="/~mlux/wiki/doku.php?id=courses:mmisss12" class="wikilink1" title="courses:mmisss12">here</a>.
</p>

<p>
A large part of the course is based on the book “Visual Information Retrieval with Java and LIRE” by M. Lux and O. Marques (see <a href="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025" class="urlextern" title="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025"  rel="nofollow">here</a>)
</p>

</div>
<!-- EDIT1 SECTION "Multimedia Information Systems" [1-713] -->
<h2 class="sectionedit2" id="slides_exercises">Slides &amp; Exercises</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> <del>05.03. - Canceled</del></div>
</li>
<li class="level1"><div class="li"> 12.03. - Introduction</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/01_introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/01_introduction.pdf"  rel="nofollow">PDF (1.8M)</a></div>
</li>
<li class="level2"><div class="li"> Readings 01: C. J. van RIJSBERGEN (1979) Information Retrieval, read chapter <a href="http://www.dcs.gla.ac.uk/Keith/Chapter.1/Ch.1.html" class="urlextern" title="http://www.dcs.gla.ac.uk/Keith/Chapter.1/Ch.1.html"  rel="nofollow">Introduction</a></div>
</li>
<li class="level2"><div class="li"> Readings 02: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/files/readings02.7z" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/files/readings02.7z"  rel="nofollow">Download</a> as mentioned in the course.</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 09.04. - Information Retrieval I</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/02_information_retrieval_01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/02_information_retrieval_01.pdf"  rel="nofollow">PDF (1.1M)</a></div>
</li>
<li class="level2"><div class="li"> Exercise 1 <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/mmis-ex01.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/mmis-ex01.xls"  rel="nofollow">XLS (23K)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 16.04. - Information Retrieval II</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/03_information_retrieval_02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/03_information_retrieval_02.pdf"  rel="nofollow">PDF (1.4M)</a></div>
</li>
<li class="level2"><div class="li"> Exercise 2 <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/mmis-ex02.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/mmis-ex02.txt"  rel="nofollow">TXT (&lt;1K)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 23.04. - Retrieval Evaluation</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/04_retrieval_evaluation.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/04_retrieval_evaluation.pdf"  rel="nofollow">PDF (799K)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 30.04. - Image Retrieval: Global Features I</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/05_image_retrieval_01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/05_image_retrieval_01.pdf"  rel="nofollow">PDF (2.3M)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 07.05. - Image Retrieval: Global Features II</div>
</li>
<li class="level1"><div class="li"> 14.05. - Image Retrieval: Local Features</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/06_image_retrieval_02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/06_image_retrieval_02.pdf"  rel="nofollow">PDF (2.7M)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 28.05. - Clustering &amp; Multimedia Indexing</div>
<ul>
<li class="level2"><div class="li"> Slides <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/07_indexing.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/07_indexing.pdf"  rel="nofollow">PDF (1.4M)</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 04.06. - Audio</div>
</li>
<li class="level1"><div class="li"> 11.06. - Web Retrieval</div>
</li>
<li class="level1"><div class="li"> <del>18.06. - Canceled</del></div>
</li>
<li class="level1"><div class="li"> 25.06. - Student Presentations</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Slides & Exercises" [714-2433] -->
<h2 class="sectionedit3" id="grading_project_modalities">Grading &amp; Project Modalities</h2>
<div class="level2">

<p>
Grading is based on 3 main factors with a 1/3 weighting each.
</p>
<ol>
<li class="level1"><div class="li"> Exercises: Do the exercises handed out through the course and finish the exercises with getting a average precision at 10 (p@10) on the Wang data set for your descriptor (see below)</div>
</li>
<li class="level1"><div class="li"> Project: Choose a project in the context of (visual) information retrieval, multimedia analysis or multimedia information system and implement a solution.</div>
</li>
<li class="level1"><div class="li"> Project Presentation: Present your project including motivation, approach and results.</div>
</li>
</ol>

</div>
<!-- EDIT3 SECTION "Grading & Project Modalities" [2434-2974] -->
<h2 class="sectionedit4" id="project_topics">Project Topics</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> FAST &amp; BRISK extraction with OpenCV (assigned to MT)</div>
</li>
<li class="level1"><div class="li"> Mobile CBIR: Extraction of descriptors (assigned to DW)</div>
</li>
<li class="level1"><div class="li"> Auto-Tagging by content based search (assigned to MR)</div>
</li>
<li class="level1"><div class="li"> Duplicate detection in private data sets.</div>
</li>
<li class="level1"><div class="li"> New <abbr title="Graphical User Interface">GUI</abbr> for LIRE.</div>
</li>
<li class="level1"><div class="li"> Stroke-Width Transform (either Java or Executable), see <a href="https://sites.google.com/site/roboticssaurav/strokewidthnokia" class="urlextern" title="https://sites.google.com/site/roboticssaurav/strokewidthnokia"  rel="nofollow">here</a> and <a href="https://github.com/aperrau/DetectText" class="urlextern" title="https://github.com/aperrau/DetectText"  rel="nofollow">here</a></div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Project Topics" [2975-] -->