
<h1 class="sectionedit1" id="multimedia_information_systems">Multimedia Information Systems</h1>
<div class="level1">

<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. The course also took place in summer semester 2009, 2008 and 2007. You can find a page and all the slides <a href="/~mlux/wiki/doku.php?id=courses:mmisss07" class="wikilink1" title="courses:mmisss07">here</a>, <a href="/~mlux/wiki/doku.php?id=courses:mmisss08" class="wikilink1" title="courses:mmisss08">here</a> and <a href="/~mlux/wiki/doku.php?id=courses:mmisss09" class="wikilink1" title="courses:mmisss09">here</a>.
</p>

</div>
<!-- EDIT1 SECTION "Multimedia Information Systems" [1-378] -->
<h2 class="sectionedit2" id="topics">Topics</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Introduction, Motivation, Information Theory &amp; Systems </div>
</li>
<li class="level1"><div class="li"> Information Retrieval</div>
</li>
<li class="level1"><div class="li"> Web based IR, PageRank, HITS </div>
</li>
<li class="level1"><div class="li"> Network Analysis &amp; Social Networks (Guest Lecture)</div>
</li>
<li class="level1"><div class="li"> Multimedia Metadata</div>
</li>
<li class="level1"><div class="li"> Image Analysis and Content Based Image Retrieval</div>
</li>
<li class="level1"><div class="li"> Audio &amp; Sound Analysis</div>
</li>
<li class="level1"><div class="li"> Video Information Systems</div>
</li>
<li class="level1"><div class="li"> Multimedia Databases </div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "Topics" [379-733] -->
<h2 class="sectionedit3" id="slides_exercises">Slides &amp; Exercises</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> 09.03. - Introduction to Information systems</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/01-introduction-mmis.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/01-introduction-mmis.pdf"  rel="nofollow">Slides</a> - PDF, 906K</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/readings/Rijsbergen_IR_Introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/readings/Rijsbergen_IR_Introduction.pdf"  rel="nofollow">Exercise 1</a> - PDF, 133K</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 16.03. - Information Retrieval I</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/02-information-retrieval-part01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/02-information-retrieval-part01.pdf"  rel="nofollow">Slides</a> - PDF, 650K</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/files/mmis-ex02.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/files/mmis-ex02.xls"  rel="nofollow">Exercise 2</a> - XLS, 18K, see slides for instructions</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 23.03. - Information Retrieval II</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/03-information-retrieval-part02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/03-information-retrieval-part02.pdf"  rel="nofollow">Slides</a> - PDF, 820K</div>
</li>
<li class="level2"><div class="li"> Exercise 3, see Exercise 2 :)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 27.04. - Retrieval Evaluation</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/04_retrieval_evaluation.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/04_retrieval_evaluation.pdf"  rel="nofollow">Slides</a> - PDF, 316K</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/files/mmis-ex04.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/files/mmis-ex04.xls"  rel="nofollow">Exercise 4</a> - XLS, 31K</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 04.05. - Content Based Image Retrieval - Part 1</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/05_image_retrieval_part01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/05_image_retrieval_part01.pdf"  rel="nofollow">Slides</a> - PDF, 783K</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/files/mmis-ex05.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/files/mmis-ex05.zip"  rel="nofollow">Exercise 5</a> - ZIP, 97K</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 11.05. - Content Based Image Retrieval - Part 2</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/06_image_retrieval_part02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/06_image_retrieval_part02.pdf"  rel="nofollow">Slides</a> - PDF, 966K</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 18.05. - CBIR - Visual Bag of Words (guest lecture: <a href="https://campus.uni-klu.ac.at/org/visitenkarte;jsessionid=320002B7411285B4792681FA1760916A?personalnr=7040" class="urlextern" title="https://campus.uni-klu.ac.at/org/visitenkarte;jsessionid=320002B7411285B4792681FA1760916A?personalnr=7040"  rel="nofollow">Marian Kogler</a>)</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/07_BoVW.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis10/slides/07_BoVW.pdf"  rel="nofollow">Slides</a> - PDF, 944K</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 01.06. - Audio</div>
<ul>
<li class="level2"><div class="li"> Slides - PDF</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> 08.06. - Web Retrieval</div>
</li>
<li class="level1"><div class="li"> 15.06. - t.b.a</div>
</li>
<li class="level1"><div class="li"> 22.06. - Metadaten / Project Presentations</div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Slides & Exercises" [734-2655] -->
<h2 class="sectionedit4" id="exam">Exam</h2>
<div class="level2">

<p>
Students enrolled in the course have to participate actively (solve a few mandatory exercises and discuss results within the course) and have to do a course project (in small groups) and a presentation of the project within the semester. Grades are based on:
</p>
<ul>
<li class="level1"><div class="li"> 1/4 participation</div>
</li>
<li class="level1"><div class="li"> 1/2 projects (mid term and end project)</div>
</li>
<li class="level1"><div class="li"> 1/4 presentation</div>
</li>
</ul>

<p>
Possible projects will be listed. Furthermore students can suggest projects themselves. One example for a successful projects is the image mosaic feature in the Lire Demo (see <a href="http://www.semanticmetadata.net/lire/" class="urlextern" title="http://www.semanticmetadata.net/lire/"  rel="nofollow">here</a>). Programming skills are required for the projects, the scope and language however are subject to discussion and can be chosen by the groups.
</p>

</div>
<!-- EDIT4 SECTION "Exam" [2656-3387] -->
<h2 class="sectionedit5" id="additional_materials">Additional materials</h2>
<div class="level2">

<p>
Following materials are not mandatory but provide additional information for the interested reader: 
</p>
<ul>
<li class="level1"><div class="li"> Distributed Multimedia Database Technologies supported by MPEG-7 and MPEG-21, Harald Kosch, CRC Press</div>
</li>
<li class="level1"><div class="li"> Modern Information Retrieval, Ricardo Baeza-Yates &amp; Berthier Ribeiro-Neto, Addison Wesley</div>
</li>
<li class="level1"><div class="li"> Google&#039;s Pagerank and Beyond: The Science of Search Engine Rankings, Amy N. Langville &amp; Carl D. Meyer, University Presses of CA</div>
</li>
<li class="level1"><div class="li"> Skriptum Information Retrieval, Norbert Fuhr, Lecture Notes on Information Retrieval - Univ. Dortmund, 1996. Updated in 2006, Retrieved from <a href="http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf" class="urlextern" title="http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf"  rel="nofollow">http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf</a> on [2008-01-22]</div>
</li>
<li class="level1"><div class="li"> Lectures on Information Retrieval: Third European Summer-School, Essir 2000 Varenna, Italy, Revised Lectures, Maristella Agosti, Fabio Crestani &amp; Gabriela Pasi (eds.), Lecture Notes in Computer Science, Springer 2000.</div>
</li>
<li class="level1"><div class="li"> Information Retrieval 2nd Edt., C.J. Rijsbergen, Butterworth, London 1979, Retrieved from <a href="http://www.dcs.gla.ac.uk/Keith/Preface.html" class="urlextern" title="http://www.dcs.gla.ac.uk/Keith/Preface.html"  rel="nofollow">http://www.dcs.gla.ac.uk/Keith/Preface.html</a> on [2008-01-22]</div>
</li>
<li class="level1"><div class="li"> Recommended reading for IR research students, Alistair Moffat, Justin Zobel, David Hawking, SIGIR Forum Vol. 39 (2), Dec. 2005, available at <a href="http://doi.acm.org/10.1145/1113343.1113344" class="urlextern" title="http://doi.acm.org/10.1145/1113343.1113344"  rel="nofollow">http://doi.acm.org/10.1145/1113343.1113344</a></div>
</li>
<li class="level1"><div class="li"> An Introduction to Latent Semantic Analysis, Landauer, T.K., Foltz, P.W., Laham, D. (1998) Discourse Processes, 25, 259-284 <a href="http://lsa.colorado.edu/papers/dp1.LSAintro.pdf" class="urlextern" title="http://lsa.colorado.edu/papers/dp1.LSAintro.pdf"  rel="nofollow">http://lsa.colorado.edu/papers/dp1.LSAintro.pdf</a></div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Additional materials" [3388-4848] -->
<h1 class="sectionedit6" id="license_and_copyright">License and Copyright</h1>
<div class="level1">

<p>
All slides and course materials are shared under the <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode" class="urlextern" title="http://creativecommons.org/licenses/by-nc-sa/3.0/legalcode"  rel="nofollow">Attribution-Non-Commercial-Share Alike 3.0 Creative Commons License</a>
This means you can use them as long as you don&#039;t get rich by using them and you state that you got them from me. Derivative work has to be shared using a similar license. 
Consult the above link for more details.
</p>

</div>
<!-- EDIT6 SECTION "License and Copyright" [4849-] -->