
<h1 class="sectionedit1" id="topics_and_slides">Topics and Slides</h1>
<div class="level1">

<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. Detailed listing of topics:
</p>
<ol>
<li class="level1"><div class="li"> Introduction, Motivation, Information Theory &amp; Systems <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-01.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Information Retrieval I <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-02.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Information Retrieval II <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-02a.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-02a.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Web based IR, PageRank, HITS <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-03.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-03.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Multimedia Metadata I <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-04.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-04.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Multimedia Metadata II <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-05.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-05.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Content Based Image Retrieval <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-06.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-06.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Music &amp; Audio Retrieval <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-07.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-07.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Video Retrieval <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-08.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-08.pdf"  rel="nofollow">slides</a></div>
</li>
<li class="level1"><div class="li"> Multimedia Databases <a href="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-09.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/mmis-07/mmis-slides-09.pdf"  rel="nofollow">slides</a></div>
</li>
</ol>

</div>
<!-- EDIT1 SECTION "Topics and Slides" [1-1255] -->
<h1 class="sectionedit2" id="license_and_copyright">License and Copyright</h1>
<div class="level1">

<p>
All slides and course materials are shared under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" class="urlextern" title="http://creativecommons.org/licenses/by-nc-sa/2.0/"  rel="nofollow">Attribution-Non-Commercial-Share Alike 2.0 Creative Commons License</a>
This means you can use them as long as you don&#039;t get rich by using them and you state that you got them from me. Derivative waork has to be shared using a similar license. 
Consult the above link for more details.
</p>

</div>
<!-- EDIT2 SECTION "License and Copyright" [1256-] -->