<div class="row">
    <div class="col-md-12"><h1>Multimedia Information Systems</h1></div>
    <div class="col-md-4"><h2>Introduction</h2>

        <p class="text-justify"> The course multimedia information aims to give an overview on multimedia information
            retrieval, multimedia databases and multimedia metadata. The course also took place in summer semesters in
            previous years. You can find a page and all the slides of the former courses, like <a
                    href="?id=courses/mmisss14">here</a>. A large part of the course is based on the book "Visual
            Information Retrieval with Java and LIRE" by M. Lux and O. Marques (see <a
                    href="http://www.morganclaypool.com/doi/abs/10.2200/S00468ED1V01Y201301ICR025">here</a>) </p></div>
    <div class="col-md-8"><h2>Grading and Modalities</h2>

        <p>Grading is based on 3 main factors with a 1/3 weighting each.</p>
        <ul>
            <li>Exercises: Do the exercises handed out through the course and finish the exercises with running a linear
                search on the Ferrari data set for your descriptor (see slides)
            </li>
            <li>Project: Choose a project in the context of (visual) information retrieval, multimedia analysis or
                multimedia information system and implement a solution.
            </li>
            <li>Project Presentation: Present your project including motivation, approach and results.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><h2>Schedule and Materials</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Place</th>
                <th>Topic</th>
                <th>Readings / Exercises</th>
                <th>Downloads</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Tu, 03.03.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Introduction</td>
                <td><a href="http://www.dcs.gla.ac.uk/Keith/Chapter.1/Ch.1.html">Reading 01</a>, <a
                        href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis13/files/readings02.7z">Reading 02</a>
                </td>
                <td><a href="teaching/mmis15/01_introduction.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Tu, 10.03.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Information Retrieval I</td>
                <td>Exercise 01: <a href="teaching/mmis14/mmis-ex01.xls">XLS</a>,
                    <a href="teaching/mmis14/mmis-ex01.txt">R</a></td>
                <td><a href="teaching/mmis15/02_information_retrieval_01.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Tu, 17.03.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Information Retrieval II</td>
                <td>Exercise 02: <a href="teaching/mmis14/mmis-ex01.txt">R</a> (same data as EX01)</td>
                <td><a href="teaching/mmis15/03_information_retrieval_02.pdf">Slides</a></td>
            </tr>
            <tr>
                <td class="info">Th, 19.03.2015</td>
                <td class="info">10-12</td>
                <td class="info">E 2.42</td>
                <td>Retrieval Evaluation I</td>
                <td>Exercise 03: <a href="teaching/mmis15/mmis-ex03.xls">XLS</a></td>
                <td><a href="teaching/mmis15/04_retrieval_evaluation.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Tu, 24.03.2015</td>
                <td class="info">16-17 s.t.</td>
                <td>I 0.0.8</td>
                <td>Retrieval Evaluation II</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tu, 14.04.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Image Features I</td>
                <td>Exercise 4: see slides</td>
                <td><a href="teaching/mmis15/05_image_retrieval_01.pdf">Slides</a></td>
            </tr>
            <tr style="text-decoration: line-through">
                <td>Tu, 21.04.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Cancelled</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tu, 28.04.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Image Features II</td>
                <td></td>
                <td><a href="teaching/mmis15/06_image_retrieval_02.pdf">Slides</a></td>
            </tr>
            <tr style="text-decoration: line-through">
                <td>Tu, 05.05.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Cancelled</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tu, 12.05.2015</td>
                <td class="info">16-17 s.t.</td>
                <td>I 0.0.8</td>
                <td>Image Features III</td>
                <td></td>
                <td>see above.</td>
            </tr>
            <tr>
                <td>Tu, 19.05.2015</td>
                <td class="info">16-17 s.t.</td>
                <td>I 0.0.8</td>
                <td>Indexing</td>
                <td></td>
                <td><a href="teaching/mmis15/07_indexing.pdf">Slides</a></td>
            </tr>
            <tr>
                <td>Tu, 02.06.2015</td>
                <td class="info">16-17 s.t.</td>
                <td>I 0.0.8</td>
                <td>User intentions in MMIS</td>
                <td></td>
                <td><a href="https://docs.google.com/presentation/d/1FnnT1ZK02tPH7TiR1TZ2YjovHu65CVXjFnimpC0yMCw/edit?usp=sharing">Slides</a></td>
            </tr>
            <tr style="text-decoration: line-through">
                <td>Tu, 09.06.2015</td>
                <td>16-18</td>
                <td>I 0.0.8</td>
                <td>Cancelled</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tu, 16.06.2015</td>
                <td class="info">16-17 s.t.</td>
                <td>I 0.0.8</td>
                <td>Student presentations</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Tu, 23.06.2015</td>
                <td class="info">16-17 s.t.</td>
                <td>I 0.0.8</td>
                <td>Student presentations</td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>