
<h1 class="sectionedit1" id="multimedia_information_systems">Multimedia Information Systems</h1>
<div class="level1">

<p>
The course multimedia information aims to give an overview on multimedia information retrieval, multimedia databases and multimedia metadata. The course also took place in summer semester 2007 and 2008. You can find a page and all the slides <a href="/~mlux/wiki/doku.php?id=courses:mmisss07" class="wikilink1" title="courses:mmisss07">here</a> and <a href="/~mlux/wiki/doku.php?id=courses:mmisss08" class="wikilink1" title="courses:mmisss08">here</a>.
</p>

</div>
<!-- EDIT1 SECTION "Multimedia Information Systems" [1-345] -->
<h2 class="sectionedit2" id="topics">Topics</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Introduction, Motivation, Information Theory &amp; Systems </div>
</li>
<li class="level1"><div class="li"> Information Retrieval</div>
</li>
<li class="level1"><div class="li"> Web based IR, PageRank, HITS </div>
</li>
<li class="level1"><div class="li"> Network Analysis &amp; Social Networks (Guest Lecture)</div>
</li>
<li class="level1"><div class="li"> Multimedia Metadata</div>
</li>
<li class="level1"><div class="li"> Image Analysis and Content Based Image Retrieval</div>
</li>
<li class="level1"><div class="li"> Audio &amp; Sound Analysis</div>
</li>
<li class="level1"><div class="li"> Video Information Systems</div>
</li>
<li class="level1"><div class="li"> Multimedia Databases </div>
</li>
</ol>

</div>
<!-- EDIT2 SECTION "Topics" [346-702] -->
<h2 class="sectionedit3" id="exam">Exam</h2>
<div class="level2">

<p>
Students enrolled in the course have to participate actively (solve a few mandatory exercises and discuss results within the course) and have to do a course project (in small groups) and a presentation of the project within the semester. Grades are based on:
</p>
<ul>
<li class="level1"><div class="li"> 1/4 participation</div>
</li>
<li class="level1"><div class="li"> 1/2 projects (mid term and end project)</div>
</li>
<li class="level1"><div class="li"> 1/4 presentation</div>
</li>
</ul>

<p>
Possible projects will be listed within the next weeks. Furthermore students can suggest projects themselves. One example for a successful projects is the image mosaic feature in the Lire Demo (see <a href="http://www.semanticmetadata.net/lire/" class="urlextern" title="http://www.semanticmetadata.net/lire/"  rel="nofollow">here</a>). Programming skills are required for the projects, the scope and language however are subject to discussion and can be chosen by the groups.
</p>

</div>
<!-- EDIT3 SECTION "Exam" [703-1455] -->
<h2 class="sectionedit4" id="projects">Projects</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> SURF / SIFT / GLOH - Garnik, Katzian, Primus</div>
</li>
<li class="level1"><div class="li"> Video Summaries / Skims - Guggenberger, M&uuml;ller</div>
</li>
<li class="level1"><div class="li"> Salient points and patches in images - Muenzer, Pairitsch</div>
</li>
<li class="level1"><div class="li"> Image segmentation - Korak, Lettmayer, Schager</div>
</li>
<li class="level1"><div class="li"> Scalable Recognition with a Vocabulary Tree - Wang</div>
</li>
<li class="level1"><div class="li"> Face Detection with OpenCV - Granitzer, Unterkreuter</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Projects" [1456-1805] -->
<h2 class="sectionedit5" id="schedule_slides_exercises">Schedule, Slides &amp; Exercises</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Introduction: information and information systems, multimedia consumption. </div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-01.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-01.pdf"  rel="nofollow">Download slides</a> (~ 500K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Information Retrieval part 1</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-02.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-02.pdf"  rel="nofollow">Download slides</a> (~ 670K)</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex01.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis08/files/mmis-ex01.xls"  rel="nofollow">Download Exercise 1</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Information Retrieval part 2</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-03.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-03.pdf"  rel="nofollow">Download slides</a> (~ 640K)</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis-ex02.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis-ex02.xls"  rel="nofollow">Download Exercise 2</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Retrieval Evaluation</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-04.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-04.pdf"  rel="nofollow">Download slides</a> (~ 390K)</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis-ex03.xls" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis-ex03.xls"  rel="nofollow">Download Exercise 3</a></div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis-ex02+.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis-ex02+.txt"  rel="nofollow">Solution for LSA in R</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Content Based Image Retrieval</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-05.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-05.pdf"  rel="nofollow">Download slides</a> (~ 640K)</div>
</li>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis09-imgsearch.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/mmis09-imgsearch.zip"  rel="nofollow">Download image search engine</a> (~ 35MB)</div>
</li>
<li class="level2"><div class="li"> Relevant literature: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/ImageFeatures.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/ImageFeatures.pdf"  rel="nofollow">1</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/Features%20for%20image%20retrieval%20an%20experimental%20comparison%20-%20Deselaers%20Keysers%20Ney%202008.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/Features%20for%20image%20retrieval%20an%20experimental%20comparison%20-%20Deselaers%20Keysers%20Ney%202008.pdf"  rel="nofollow">2</a>, <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/datta_ACM2008.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/files/datta_ACM2008.pdf"  rel="nofollow">3</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Intent in Social Tagging Systems (Guest Lecture M. Strohmaier)</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-06-intent%20in%20social%20tagging%20systems.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-06-intent%20in%20social%20tagging%20systems.pdf"  rel="nofollow">Download slides</a> (~ 1.9M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Content Based Image Retrieval Part II</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-07.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-07.pdf"  rel="nofollow">Download slides</a> (~ 1.1M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Indexing in Content Based Search Engines</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-08.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-08.pdf"  rel="nofollow">Download slides</a> (~ 740K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Clustering</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-09.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-09.pdf"  rel="nofollow">Download slides</a> (~ 820K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Video Information Systems</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-10.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-10.pdf"  rel="nofollow">Download slides</a> (~ 920K)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Multimedia Metadata</div>
<ul>
<li class="level2"><div class="li"> <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-11.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmis09/slides/slides-mmis09-11.pdf"  rel="nofollow">Download slides</a> (~ 1M)</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Audio</div>
<ul>
<li class="level2"><div class="li"> Slides …</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Presentations Part A</div>
<ul>
<li class="level2"><div class="li"> Muenzer, Pairitsch</div>
</li>
<li class="level2"><div class="li"> Korak, Lettmayer, Schager</div>
</li>
<li class="level2"><div class="li"> Guggenberger, Mueller</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Presentations Part B</div>
<ul>
<li class="level2"><div class="li"> Granitzer, Unterkreuter</div>
</li>
<li class="level2"><div class="li"> Wang</div>
</li>
<li class="level2"><div class="li"> Garnik, Katzian, Primus</div>
</li>
</ul>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "Schedule, Slides & Exercises" [1806-4719] -->
<h2 class="sectionedit6" id="additional_materials">Additional materials</h2>
<div class="level2">

<p>
Following materials are not mandatory but provide additional information for the interested reader: 
</p>
<ul>
<li class="level1"><div class="li"> Distributed Multimedia Database Technologies supported by MPEG-7 and MPEG-21, Harald Kosch, CRC Press</div>
</li>
<li class="level1"><div class="li"> Modern Information Retrieval, Ricardo Baeza-Yates &amp; Berthier Ribeiro-Neto, Addison Wesley</div>
</li>
<li class="level1"><div class="li"> Google&#039;s Pagerank and Beyond: The Science of Search Engine Rankings, Amy N. Langville &amp; Carl D. Meyer, University Presses of CA</div>
</li>
<li class="level1"><div class="li"> Skriptum Information Retrieval, Norbert Fuhr, Lecture Notes on Information Retrieval - Univ. Dortmund, 1996. Updated in 2006, Retrieved from <a href="http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf" class="urlextern" title="http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf"  rel="nofollow">http://www.is.informatik.uni-duisburg.de/courses/ir_ss06/folien/irskall.pdf</a> on [2008-01-22]</div>
</li>
<li class="level1"><div class="li"> Lectures on Information Retrieval: Third European Summer-School, Essir 2000 Varenna, Italy, Revised Lectures, Maristella Agosti, Fabio Crestani &amp; Gabriela Pasi (eds.), Lecture Notes in Computer Science, Springer 2000.</div>
</li>
<li class="level1"><div class="li"> Information Retrieval 2nd Edt., C.J. Rijsbergen, Butterworth, London 1979, Retrieved from <a href="http://www.dcs.gla.ac.uk/Keith/Preface.html" class="urlextern" title="http://www.dcs.gla.ac.uk/Keith/Preface.html"  rel="nofollow">http://www.dcs.gla.ac.uk/Keith/Preface.html</a> on [2008-01-22]</div>
</li>
<li class="level1"><div class="li"> Recommended reading for IR research students, Alistair Moffat, Justin Zobel, David Hawking, SIGIR Forum Vol. 39 (2), Dec. 2005, available at <a href="http://doi.acm.org/10.1145/1113343.1113344" class="urlextern" title="http://doi.acm.org/10.1145/1113343.1113344"  rel="nofollow">http://doi.acm.org/10.1145/1113343.1113344</a></div>
</li>
<li class="level1"><div class="li"> An Introduction to Latent Semantic Analysis, Landauer, T.K., Foltz, P.W., Laham, D. (1998) Discourse Processes, 25, 259-284 <a href="http://lsa.colorado.edu/papers/dp1.LSAintro.pdf" class="urlextern" title="http://lsa.colorado.edu/papers/dp1.LSAintro.pdf"  rel="nofollow">http://lsa.colorado.edu/papers/dp1.LSAintro.pdf</a></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Additional materials" [4720-6181] -->
<h1 class="sectionedit7" id="license_and_copyright">License and Copyright</h1>
<div class="level1">

<p>
All slides and course materials are shared under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/" class="urlextern" title="http://creativecommons.org/licenses/by-nc-sa/2.0/"  rel="nofollow">Attribution-Non-Commercial-Share Alike 2.0 Creative Commons License</a>
This means you can use them as long as you don&#039;t get rich by using them and you state that you got them from me. Derivative work has to be shared using a similar license. 
Consult the above link for more details.
</p>

</div>
<!-- EDIT7 SECTION "License and Copyright" [6182-] -->