
<p>
This course is part of the MCM master studies. For more information see <a href="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=78709" class="urlextern" title="https://campus.aau.at/studien/lvkarte.jsp?sprache_nr=35&amp;rlvkey=78709"  rel="nofollow">here</a>.
</p>

<h1 class="sectionedit1" id="topics_slides">Topics &amp; Slides</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> April 7th, 2014: Introduction, Programming, JavaScript</div>
<ul>
<li class="level2"><div class="li"> Try it yourself at <a href="http://repl.it/" class="urlextern" title="http://repl.it/"  rel="nofollow">http://repl.it/</a></div>
</li>
<li class="level2"><div class="li"> Slides: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmtech14/01%20-%20Introduction.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/mmtech14/01%20-%20Introduction.pdf"  rel="nofollow">PDF, 226K</a></div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> April 10th, 2014: Server Side Scripting, PHP</div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "Topics & Slides" [153-] -->