<h1>Text documents</h1>
<p> For all text documents authors have to ensure they are readable for all participants. For non editable text PDF
    is preferred, for editable and formatted text either Microsoft Word 97-2003 format or the most recent LibreOffice
    format. For README files use markdown or plain text. </p>
<h1>Emails</h1>
<p> For emails I recommend to: </p>
<ul>
    <li>provide a meaningful subject line and be short and concise</li>
    <li> send them in plain text (no <abbr title="HyperText  Markup  Language">HTML</abbr>, RTF, or PDF with the
        content)
    </li>
    <li> send them with a minimum attachment size (e.g. resize images, use the "reduce size" functions of PDF generators
        and text editors, etc.)
    </li>
    <li>use Dropbox, OneDrive, Google Drive orany other service to send files larger than 5 MB</li>
    <li> follow the <a href="http://tools.ietf.org/html/rfc1855">netiquette</a> guidelines, ie. by adding a greeting
    </li>
</ul>
<h1>Submitting work</h1>
<div><p> If you submit software, text, images or any other work to me make sure to </p>
    <ul>
        <li> include the name and student id number of every participant</li>
        <li> you have the license / right to include images, text, audio, source code, or video from 3rd parties (check
            licenses)
        </li>
        <li> re-read before you sent and make sure it's the final version.</li>
    </ul>
</div>