
<h1 class="sectionedit1" id="open_master_thesis">Open Master Thesis</h1>
<div class="level1">

<p>
Following topics are example topics. I&#039;m open to discussion and self proposed topics. Please contact me if you are interested. For already finished work see <a href="/~mlux/wiki/doku.php?id=courses:finishedthesis" class="wikilink1" title="courses:finishedthesis">FinishedThesis</a>.
</p>

<p>
This is an incomplete List. For more accurate information please contact me.
</p>

</div>
<!-- EDIT1 SECTION "Open Master Thesis" [1-298] -->
<h1 class="sectionedit2" id="open_thesis">Open Thesis</h1>
<div class="level1">

<p>
currently nothing announced …
</p>

</div>
<!-- EDIT2 SECTION "Open Thesis" [299-360] -->
<h1 class="sectionedit3" id="open_bakkalaureat_internships">Open Bakkalaureat / Internships</h1>
<div class="level1">

</div>
<!-- EDIT3 SECTION "Open Bakkalaureat / Internships" [361-407] -->
<h2 class="sectionedit4" id="skiline_siegerfoto_internship">Skiline Siegerfoto (internship)</h2>
<div class="level2">

<p>
Die Skiline - oder auch Skiline H&ouml;henmeterdiagramm - zeigt dir, wie viele H&ouml;henmeter du an einem Skitag geschafft hast und welche Lifte du genommen hast. Das skimovie ist eines der beliebtesten Features auf Skiline. In bestimmten Skigebieten gibt es skimovie Strecken, die du hinunterfahren und dich dabei filmen lassen kannst. Den Film kannst du dir dann auf <a href="http://www.skiline.cc" class="urlextern" title="http://www.skiline.cc"  rel="nofollow">www.skiline.cc</a> ansehen. Beispiele diverser skimovies: <a href="http://www.skiline.cc/skimovies/start" class="urlextern" title="http://www.skiline.cc/skimovies/start"  rel="nofollow">http://www.skiline.cc/skimovies/start</a>
</p>

<p>
Im Internship geht es um die automatische Erfassung von Skifahrern im Zielbereich mittels Kamera. Dabei liegt der Focus auf Face Detection. Skifahrer sollen im Zielbereich einer skimovie Strecke anhand vorhandener Algorithmen erkannt und als Portrait fotografiert werden. Das 
generierte Foto soll in das bestehende skimovie integriert werden. Vorzugsweise suchen wir Interessierte, die selbst Schi- oder Snowboard fahren und Spaß an Fotografie und am Filmen haben. 
</p>

<p>
<strong>Requirements:</strong>  Grundwissen in der Bildverarbeitung, Programmierkenntnisse , Selbstst&auml;ndiges und kreatives Arbeiten, Skifahrer oder Boarder (vorzugsweise)
</p>

<p>
<strong>Time frame:</strong> 6-8 months.
</p>

</div>
<!-- EDIT4 SECTION "Skiline Siegerfoto (internship)" [408-1568] -->
<h2 class="sectionedit5" id="uniklu_aau_histories_internship">UniKlu / AAU HiStories (internship)</h2>
<div class="level2">

<p>
Zur 40-Jahr Feier der Universit&auml;t Klagenfurt wurde ein <a href="http://www.aau.at/histories" class="urlextern" title="http://www.aau.at/histories"  rel="nofollow">interaktives Museum</a> vorgestellt, das zur Dokumentation der Geschichte und Geschichten der Universit&auml;t Klagenfurt beitragen soll. Im Rahmen eines Anwendungspraktikums soll die bestehende Applikation erweitert und verbessert, sowie gewartet werden.
</p>

<p>
<strong>Requirements:</strong> Java, JavaScript &amp; <abbr title="HyperText Markup Language">HTML</abbr>, Ruby on Rails.
</p>

<p>
<strong>Time frame:</strong> 6-8 months.
</p>

</div>
<!-- EDIT5 SECTION "UniKlu / AAU HiStories (internship)" [1569-2043] -->
<h2 class="sectionedit6" id="video_labeler_bakk">Video Labeler (Bakk.)</h2>
<div class="level2">

<p>
<img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> <strong>Project already assigned</strong>: A. Fl&uuml;r, R. Messner
</p>

<p>
While computer games are big business serious games still do not get a lot attention. However the work of L. von Ahn shows that computer games can be utilized to annotate visual data. In this project the basic idea of an image labeling game like the Google Image Labeler of Peekaboom is applied to videos: 2 players annotate videos synchronously and earn points for matching annotations.
</p>

<p>
<strong>Requirements:</strong> Java &amp; JSP, JavaScript &amp; <abbr title="HyperText Markup Language">HTML</abbr>, AJAX, REST, Flash &amp; ActionScript.
</p>

<p>
<strong>Time frame:</strong> 6-8 months.
</p>

</div>
<!-- EDIT6 SECTION "Video Labeler (Bakk.)" [2044-2636] -->
<h2 class="sectionedit7" id="intentional_annotation_of_multimedia_content_bakk">Intentional Annotation of Multimedia Content (Bakk.)</h2>
<div class="level2">

<p>
<img src="/~mlux/wiki/lib/images/smileys/icon_exclaim.gif" class="icon" alt=":!:" /> <strong>Project already assigned</strong>: C. Irrasch, G. Doliner
</p>

<p>
Most people annotating multimedia content (e.g. describing the structure or the content of videos) have clear intentions and goals on what aspects they actually want to describe and why. Unfortunately there is virtually no support for metadata creation classified and ordered upon the intention of the creator. Within this project a prototype for intentional annotation of multimedia documents will be created and tested upon the acceptance of the end user. Furthermore the support for storing and exchanging intentions based on multimedia metadata formats will be investigated.
</p>

<p>
<strong>Requirements:</strong> (Java, Swing, JavaScript) programming, XML, relational databases &amp; RDF, basic knowledge or interest in Ontologies &amp; basic knowledge or interest on Web 2.0 &amp; social software. 
</p>

<p>
<strong>Time frame:</strong> 6-8 months.
</p>

</div>
<!-- EDIT7 SECTION "Intentional Annotation of Multimedia Content (Bakk.)" [2637-] -->