
<h1 class="sectionedit1" id="scientific_poster_presentation">Scientific Poster Presentation</h1>
<div class="level1">

<p>
A basic course on poster design and presentation based on the book The Non-Designer&#039;s Design Book: Design and Typographic Principles for the Visual Novice by Robin Williams.
</p>

<p>
Look out for used copies, there are quite a lot of them ;)
</p>
<ul>
<li class="level1"><div class="li"> <a href="http://www.amazon.de/Non-Designers-Design-Book-3rd-Designers-ebook/dp/B00125MJYM/ref=sr_1_1?ie=UTF8&amp;qid=1406031766&amp;sr=8-1&amp;keywords=the+non+designers" class="urlextern" title="http://www.amazon.de/Non-Designers-Design-Book-3rd-Designers-ebook/dp/B00125MJYM/ref=sr_1_1?ie=UTF8&amp;qid=1406031766&amp;sr=8-1&amp;keywords=the+non+designers"  rel="nofollow">on Amazon.de</a></div>
</li>
<li class="level1"><div class="li"> <a href="http://www.alibris.co.uk/The-Non-Designers-Design-Book-Design-and-Typographic-Principles-for-the-Visual-Novice-Robin-Williams/book/10392333" class="urlextern" title="http://www.alibris.co.uk/The-Non-Designers-Design-Book-Design-and-Typographic-Principles-for-the-Visual-Novice-Robin-Williams/book/10392333"  rel="nofollow">on Alibris</a></div>
</li>
</ul>

<p>
<a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/posterpresentation2014/slides.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/posterpresentation2014/slides.pdf"  rel="nofollow">Slides</a> of the course are available as PDF und (CC) BY 4.0: <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/posterpresentation2014/slides.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/posterpresentation2014/slides.pdf"  rel="nofollow">Download ...</a>
</p>

</div>
