
<h1 class="sectionedit1" id="proseminar">Proseminar</h1>
<div class="level1">

<p>
Within the proseminar you need to pick a topic, do research on the topic, write a paper about that and present your results to the course. Furthermore you need to review the paper of several colleagues and write reviews on their work. Grades are based on your written work, your work done in writing reviews for other papers and your presentation. Topics and literature are provided, but can be suggested by students.
</p>

<p>
Note that for your research <em>basic</em> understanding of the assigned readings and the readings you find throughout your survey is required. You do not need to understand each and every detail as many of the papers present complex and specific things.
</p>

</div>
<!-- EDIT1 SECTION "Proseminar" [1-695] -->
<h2 class="sectionedit2" id="schedule">Schedule</h2>
<div class="level2">

<p>
The course will be held in blocks. The blocks will take place at the end of the semester. Schedule will be discussed in the course.
</p>
<ul>
<li class="level1"><div class="li"> Tue, 04.10. 2011, 14.oo c.t. / E.2.42: Briefing &amp; schedule </div>
</li>
<li class="level1"><div class="li"> Tue, 11.10. 2011, 14.oo c.t. / E.2.42: Schreibcenter</div>
</li>
<li class="level1"><div class="li"> Tue, 18.10. 2011, 14.oo c.t. / E.2.42: Schreibcenter</div>
</li>
<li class="level1"><div class="li"> Tue, 25.10. 2011, 14.oo c.t. / E.2.42: Scientific work  (<a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar11/01_wissenschaftstheorie.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar11/01_wissenschaftstheorie.pdf"  rel="nofollow">slides</a>, PDF)</div>
</li>
<li class="level1"><div class="li"> Tue, 08.11. 2011, 14.oo c.t. / E.2.42: Scientific writing (<a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar11/02_wiss_arbeiten.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar11/02_wiss_arbeiten.pdf"  rel="nofollow">slides</a>, PDF)</div>
</li>
<li class="level1"><div class="li"> Tue, 15.11. 2011, 14.oo c.t. / E.2.42: Surveys and presentation (<a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar11/03_recherche_praesentation.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar11/03_recherche_praesentation.pdf"  rel="nofollow">slides</a>, PDF)</div>
</li>
<li class="level1"><div class="li"> <del>Tue, 13.12. 2011, 14.oo c.t. / E.2.42: Presentation training</del></div>
</li>
<li class="level1"><div class="li"> Sun, 18.12. 2011: Papers due</div>
</li>
<li class="level1"><div class="li"> Sun, 08.01. 2012: Reviews due</div>
</li>
<li class="level1"><div class="li"> Tue, 24.01. 2012, 14.oo c.t. : Final presentations</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Schedule" [696-1724] -->
<h2 class="sectionedit3" id="deliverables">Deliverables</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Written work in <a href="http://www.acm.org/sigs/publications/proceedings-templates" class="urlextern" title="http://www.acm.org/sigs/publications/proceedings-templates"  rel="nofollow">ACM Style</a> (Option 1), PDF</div>
</li>
<li class="level1"><div class="li"> 7 pages for groups of two, 5 pages for people working alone</div>
<ul>
<li class="level2"><div class="li"> At least 6 self found references have to be included by groups of two.</div>
</li>
<li class="level2"><div class="li"> At least 3 self found references have to be included by people working alone.</div>
</li>
<li class="level2"><div class="li"> 1st version due <strong>18.12.2011</strong>, email PDF &amp; sources to M. Lux</div>
</li>
<li class="level2"><div class="li"> final version due <strong>22.01.2012</strong>, email PDF &amp; sources to M. Lux</div>
<ul>
<li class="level3"><div class="li"> Incorporate suggestions from your colleagues</div>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Presentation of 15-20 Min along with slides (PDF, format and amount of your choice) on <strong>24.01.2012</strong></div>
<ul>
<li class="level2"><div class="li"> slides due <strong>22.01.2012</strong>, email PDF to M. Lux</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Review for 2 papers of colleagues, due <strong>08.01.2012</strong></div>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Deliverables" [1725-2496] -->
<h2 class="sectionedit4" id="assigned_topics">Assigned Topics</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Alf &amp; D&ouml;rflinger: Ad detection in videos - <a href="ftp://pi4.informatik.uni-mannheim.de/pub/techreports/1996/TR-96-016.ps.gz" class="urlextern" title="ftp://pi4.informatik.uni-mannheim.de/pub/techreports/1996/TR-96-016.ps.gz"  rel="nofollow">On the Detection and Recognition of Television Commercials</a> </div>
</li>
<li class="level1"><div class="li"> Kletz: Social Multimedia Platforms - <a href="http://doi.acm.org/10.1145/1459359.1459362" class="urlextern" title="http://doi.acm.org/10.1145/1459359.1459362"  rel="nofollow">Enhancing social sharing of videos: fragment, annotate, enrich, and share</a></div>
</li>
<li class="level1"><div class="li"> <del>Bugl: Designing Games with a Purpose - <a href="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf"  rel="nofollow">Games With a Purpose</a> and <a href="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf"  rel="nofollow">Peekaboom: A Game for Locating Objects in Images</a></del> </div>
</li>
<li class="level1"><div class="li"> Brodbeck: Human Computation - <a href="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf"  rel="nofollow">CAPTCHA: Using Hard AI Problems for Security</a> and <a href="http://doi.acm.org/10.1145/1298406.1298408" class="urlextern" title="http://doi.acm.org/10.1145/1298406.1298408"  rel="nofollow">Human computation</a></div>
</li>
<li class="level1"><div class="li"> Frick &amp; Schmid: User Intentions on the Web - <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf" class="urlextern" title="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf"  rel="nofollow">A Taxonomy of Web Search</a> </div>
</li>
<li class="level1"><div class="li"> <del>Miglar &amp; Sch&ouml;nlaub: Tagging Motivation - <a href="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf" class="urlextern" title="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf"  rel="nofollow">Of Categorizers and Describers: An Evaluation of Quantitative Measures for Tagging Motivation</a></del></div>
</li>
<li class="level1"><div class="li"> Gr&auml;fitsch &amp; Petscharnig: User acceptance of Ambient Assisted Living Systems</div>
</li>
<li class="level1"><div class="li"> Maier: Video Microblogging - <a href="http://doi.acm.org/10.1145/1753846.1753979" class="urlextern" title="http://doi.acm.org/10.1145/1753846.1753979"  rel="nofollow">Video microblogging: your 12 seconds of fame</a> </div>
</li>
<li class="level1"><div class="li"> Appesbacher &amp; Kruschitz: Intimacy in online gaming - <a href="http://doi.acm.org/10.1145/1753326.1753361" class="urlextern" title="http://doi.acm.org/10.1145/1753326.1753361"  rel="nofollow">The Rogue in the Lovely Black Dress: Intimacy in World of Warcraft</a> </div>
</li>
</ol>

</div>
<!-- EDIT4 SECTION "Assigned Topics" [2497-4083] -->
<h2 class="sectionedit5" id="assigned_reviews">Assigned Reviews</h2>
<div class="level2">

<p>
Find the review form <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/review-template.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/review-template.txt"  rel="nofollow">here</a>. Write your nadatory review and email it to Mathias Lux.
</p>
<ul>
<li class="level1"><div class="li"> Alf: 2</div>
</li>
<li class="level1"><div class="li"> D&ouml;rflinger: 4</div>
</li>
<li class="level1"><div class="li"> Kletz: 5</div>
</li>
<li class="level1"><div class="li"> Brodbeck: 7</div>
</li>
<li class="level1"><div class="li"> Frick: 1</div>
</li>
<li class="level1"><div class="li"> Schmid: 1</div>
</li>
<li class="level1"><div class="li"> Gr&auml;fitsch: 2</div>
</li>
<li class="level1"><div class="li"> Petscharnig: 4</div>
</li>
<li class="level1"><div class="li"> Maier: 5</div>
</li>
<li class="level1"><div class="li"> Appesbacher: 7</div>
</li>
<li class="level1"><div class="li"> Kruschitz: 1</div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Assigned Reviews" [4084-4464] -->
<h2 class="sectionedit6" id="open_topics">Open Topics</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> User Studies: Online Mail - <a href="http://doi.acm.org/10.1145/1753846.1754199" class="urlextern" title="http://doi.acm.org/10.1145/1753846.1754199"  rel="nofollow">Best of both worlds: improving gmail labels with the affordances of folders</a> </div>
</li>
<li class="level1"><div class="li"> Metadata in B2B - Metadata in the Audiovisual Media Production Process (available on request)</div>
</li>
<li class="level1"><div class="li"> Near Duplicate Videos - <a href="http://doi.acm.org/10.1145/1631272.1631280" class="urlextern" title="http://doi.acm.org/10.1145/1631272.1631280"  rel="nofollow">Understanding near-duplicate videos: a usr-centric approach</a></div>
</li>
<li class="level1"><div class="li"> Video Re-Targeting - <a href="http://doi.acm.org/10.1145/1291233.1291246" class="urlextern" title="http://doi.acm.org/10.1145/1291233.1291246"  rel="nofollow">Re-cinematography: improving the camera dynamics of casual video</a></div>
</li>
<li class="level1"><div class="li"> Shot boundaries in videos - <a href="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf" class="urlextern" title="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf"  rel="nofollow">Comparison of automatic shot boundary detection algorithms</a></div>
</li>
<li class="level1"><div class="li"> Affection &amp; movies - <a href="http://www.computer.org/portal/web/csdl/doi/10.1109/ISM.2009.98" class="urlextern" title="http://www.computer.org/portal/web/csdl/doi/10.1109/ISM.2009.98"  rel="nofollow">Towards a ground truth for affective classification in movies</a></div>
</li>
<li class="level1"><div class="li"> Visual attention - <a href="http://doi.acm.org/10.1145/1185448.1185588" class="urlextern" title="http://doi.acm.org/10.1145/1185448.1185588"  rel="nofollow">Using visual attention to extract regions of interest in the context of image retrieval</a></div>
</li>
<li class="level1"><div class="li"> Navigation in social tags - <a href="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf" class="urlextern" title="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf"  rel="nofollow">On the Navigability of Social Tagging Systems</a></div>
</li>
</ul>

</div>
<!-- EDIT6 SECTION "Open Topics" [4465-] -->