
<h1 class="sectionedit1" id="proseminar">Proseminar</h1>
<div class="level1">

<p>
Within the proseminar you need to pick a topic, do research on the topic, write a paper about that and present your results to the course. Furthermore you need to review the paper of several colleagues and write reviews on their work. Grades are based on your written work, your work done in writing reviews for other papers and your presentation. Topics and literature are provided, but can be suggested by students.
</p>

<p>
Note that for your research <em>basic</em> understanding of the assigned readings and the readings you find throughout your survey is required. You do not need to understand each and every detail as many of the papers present complex and specific things.
</p>

</div>
<!-- EDIT1 SECTION "Proseminar" [1-695] -->
<h2 class="sectionedit2" id="schedule">Schedule</h2>
<div class="level2">

<p>
The course will be held in blocks. The blocks will take place at the end of the semester. Schedule will be discussed in the course.
</p>
<ul>
<li class="level1"><div class="li"> Di, 05.10. 2010, 14.oo c.t. / E.2.42: Briefing &amp; schedule</div>
</li>
<li class="level1"><div class="li"> Di, 09.11. 2010, 14.oo c.t. / E.2.42: Scientific work &amp; writing -  <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/02_wiss_arbeiten.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/02_wiss_arbeiten.pdf"  rel="nofollow">slides</a> (pdf, 851k)</div>
</li>
<li class="level1"><div class="li"> Di, 16.11. 2010, 14.oo c.t. / E.2.42: Schreibcenter</div>
</li>
<li class="level1"><div class="li"> Di, 23.11. 2010, 14.oo c.t. / E.2.42: Presentations - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/03_praesentation.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/03_praesentation.pdf"  rel="nofollow">slides</a> (pdf, 143k)</div>
</li>
<li class="level1"><div class="li"> Di, 21.12. 2010, 14.15 - 17.45 / E.2.42: Presentation training</div>
</li>
<li class="level1"><div class="li"> So, 16.01. 2011: Reviews due - find reviews <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/reviews/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/reviews/"  rel="nofollow">here</a></div>
</li>
<li class="level1"><div class="li"> Di, 08.02. 2011, 14.15 - 17.45 / E.2.42: Final presentation</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Schedule" [696-1568] -->
<h2 class="sectionedit3" id="deliverables">Deliverables</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> Written work in <a href="http://www.acm.org/sigs/publications/proceedings-templates" class="urlextern" title="http://www.acm.org/sigs/publications/proceedings-templates"  rel="nofollow">ACM Style</a> (Option 1), PDF</div>
</li>
<li class="level1"><div class="li"> 7 pages for groups of two, 5 pages for people working alone</div>
<ul>
<li class="level2"><div class="li"> At least 6 self found references have to be included by groups of two.</div>
</li>
<li class="level2"><div class="li"> At least 3 self found references have to be included by people working alone.</div>
</li>
<li class="level2"><div class="li"> 1st version due <strong>31.12.2010</strong>, email PDF &amp; sources to M. Lux</div>
</li>
<li class="level2"><div class="li"> final version due <strong>31.01.2011</strong>, email PDF &amp; sources to M. Lux</div>
<ul>
<li class="level3"><div class="li"> Incorporate suggestions from your colleagues&#039; <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/reviews/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/reviews/"  rel="nofollow">reviews</a></div>
</li>
</ul>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Presentation of 15-20 Min along with slides (PDF, format and amount of your choice)</div>
<ul>
<li class="level2"><div class="li"> due <strong>31.01.2011</strong>, email PDF to M. Lux</div>
</li>
</ul>
</li>
<li class="level1"><div class="li"> Review for 2 papers of colleagues, </div>
<ul>
<li class="level2"><div class="li"> Find the papers <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/"  rel="nofollow">here</a>.</div>
</li>
<li class="level2"><div class="li"> Find your assignments <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/zuteilungen-proseminar.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/zuteilungen-proseminar.pdf"  rel="nofollow">here</a>.</div>
</li>
<li class="level2"><div class="li"> Find the plain text form for reviews <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/review-template.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/review-template.txt"  rel="nofollow">here</a>.</div>
</li>
<li class="level2"><div class="li"> Read the assigned 2 papers, write the two mandatory reviews in <strong>German</strong> due <strong>16.01.2011</strong>, email <strong>plain text</strong> attachment to M. Lux.</div>
</li>
</ul>
</li>
</ul>

</div>
<!-- EDIT3 SECTION "Deliverables" [1569-2908] -->
<h2 class="sectionedit4" id="topics">Topics</h2>
<div class="level2">

<p>
(1) Designing Games with a Purpose - <a href="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf"  rel="nofollow">Games With a Purpose</a> and <a href="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf"  rel="nofollow">Peekaboom: A Game for Locating Objects in Images</a> - Thomas Gruber
</p>

<p>
(2) Human Computation - <a href="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf"  rel="nofollow">CAPTCHA: Using Hard AI Problems for Security</a> and <a href="http://doi.acm.org/10.1145/1298406.1298408" class="urlextern" title="http://doi.acm.org/10.1145/1298406.1298408"  rel="nofollow">Human computation</a> - Thomas Ressmann
</p>

<p>
(4) Social Multimedia Platforms - <a href="http://doi.acm.org/10.1145/1459359.1459362" class="urlextern" title="http://doi.acm.org/10.1145/1459359.1459362"  rel="nofollow">Enhancing social sharing of videos: fragment, annotate, enrich, and share</a> - Andreas Brunner, Markus Sch&uuml;tz
</p>

<p>
(6) User Studies: Online Mail - <a href="http://doi.acm.org/10.1145/1753846.1754199" class="urlextern" title="http://doi.acm.org/10.1145/1753846.1754199"  rel="nofollow">Best of both worlds: improving gmail labels with the affordances of folders</a> - Alessandro Aichmann
</p>

<p>
(7) Video Microblogging - <a href="http://doi.acm.org/10.1145/1753846.1753979" class="urlextern" title="http://doi.acm.org/10.1145/1753846.1753979"  rel="nofollow">Video microblogging: your 12 seconds of fame</a> - Martin Breithuber, Alex Petr
</p>

<p>
(8) Intimacy in online gaming - <a href="http://doi.acm.org/10.1145/1753326.1753361" class="urlextern" title="http://doi.acm.org/10.1145/1753326.1753361"  rel="nofollow">The Rogue in the Lovely Black Dress: Intimacy in World of Warcraft</a> - Nikolaus Hartlieb,  Alexander Zaiser
</p>

<p>
(9) User Intentions on the Web - <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf" class="urlextern" title="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf"  rel="nofollow">A Taxonomy of Web Search</a> - Abdollahzadeh Said
</p>

<p>
(11) Ad detection in videos - <a href="ftp://pi4.informatik.uni-mannheim.de/pub/techreports/1996/TR-96-016.ps.gz" class="urlextern" title="ftp://pi4.informatik.uni-mannheim.de/pub/techreports/1996/TR-96-016.ps.gz"  rel="nofollow">On the Detection and Recognition of Television Commercials</a> - Franz Haupt
</p>

<p>
(19) Social Online Gaming - <a href="http://doi.acm.org/10.1145/1031607.1031667" class="urlextern" title="http://doi.acm.org/10.1145/1031607.1031667"  rel="nofollow">The social side of gaming: a study of interaction patterns in a
massively multiplayer online game</a> - Primeßnig Andreas
</p>

</div>
<!-- EDIT4 SECTION "Topics" [2909-4610] -->
<h2 class="sectionedit5" id="abandoned_topics">Abandoned Topics</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> <del>Near Duplicate Videos - <a href="http://doi.acm.org/10.1145/1631272.1631280" class="urlextern" title="http://doi.acm.org/10.1145/1631272.1631280"  rel="nofollow">Understanding near-duplicate videos: a user-centric approach</a></del></div>
</li>
<li class="level1"><div class="li"> <del>Video Re-Targeting - <a href="http://doi.acm.org/10.1145/1291233.1291246" class="urlextern" title="http://doi.acm.org/10.1145/1291233.1291246"  rel="nofollow">Re-cinematography: improving the camera dynamics of casual video</a> - Hamzic Dino</del></div>
</li>
<li class="level1"><div class="li"> <del>Shot boundaries in videos - <a href="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf" class="urlextern" title="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf"  rel="nofollow">Comparison of automatic shot boundary detection algorithms</a></del></div>
</li>
<li class="level1"><div class="li"> <del>Affection &amp; movies - <a href="http://www.computer.org/portal/web/csdl/doi/10.1109/ISM.2009.98" class="urlextern" title="http://www.computer.org/portal/web/csdl/doi/10.1109/ISM.2009.98"  rel="nofollow">Towards a ground truth for affective classification in movies</a> - Sandrieser Kevin</del></div>
</li>
<li class="level1"><div class="li"> <del>Metadata in B2B - Metadata in the Audiovisual Media Production Process (available on request) - Vera Koren</del></div>
</li>
<li class="level1"><div class="li"> <del>Visual attention - <a href="http://doi.acm.org/10.1145/1185448.1185588" class="urlextern" title="http://doi.acm.org/10.1145/1185448.1185588"  rel="nofollow">Using visual attention to extract regions of interest in the context of image retrieval</a> - Michael Maier</del></div>
</li>
<li class="level1"><div class="li"> <del>Tagging Motivation - <a href="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf" class="urlextern" title="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf"  rel="nofollow">Of Categorizers and Describers: An Evaluation of Quantitative Measures for Tagging Motivation</a> - Prinster Patrick</del></div>
</li>
<li class="level1"><div class="li"> <del>Navigation in social tags - <a href="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf" class="urlextern" title="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf"  rel="nofollow">On the Navigability of Social Tagging Systems</a> - Tanja Pongratz</del></div>
</li>
<li class="level1"><div class="li"> <del>SIFT - <a href="http://www.cs.ubc.ca/~lowe/papers/ijcv04.pdf" class="urlextern" title="http://www.cs.ubc.ca/~lowe/papers/ijcv04.pdf"  rel="nofollow">Distinctive image features from scale-invariant keypoints</a></del></div>
</li>
<li class="level1"><div class="li"> <del>MSER - <a href="http://cmp.felk.cvut.cz/~matas/papers/matas-bmvc02.pdf" class="urlextern" title="http://cmp.felk.cvut.cz/~matas/papers/matas-bmvc02.pdf"  rel="nofollow">Robust wide baseline stereo from maximally stable extremal regions</a></del></div>
</li>
</ul>

</div>
<!-- EDIT5 SECTION "Abandoned Topics" [4611-] -->