
<h1 class="sectionedit1" id="pr_rechnernetze_ws_2007_2008">PR Rechnernetze WS 2007/2008</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> Folien vom 08.10. 2007 (OMNeT++ Einf&uuml;hrung in der VO) → <a href="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/OMNet-Einfuehrung.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/OMNet-Einfuehrung.pdf"  rel="nofollow">download</a></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> Folien vom 03.10. 2007 → <a href="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/Rechnernetze-2007-10-03.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/Rechnernetze-2007-10-03.pdf"  rel="nofollow"> download</a></div>
</li>
<li class="level1"><div class="li"> Folien vom 17.10. 2007 → <a href="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/Rechnernetze-2007-10-17.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/Rechnernetze-2007-10-17.pdf"  rel="nofollow"> download</a></div>
</li>
<li class="level1"><div class="li"> <del>Folien vom 24.10. 2007</del> entf&auml;llt</div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "PR Rechnernetze WS 2007/2008" [1-499] -->
<h2 class="sectionedit2" id="useful_links">Useful Links</h2>
<div class="level2">
<ul>
<li class="level1"><div class="li"> <a href="http://elonen.iki.fi/code/nanohttpd/" class="urlextern" title="http://elonen.iki.fi/code/nanohttpd/"  rel="nofollow">NanoHTTPD</a> - A one file, one class Java HTTP server. </div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Useful Links" [500-623] -->
<h2 class="sectionedit3" id="tcpmon_-_monitor_fuer_tcp_basierte_protokolle">TCPMon - Monitor f&uuml;r TCP basierte Protokolle</h2>
<div class="level2">

<p>
Der TCPMonitor (aus dem <a href="http://ws.apache.org/axis/" class="urlextern" title="http://ws.apache.org/axis/"  rel="nofollow">Apache Axis Projekt</a>) erlaubt das “Mith&ouml;ren” bei HTTP Verbindungen. Will man zum Beispiel die Verbindung des Webbrowsers zur ORF Webseite <em>abh&ouml;ren</em>, dann kann man mit folgender Konfiguration (siehe Bild) eine Weiterleitung einrichten. Durch Besuch der Adresse <a href="http://127.0.0.1:9001" class="urlextern" title="http://127.0.0.1:9001"  rel="nofollow">http://127.0.0.1:9001</a> im Browser werden alle HTTP Requests und Responses im TCPMonitor angezeigt.
</p>

<p>
<a href="/~mlux/wiki/lib/exe/detail.php?id=courses%3Arechnernetzews0708&amp;media=courses:tcpmon.png" class="media" title="courses:tcpmon.png"><img src="/~mlux/wiki/lib/exe/fetch.php?media=courses:tcpmon.png" class="mediacenter" alt="" /></a>
</p>

</div>
<!-- EDIT3 SECTION "TCPMon - Monitor f&uuml;r TCP basierte Protokolle" [624-1129] -->
<h3 class="sectionedit4" id="download">Download</h3>
<div class="level3">

<p>
Bereits als Paket f&uuml;r Windows bzw. Java hier zum Download, <a href="http://java.sun.com" class="urlextern" title="http://java.sun.com"  rel="nofollow">Java 6</a> wird allerdings in beiden F&auml;llen ben&ouml;tigt:
</p>
<ul>
<li class="level1"><div class="li"> Windows executable → <a href="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/utils/tcpmon-windows-bin.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/utils/tcpmon-windows-bin.zip"  rel="nofollow">download</a></div>
</li>
<li class="level1"><div class="li"> Java package → <a href="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/utils/tcpmon-java-bin.zip" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/rechnernetze-ws07/utils/tcpmon-java-bin.zip"  rel="nofollow">download</a></div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "Download" [1130-1521] -->
<h2 class="sectionedit5" id="putty_xming_howto">PuTTy &amp; XMing HowTo</h2>
<div class="level2">
<ol>
<li class="level1"><div class="li"> Installieren Sie PuTTY → <a href="http://www.chiark.greenend.org.uk/~sgtatham/putty/" class="urlextern" title="http://www.chiark.greenend.org.uk/~sgtatham/putty/"  rel="nofollow"> download</a></div>
</li>
<li class="level1"><div class="li"> Installieren Sie Xming X Server for Windows → <a href="http://sourceforge.net/projects/xming" class="urlextern" title="http://sourceforge.net/projects/xming"  rel="nofollow"> download</a></div>
</li>
<li class="level1"><div class="li"> Starten Sie PuTTY und geben sie f&uuml;r als „Host Name“ <code>pl00-itec.uni-klu.ac.at</code> ein.</div>
</li>
<li class="level1"><div class="li"> Geben sie unter „Saved Sessions“ <code>pl00-itec</code> ein</div>
</li>
<li class="level1"><div class="li"> W&auml;hlen Sie die Kategorie „X11“ im Verzeichnisbaum auf der rechten Seite.</div>
</li>
<li class="level1"><div class="li"> Aktivieren Sie „Enable X11 Forwarding“.</div>
</li>
<li class="level1"><div class="li"> Geben sie im Feld „X display location“ <code>localhost:0</code> ein.</div>
</li>
<li class="level1"><div class="li"> Gehen Sie zur&uuml;ck auf die Kategorie „Session“ und klicken sie den Button „Save“.</div>
</li>
<li class="level1"><div class="li"> Starten Sie Xming</div>
</li>
<li class="level1"><div class="li"> Klicken Sie den Button „Open“</div>
</li>
<li class="level1"><div class="li"> Loggen Sie sich mit ihrem UniKlu Account ein.</div>
</li>
</ol>

</div>
<!-- EDIT5 SECTION "PuTTy & XMing HowTo" [1522-2308] -->
<h3 class="sectionedit6" id="screenshots">Screenshots</h3>
<div class="level3">

<p>
<a href="/~mlux/wiki/lib/exe/detail.php?id=courses%3Arechnernetzews0708&amp;media=courses:putty1.png" class="media" title="courses:putty1.png"><img src="/~mlux/wiki/lib/exe/fetch.php?media=courses:putty1.png" class="mediacenter" title=" Screenshot PuTTy 1" alt=" Screenshot PuTTy 1" /></a>
</p>

<p>
<a href="/~mlux/wiki/lib/exe/detail.php?id=courses%3Arechnernetzews0708&amp;media=courses:putty2.png" class="media" title="courses:putty2.png"><img src="/~mlux/wiki/lib/exe/fetch.php?media=courses:putty2.png" class="mediacenter" title=" Screenshot PuTTy 2" alt=" Screenshot PuTTy 2" /></a>
</p>

</div>
<!-- EDIT6 SECTION "Screenshots" [2309-] -->