<div class="row">
    <div class="col-md-12">
        <h1>Ringvorlesung Informatik und Informationstechnik</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Allgemeine Informationen</h2>

        <p>Die Ringvorlesung Informatik wendet sich an DissertantInnen, an angehende DissertantInnen
            (derzeit
            DiplomandInnen),
            an alle interessierte MitarbeiterInnen der Forschungsgruppen der Informatik und Informationstechnik sowie
            allgemein
            an aktueller Informatik-Forschung interessierte Personen. Die Ringvorlesung wird jährlich angeboten: <a
                    href="http://www.syssec.at/?id=rv14">SS 2014</a>.</p>

        <p>In den Vorträgen werden Vertreter der Informatik, Mathematik und Informationstechnik ausgewählte aktuelle
            Forschungs-arbeiten vorstellen und mit den DoktorandInnen vertiefen.</p>

        <p>Spezielle Ziele dieser Lehrveranstaltung sind:
        <ul>
            <li>Die HörerInnen sollen durch die Vorträge Ein- und Überblicke zu aktuellen Forschungsfragen, -methoden
                und
                -projekten in der Informatik und Informationstechnik erhalten
            </li>
            <li>Die DissertantInnen sollen ihren Standort in ihrem eigenen Dissertationsvorhaben bestimmen, d.h. sich
                ihr(e)
                Forschungsgebiet, -fragen, -ziele und -methoden klar machen und dokumentieren
            </li>
            <li>Die DissertantInnen sollen Querbezüge zu einem der in den Vorträgen dargestellten "fremden"
                Forschungsgebiete
                identifizieren, Anknüpfungspunkte und möglichen Nutzen herausarbeiten, Kontakt zu dem entsprechenden
                Vortragenden
                herstellen, die Querbezüge mit ihm diskutieren und in Form der Bearbeitung eines kleinen "Projekts"
                vertiefen
            </li>
            <li>Damit sollen letztlich die beteiligten Forschungsgruppen einander besser kennenlernen, die Kontakte
                intensiviert,
                Querbezüge identifiziert und mögliche Kooperationen initiiert werden können. Die DissertantInnen sollen
                erkennen,
                ob/dass sie in anderen Forschungsgruppen Unterstützung bekommen können
            </li>
        </ul>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Inhaltliche Voraussetzungen</h2>

        <p>Die Vorträge sind öffentlich, Zeugnisse werden an DoktorandInnen vergeben, je nach Vortragenden werden die
            Vorträge in deutscher und in englischer Sprache abgehalten.
            Methodik</p>

        <h2>Lehrmethode</h2>

        <p>Vorträge &amp; Dokumentation des Dissertationsvorhabens, von dessen (möglichen) Querbezügen zu zwei anderen
            Fächern durch die DoktorandInnen
            Die Vortragssprache wird überwiegend Deutsch sein, in Ausnahmefällen Englisch. Die Lehrveranstaltung kann
            ggf.
            auch in Englisch absolviert werden.</p>

        <h2>Prüfungsmodus</h2>

        <p>Für die Absolvierung einer Prüfung bitte an den LV-Leiter wenden!
            Prüfungsinhalte: Besuch der Vorträge, Ausarbeitungen und Präsentationen, Bewertung durch Vortragende und
            LV-Leiter.
        </p>

        <div class=" panel panel-default" style="margin-top: 24px">
            <div class="panel-heading">
                <h2 class="panel-title">Zeit &amp; Ort</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><i class="glyphicon glyphicon-time"></i> Dienstags von 17-18.3o Uhr</li>
                    <li><i class="glyphicon glyphicon-map-marker"></i> HS 2, Alpen-Adria Universität Klagenfurt</li>
                </ul>
            </div>
        </div>
        <!--Ausnahmen: 17.3., 28.4., 5.5.-->
    </div>
</div>
<div class="row">
    <div class="col-md-12"><h2>Themen &amp; Termine</h2></div>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Datum</th>
                <th>Vortragende/r</th>
                <th>Thema</th>
                <th>Infos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><i class="glyphicon glyphicon-ok"></i></td>
                <td>24.03. 2015</td>
                <td>Tamer T.N. Khatib, Ph.D, Senior Researcher, NES, AAU</td>
                <td>Modeling of Solar Energy</td>
                <td><a href="#" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalTK">
                    more ...
                </a></td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-ok"></i></td>
                <td>12.05. 2015</td>
                <td>Univ.-Prof. Dipl.-Ing. Dr. Hermann Hellwagner, ITEC, AAU</td>
                <td>Effective Multimedia Content Dissemination in a Future Internet Architecture - the CONCERT Project
                </td>
                <td><a href="#" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalHH">
                    more ...
                </a></td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-ok"></i></td>
                <td>19.05. 2015</td>
                <td>Postdoc-Ass. Dipl.-Ing. Dr. Christian Koncilia, ISYS, AAU</td>
                <td>From OLAP to S-OLAP to I-OLAP</td>
                <td><a href="#" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalCK">
                    more ...
                </a></td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-ok"></td>
                <td>02.06. 2015</td>
                <td>Assoc.-Prof. Dr. Klaus Schöffmann, ITEC, AAU</td>
                <td>Interaktive Videosuche</td>
                <td><a href="#" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalKS">
                    more ...
                </a></td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-ok"></i></td>
                <td>16.06. 2015</td>
                <td>Dr. Agnes Koschmider, Karlsruher Institut für Technologie</td>
                <td>Linguistische Analysen von Geschäftsprozessmodellen</td>
                <td><a href="#" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalAK">
                    more ...
                </a></td>
            </tr>
            <tr>
                <td><i class="glyphicon glyphicon-time"></td>
                <td>23.06. 2015</td>
                <td>Univ.-Prof. Dr. Andrea M. Tonello, NES, AAU</td>
                <td>Why do smart systems need telecommunications? Opportunities for advances in communication technology
                </td>
                <td><a href="#" type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modalAT">
                    more ...
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal CK -->
    <div class="modal fade" id="modalCK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myCKModalLabel">From OLAP to S-OLAP to I-OLAP</h4>
                    <span>Postdoc-Ass. Dipl.-Ing. Dr. Christian Koncilia, ISYS, AAU</span>
                </div>
                <div class="modal-body">
                    <h4>Abstract</h4>

                    <p>During the last decades Online Analytical Processing (OLAP) became state of the art to analyze
                        huge data sets. OLAP systems are build to answer queries like „What are the sales for product P
                        in region R in March 2015“. However, existing OLAP techniques, although very advanced ones,
                        allow to analyze mostly set oriented data without exploiting the existing order among the data.
                        For this reason, it was necessary to create new models and techniques that would be able to
                        store and analyze such data efficiently. In this talk we will give a brief overview of a model
                        that enables the user to analyze both, sequential and interval based data, i.e. a model that
                        takes the order among data into account.
                    </p>

                    <h4>CV</h4>

                    <p> Christian Koncilia is a postdoc at the University of Klagenfurt. Prior to this position, he was
                        a data warehousing consultant in Munich, Germany and a project manager in Klagenfurt, Austria.
                        He received his PhD in applied computer science in 2002. His research interests include temporal
                        databases, data warehousing and multidimensional databases. He published several papers in
                        international conference proceedings.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal HH -->
    <div class="modal fade" id="modalHH" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myHHModalLabel">Effective Multimedia Content Dissemination in a Future
                        Internet Architecture - the CONCERT Project</h4>
                    <span>Univ.-Prof. Dipl.-Ing. Dr. Hermann Hellwagner, ITEC, AAU</span>
                </div>
                <div class="modal-body">
                    <h4>Abstract</h4>

                    <p>Multimedia content, in particular video, is the predominant traffic source in today's Internet.
                        Unfortunately, the Internet architecture and protocols have not been designed to cope with this
                        type of content. Thus, in the past decade, a variety of Future Internet architecture proposals
                        have come up, most importantly Information-Centric Networking (ICN) approaches. In ICN, the
                        network devices are designed to be content-aware and able to modify and cache content.
                    </p>

                    <p>
                        In this talk, we will present the objectives and our recent work and results of the
                        international basic research project CONCERT, which attempts to design, implement, and evaluate
                        mechanisms for effective multimedia content dissemination, most importantly video streaming, in
                        a widely investigated ICN architecture. The specific ICN architecture, forwarding techniques,
                        caching strategies, the use of scalably encoded video, and the use of context information to
                        support effective video streaming and, eventually, to achieve user satisfaction, will be
                        addressed.
                    </p>

                    <h4>CV</h4>

                    <p>Hermann Hellwagner is a full professor of Informatics in the Institute of Information Technology
                        (ITEC), Alpen-Adria-Universität Klagenfurt, Austria, leading the Multimedia Communications
                        group. His current research areas are distributed multimedia systems, multimedia communications,
                        and quality of service. He has received many research grants from national (Austria, Germany)
                        and European funding agencies as well as from industry, is the editor of several books, and has
                        published more than 200 scientific papers on parallel computer architecture, parallel
                        programming, and multimedia communications and adaptation. He is a senior member of the IEEE,
                        member of the ACM, GI (German Informatics Society) and OCG (Austrian Computer Society), and Vice
                        President of the Austrian Science Fund (FWF).
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AT -->
    <div class="modal fade" id="modalAT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myATModalLabel">Why do smart systems need telecommunications? Opportunities for advances in communication technology</h4>
                    <span>Univ.-Prof. Dr. Andrea M. Tonello, NES, AAU</span>
                </div>
                <div class="modal-body">
                    <h4>Abstract</h4>

                    <p>There is a tremendous need for novel services in a number of market domains as energy, transportation, automotive that allow bettering the quality of life, increasing the user benefit and reducing the environmental impact. Systems are evolving into smart systems, or better to say, in systems that facilitate the user intelligent behavior. They are intrinsically becoming more complex and demanding the fulfillment of stringent requirements to the underlying enabling technologies which include the components (as energy generators, sensors/actuators, robots, vehicles), the communication infrastructures and the intelligence to smartly manage the interaction between such components.  Despite the fact that communication technology (both wireless and wireline) has significant improved, new opportunities arise for the development of new solutions to overcome the resource limitations (spectrum and energy), the high traffic demands, the security/privacy issues. In wireless, this is known as 5G. In wireline, power line communications is gaining momentum and is fast evolving. In this talk, we will discuss some hot topics, challenges and approaches in wireless communication technology, as well as in power line communications, showing that despite they may appear as competitive technologies they are synergic and they can benefit from a convergent approach in many different application domains, e.g., in smart grids, for smart cars, in smart factories.
                    </p>

                    <h4>CV</h4>

                    <p>Andrea M. Tonello received the doctor of engineering degree in electronics (1996) and the doctor of research degree in electronics and telecommunications (2003), both from the University of Padova, Italy.
                        On February 1997, he joined as a member of technical staff, Bell Labs – Lucent Technologies, where he worked on the development of baseband algorithms for cellular handsets, first in Holmdel, NJ, and then within the Philips/Lucent Consumer Products Division in Piscataway, NJ. From September 1997 to December 2002, he has been with the Bell Labs Advanced Wireless Technology Laboratory, Whippany, NJ. He was promoted in 2002 to technical manager and was appointed managing director of Bell Labs, Italy. In January 2003, he joined the University of Udine, Italy. He became aggregate professor in 2005 and associate professor in 2014. He was awarded the Italian full professor habilitation in 2013. At the University of Udine, he founded the Wireless and Power Line Communications Lab. He also founded WiTiKee a spin-off company doing R&D in communications for the smart grid. He is currently a professor at the University of Klagenfurt, Austria, where he chairs the group on Embedded Communication Systems.
                        His research focuses on next generation wireless systems, power line communications, embedded and smart systems.  Dr. Tonello received several awards among which the Lucent Bell Labs Recognition of Excellence award (2003), the Distinguished Visiting Fellowship from the Royal Academy of Engineering, UK (2010), and the Distinguished Lecturer Award by the IEEE Vehicular Technology Society (2011-2012 and 2013-15). He is the co-recipient of five best paper awards. He was the General Chair of IEEE ISPLC 2011 and IEEE SmartGridComm 2014.
                        He serves as associate editor for the IEEE Transaction on Communication, IEEE Access and AEÜ Journal of Electronics and Communications. He is the chair elected of the IEEE Communications Society Technical Committee on Power Line Communications. Web page: http://nes.aau.at/tonello/

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal AK -->
    <div class="modal fade" id="modalAK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myAKModalLabel">Linguistische Analysen von Geschäftsprozessmodellen</h4>
                    <span>Dr. Agnes Koschmider, Karlsruher Institut für Technologie</span>
                </div>
                <div class="modal-body">
                    <h4>Abstract</h4>

                    <p>Zur Analyse des Verhaltens von Geschäftsprozessmodellen existieren sehr viele Methoden, die
                        theoretisch fundiert sind und in Werkzeugen des Geschäftsprozessmanagements praktisch eingesetzt
                        werden. Ein Geschäftsprozessmodell, welches ein korrektes Verhalten aufweist (z.B. in dem Sinn,
                        dass es verklemmungsfrei ist), kann für den potentiellen Nutzer trotzdem unbrauchbar sein, weil
                        er das Geschäftsprozessmodell inhaltlich nicht versteht. Die Frage nach linguistischen Analysen
                        von Geschäftsprozessmodellen wurde bislang wenig untersucht. Im Rahmen meiner Forschung
                        kombiniere ich Methoden der Linguistik, um neuartige Verfahren zur Transformation von
                        Geschäftsprozessmodellen in "verständlichere" Modelle zu unterstützen. Diese Verfahren werden im
                        Rahmen meines Vortrags vorgestellt.</p>

                    <h4>CV</h4>

                    <p>Dr. Agnes Koschmider ist Wissenschaftlerin am Karlsruher Institut für Technologie (Deutschland).
                        Im Juli 2007 promovierte sie im Fach der Angewandten Informatik mit der Arbeit
                        "Ähnlichkeitsbasierte Modellierungsunterstützung für Geschäftsprozessmodelle". Im Juli 2015 wird
                        sie im selben Fach habilitiert. In der Forschung beschäftigt sich Agnes Koschmider mit der
                        Entwicklung betrieblicher Informationssysteme. Insbesondere entwickelt sie Methoden zur
                        Unterstützung der Modellbildung. Seit 2013 ist Agnes Koschmider Junior-Fellow der Gesellschaft
                        für Informatik. Als Anerkennung ihrer Beiträge zur Umsetzung der modernen
                        Informationstechnologie wurde sie mit dem Wolfgang-Heilmann-Preis 2014 ausgezeichnet.
                        Derzeit macht Agnes Koschmider einen Forschungsaufenthalt an der Alpen-Adria Universität, der
                        durch das ERASMUS Programm finanziert wird.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal TK -->
    <div class="modal fade" id="modalTK" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myTKModalLabel">Modeling of Solar Energy</h4>
                    <span>Tamer T.N. Khatib, Ph.D, Senior Researcher, NES, AAU</span>
                </div>
                <div class="modal-body">
                    <h4>Abstract</h4>

                    <p>Solar radiation data provide information on how much of the sun’s energy strikes a surface at a
                        location on the earth during a particular time period. These data are needed for effective
                        research in solar-energy utilization. Due to the cost of and difficulty in solar radiation
                        measurements and these data are not readily available, alternative ways of generating these data
                        are needed. In this lecture, a review will be conducted on the solar energy modeling techniques
                        which are classified based on the nature of the modeling technique. Linear, nonlinear, satellite
                        based and artificial intelligence models for solar energy prediction hare considered.</p>

                    <h4>CV</h4>

                    <p>Tamer is a photovoltaic power systems professional. He holds a B.Sc. degree in electrical power
                        systems from An-Najah National University, Palestine as well as a M.Sc. degree and a Ph.D degree
                        in photovoltaic power systems from National University of Malaysia, Malaysia. Currently he is a
                        senior researcher and academic staff at Alpen Adria Universität, Klagenfurt, Austria.
                        So far, he has 2 patents, 1 book and 75 research articles, while his current h-index is 13. He
                        has lectured 6 courses for undergraduate students, supervised 5 Ph.D researches, 2 master
                        researches and 15 bachelor researches.
                        He is a member of IEEE, IEEE Power and Energy Society, The International Solar Energy society,
                        Jordanian Engineers Association, Palestinian Solar and Sustainable Energy Association and
                        International Association of Engineers.
                        His research interests mainly fall in the scope of photovoltaic systems and solar energy
                        fundamentals. These interests include PV systems design and optimization, modeling and control
                        of PV systems, hybrid PV/Wind systems, hybrid PV/diesel systems, Grid connected PV systems, sun
                        trackers, MPPT technology, inverters in PV system, solar chargers, batteries and charge
                        controllers, solar energy fundamentals, solar energy prediction, AI applications for solar
                        energy and PV systems, wind power systems, wind chargers, wind energy modeling and
                        prediction.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal KS -->
    <div class="modal fade" id="modalKS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Interactive Video Search</h4>
                    <span>Assoc.-Prof. Dr. Klaus Schöffmann, ITEC, AAU</span>
                </div>
                <div class="modal-body">
                    <h4>Abstract</h4>

                    <p>With an increasing amount of video data in our daily life, the need for content-based search in
                        videos increases as well. Though a lot of research has been spent on video retrieval tools and
                        methods, which allow for automatic search in videos through content-based queries, still the
                        performance of automatic video retrieval is far from optimal. One problem of automatic video
                        retrieval is the fact that the actual search process is performed by the video retrieval engine,
                        which is a black box for the user. More importantly, there are situations where the common
                        query-and-browse-results approach cannot be employed, for example when users are not able to
                        formulate their search needs through a query - or when they simply want to browse the content
                        without any concrete query in mind. Interactive video search is an alternative method for
                        content-based search in videos. It provides flexible content interaction features and gives full
                        control of the search process to the user, who will know best which features to use and how, in
                        order to solve a search problem. In this talk I will discuss (i) proposed solutions for improved
                        video content navigation, (ii) typical interaction of content-based querying features, and (iii)
                        advanced video content visualization methods.</p>

                    <h4>CV</h4>

                    <p>Dr. Klaus Schöffmann is Associate Professor in the Distributed Multimedia Systems research group
                        at the Institute of Information Technology (ITEC) at Klagenfurt University, Austria. He received
                        his Ph.D. in Computer Science in 2009 and his Habilitation (venia docendi) in 2015, both from
                        Klagenfurt University. His research interests include interactive video search, video
                        processing, and multimedia systems and applications. He has co-authored more than 60
                        publications on various topics in multimedia and he has co-organized international conferences,
                        special sessions and workshops (e.g., MMM 2012, CBMI 2013, VisHMC 2014, MMC 2014, and MMC 2015).
                        He is co-founder of the Video Browser Showdown (VBS), an editorial board member of the Springer
                        International Journal on Multimedia Tools and Applications (MTAP), and a steering committee
                        member of the International Conference on MultiMedia Modelling (MMM). Additionally, he is member
                        of the IEEE and the ACM and a frequent reviewer for international conferences and journals in
                        the field of multimedia. Prof. Schoeffmann teaches various courses in computer science,
                        including mobile app developement (interactive multimedia applications), media technology,
                        distributed systems, distributed multimedia systems, and operating systems.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center"><span class="glyphicon glyphicon-arrow-down"></span></div>
</div>