<!--- ------------------- MAIN ------------------- -->
<h1>Seminar aus Angewandte Informatik</h1>
<p>
    Im Seminar aus Angewandte Informatik geht es darum sich ein Thema auszuw&auml;hlen, und dieses dann in
    wissenschaftlicher Art und Weise zu betrachten, zu diskutieren und den State of the Art festzuhalten. Im
    neuen Studienplan ist die Seminararbeit nicht mehr Teil der Bakk.-Arbeit.
</p>

<h2>Schedule</h2>

<div>
    <ul>
        <li>
            <div class="li"> Mo, 06.10. 2014 - Vorbesprechung &amp; Themenvorstellung</div>
        </li>
        <li>
            <div class="li"> Mo, 13.10. 2014 - Wissenschaftliches Arbeiten &amp; Schreiben</div>
        </li>
        <li>
            <div class="li"> Mo, 20.10. 2014 - Wissenschaftliche Recherche</div>
        </li>
    </ul>

    <p>
        <strong>Gruppe Lux</strong>
    </p>
    <ul>
        <li>
            <div class="li"> Mo, 24.11. 2014 - Zwischenpr&auml;sentationen</div>
        </li>
        <li>
            <div class="li"> Mo, 12.01. 2015 - Endpr&auml;sentationen Teil I</div>
        </li>
        <li>
            <div class="li"> Mo, 26.01. 2015 - Endpr&auml;sentationen Teil II</div>
        </li>
    </ul>

    <p>
        <strong>Gruppe Sch&ouml;ffmann</strong>
    </p>
    <ul>
        <li>
            <div class="li"> Do, 27.11.2014 von 12-14 Uhr, E.1.42 - Zwischenpr&auml;sentationen</div>
        </li>
        <li>
            <div class="li"> Do, 15.01.2015 von 12-14 Uhr, E.1.42 - Endpr&auml;sentationen Teil I</div>
        </li>
        <li>
            <div class="li"> Do, 29.01.2015 von 12-14 Uhr, E.1.42 - Endpr&auml;sentationen Teil II</div>
        </li>
    </ul>

</div>
<!-- EDIT1 SECTION "Schedule" [280-858] -->
<h2 class="sectionedit2" id="zwischenpraesentationen">Zwischenpr&auml;sentationen</h2>

<div>

    <p>
        Nach Verteilung der Themen haben die TeilnehmerInnen des Seminars bis 24. Nov. Zeit zu recherchieren und
        die Ergebnisse der Recherchen zu ordnen. In der Zwischenpr&auml;sentation wird der Fortschritt der
        Gruppe vorgestellt. Das heißt zur Zwischenpr&auml;sentation muss die Recherche bereits durchgef&uuml;hrt
        sein &amp; Notizen vorhanden sein. Dauer einer einzelnen Zwischenpr&auml;sentation ist maximal 3
        Minuten, dazu sollen 3-6 Folien Ergebnissen, einer Roadmap und den Todos pr&auml;sentiert werden.
        Nachfolgende Vorlage listet die Themen und Punkte auf, die behandelt werden sollen.
    </p>

    <p>
        Vorlage f&uuml;r die Zwischenpr&auml;sentation: <a
            href="http://www.itec.uni-klu.ac.at/~mlux/teaching/seminar-ws14/Vorlage_Zwischenpraesentation.pptx"
            class="urlextern"
            title="http://www.itec.uni-klu.ac.at/~mlux/teaching/seminar-ws14/Vorlage_Zwischenpraesentation.pptx"
            rel="nofollow">Powerpoint-Vorlage Download</a>
    </p>

</div>
<!-- EDIT2 SECTION "Zwischenpr&auml;sentationen" [859-1626] -->
<h2 class="sectionedit3" id="endpraesentationen">Endpr&auml;sentationen</h2>

<div>

    <p>
        Zu einem der zwei Termine f&uuml;r Endpr&auml;sentationen muss die Arbeit vorgestellt werden. Zu diesem
        Zeitpunkt soll die Arbeit bereits im Großen und Ganzen fertig sein. Das heißt, zu diesem Zeitpunkt
        existiert ein Rohdokument in ca. dem Ausmaß der Seminararbeit. Aus diesem Rohdokument wird dann die
        Seminararbeit bis sp&auml;testens <strong>Mitte Februar</strong> erstellt. Sollte sich die Erstellung
        der Arbeit verz&ouml;gern, so muss dies vorab bekannt gegeben werden (schriftlich, zB. per Email an den
        LV-Leiter). Die Endpr&auml;sentation darf max. 10 Minuten dauern, und muss mindestens 8 Minuten dauern.
    </p>

</div>
<!-- EDIT3 SECTION "Endpr&auml;sentationen" [1627-2241] -->
<h2 class="sectionedit4" id="modalitaeten">Modalit&auml;ten</h2>

<div>
    <ul>
        <li>
            <div class="li"> Die Teilnahme an allen Terminen ist verpflichtend. Verhinderung muss rechtzeitig
                mit triftigem Grund schriftlich dem LV-Leiter bekannt gegeben werden.
            </div>
        </li>
        <li>
            <div class="li"> Die Zwischenpr&auml;sentation und die Endpr&auml;sentationen sind verpflichtend.
                Nichtabhaltung einer dieser Pr&auml;sentationen f&uuml;hrt automatisch zu negativer Bewertung.
            </div>
        </li>
        <li>
            <div class="li"> Die Seminararbeit muss bis sp&auml;testens <strong>Mitte Februar 2015</strong>
                abgegeben werden. Verz&ouml;gerungen m&uuml;ssen rechtzeitig mit triftigem Grund schriftlich dem
                LV-Leiter bekannt gegeben werden.
            </div>
        </li>
    </ul>

</div>
<!-- EDIT4 SECTION "Modalit&auml;ten" [2242-2776] -->
<h2 class="sectionedit5" id="seminararbeit">Seminararbeit</h2>

<div>

    <p>
        Die Seminararbeit muss den Anforderungen an eine wissenschaftliche Arbeit gen&uuml;ge tun. Bsp.
        Zitierungen, Format, Argumentation, Lesbarkeit &amp; Nachvollziehbarkeit, usw.
    </p>

    <p>
        Format f&uuml;r die Abgabe ist der <a href="http://www.acm.org/sigs/publications/proceedings-templates"
                                              class="urlextern"
                                              title="http://www.acm.org/sigs/publications/proceedings-templates"
                                              rel="nofollow">ACM SIG Proceedings Style</a>
    </p>

    <p>
        Umfang der Seminararbeit ist 5000 W&ouml;rter. Das sind ca. 6 Seiten im ACM SIG Proceedings Style.
    </p>

</div>
<!-- EDIT5 SECTION "Seminararbeit" [2777-3188] -->
<h2 class="sectionedit6" id="tutorium_vom_schreibcenter">Tutorium vom Schreibcenter</h2>

<div>

    <p>
        Zus&auml;tzlich zum Seminar wird ein Tutorium vom Schreibcenter angeboten. Wir empfehlen dringends bei
        diesem teilzunehmen. Im Rahmen des Tutoriums wird die Seminararbeit vorkorrigiert und stilistisches als
        auch sprachliches, detailliertes Feedback geboten. F&uuml;r das Tutorium sollte die Arbeit 2 Wochen vor
        der Abgabe an die Tutorinnen gesendet werden!
    </p>

</div>
<!-- EDIT6 SECTION "Tutorium vom Schreibcenter" [3189-3576] -->
<h2 class="sectionedit7" id="seminararbeit_als_bakk-arbeit">Seminararbeit als Bakk.-Arbeit</h2>

<div>

    <p>
        Studieren sie nach dem <em>alten Studienplan</em>, so ist die Seminararbeit ein Teil der Bakk.-Arbeit.
        In diesem Fall m&uuml;ssen Sie
    </p>
    <ol>
        <li>
            <div class="li"> bei der Themenwahl bekanntgeben, dass Sie eine Bakk.-Arbeit schreiben</div>
        </li>
        <li>
            <div class="li"> eine Seminararbeit im Umfang von 7500 W&ouml;rter (statt 5000) abgeben</div>
        </li>
    </ol>

</div>
<!-- EDIT7 SECTION "Seminararbeit als Bakk.-Arbeit" [3577-3891] -->
<h2 class="sectionedit8" id="themen">Themen</h2>

<div>

    <p>
        Die Themenverteilung findet online statt. Dazu verwenden wir Google Sheets und die angeh&auml;ngte
        Revisions-Historie. So k&ouml;nnen Konflikte gel&ouml;st werden (first come, first serve). Folgender
        Link f&uuml;hrt zu einem zeitlich begrenzten Re-direct, d.h. die Weiterleitung zum Google Sheet
        funktioniert erst ab Mo, dem 27. Oktober, 2014 ab 12.oo Uhr mittags. Halten Sie f&uuml;r die Eintragung
        Name, Matrikelnummer, vollst&auml;ndigen Wortlaut des Themas und die Angabe bereit ob sie im alten
        Studienplan sind (Bakk.-Arbeit 7.500 W&ouml;rter) oder im neuen (Seminararbeit 5.ooo W&ouml;rter). Eine
        sp&auml;tere Änderung ist nicht m&ouml;glich.
    </p>
    <ul>
        <li>
            <div class="li"> Name / Thema / Alter Studienplan?</div>
        </li>
        <li>
            <div class="li"> Anel Jusic / Ad detection in videos / Nein</div>
        </li>
        <li>
            <div class="li"> Boen Dong / User intentions in image production / Ja</div>
        </li>
        <li>
            <div class="li"> Christian Hribernik / First-person hyper-lapse videos / Nein</div>
        </li>
        <li>
            <div class="li"> Christopher Kerth / Affection &amp; movies / Nein</div>
        </li>
        <li>
            <div class="li"> Jameson Steiner / Social Multimedia Platforms / Nein</div>
        </li>
        <li>
            <div class="li"> Johannes Wagner / Competition as element of Gamification / Nein</div>
        </li>
        <li>
            <div class="li"> Julius Wukoutz / Langzeitarchivierung von elektronischen Dokumenten / Nein</div>
        </li>
        <li>
            <div class="li"> Mario Graf / What makes an image popular? / Nein</div>
        </li>
        <li>
            <div class="li"> Michael Stromberger / Intimacy in online gaming / Ja</div>
        </li>
        <li>
            <div class="li"> Michael Wutti / Game traffic analysis: an MMORPG perspective / nein</div>
        </li>
        <li>
            <div class="li"> Paul Ogris / A General System for Learning and Reasoning in Symbolic Domains / Ja
            </div>
        </li>
        <li>
            <div class="li"> Philipp Überbacher / Designing Games with a Purpose / Nein</div>
        </li>
        <li>
            <div class="li"> Simon Tischler / Human Computation / Ja</div>
        </li>
        <li>
            <div class="li"> Stefan Stattmann / Achievements - Überlblick von Belohnungssystemen im Kontext der
                Gamifizierung / Nein
            </div>
        </li>
        <li>
            <div class="li"> Stephanie Tarmann / Navigation in social tags / Ja</div>
        </li>
        <li>
            <div class="li"> Thomas Tr&uuml;gler / PCG-based game design / Ja</div>
        </li>
        <li>
            <div class="li"> Verena Dittmer / Seam carving for content-aware image resizing / Nein</div>
        </li>
        <li>
            <div class="li"> Wolfram Hofmeister / Flow-Based Image Abstraction / Nein</div>
        </li>
        <li>
            <div class="li"> Xin Xin Chen / Visual Attention / Ja</div>
        </li>
    </ul>
    <ul>
        <li>
            <div class="li"> Large-scale visual sentiment ontology and detectors using adjective noun pairs - <a
                    href="http://dx.doi.org/10.1145/2502081.2502282" class="urlextern"
                    title="http://dx.doi.org/10.1145/2502081.2502282" rel="nofollow">http://dx.doi.org/10.1145/2502081.2502282</a>
            </div>
        </li>
        <li>
            <div class="li"> What makes an image popular? - <a
                    href="http://people.csail.mit.edu/khosla/papers/www2014_khosla.pdf" class="urlextern"
                    title="http://people.csail.mit.edu/khosla/papers/www2014_khosla.pdf" rel="nofollow">http://people.csail.mit.edu/khosla/papers/www2014_khosla.pdf</a>
            </div>
        </li>
        <li>
            <div class="li"> Flow-Based Image Abstraction - <a
                    href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4522547&amp;tag=1"
                    class="urlextern"
                    title="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4522547&amp;tag=1"
                    rel="nofollow">http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=4522547&amp;tag=1</a>
            </div>
        </li>
        <li>
            <div class="li"> Seam carving for content-aware image resizing - <a
                    href="http://dx.doi.org/10.1145/1276377.1276390" class="urlextern"
                    title="http://dx.doi.org/10.1145/1276377.1276390" rel="nofollow">http://dx.doi.org/10.1145/1276377.1276390</a>
            </div>
        </li>
        <li>
            <div class="li"> First-person hyper-lapse videos - <a
                    href="http://dx.doi.org/10.1145/2601097.2601195" class="urlextern"
                    title="http://dx.doi.org/10.1145/2601097.2601195" rel="nofollow">http://dx.doi.org/10.1145/2601097.2601195</a>
                - <a href="https://www.youtube.com/watch?v=SOpwHaQnRSY" class="urlextern"
                     title="https://www.youtube.com/watch?v=SOpwHaQnRSY" rel="nofollow">https://www.youtube.com/watch?v=SOpwHaQnRSY</a>
            </div>
        </li>
        <li>
            <div class="li"> Ad detection in videos - <a href="http://dx.doi.org/10.1109/MMCS.1997.609763"
                                                         class="urlextern"
                                                         title="http://dx.doi.org/10.1109/MMCS.1997.609763"
                                                         rel="nofollow">On the Detection and Recognition of
                Television Commercials</a></div>
        </li>
        <li>
            <div class="li"> Social Multimedia Platforms - <a href="http://doi.acm.org/10.1145/1459359.1459362"
                                                              class="urlextern"
                                                              title="http://doi.acm.org/10.1145/1459359.1459362"
                                                              rel="nofollow">Enhancing social sharing of videos:
                fragment, annotate, enrich, and share</a></div>
        </li>
        <li>
            <div class="li"> Designing Games with a Purpose - <a
                    href="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf" class="urlextern"
                    title="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf" rel="nofollow">Games With a Purpose</a>
                and <a href="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf" class="urlextern"
                       title="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf" rel="nofollow">Peekaboom: A Game for
                    Locating Objects in Images</a></div>
        </li>
        <li>
            <div class="li"> Human Computation - <a href="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf"
                                                    class="urlextern"
                                                    title="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf"
                                                    rel="nofollow">CAPTCHA: Using Hard AI Problems for
                Security</a> and <a href="http://doi.acm.org/10.1145/1298406.1298408" class="urlextern"
                                    title="http://doi.acm.org/10.1145/1298406.1298408" rel="nofollow">Human
                computation</a></div>
        </li>
        <li>
            <div class="li"> User Intentions on the Web - <a
                    href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf"
                    class="urlextern"
                    title="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf"
                    rel="nofollow">A Taxonomy of Web Search</a></div>
        </li>
        <li>
            <div class="li"> Tagging Motivation - <a
                    href="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf"
                    class="urlextern"
                    title="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf"
                    rel="nofollow">Of Categorizers and Describers: An Evaluation of Quantitative Measures for
                Tagging Motivation</a></div>
        </li>
        <li>
            <div class="li"> Video Microblogging - <a href="http://doi.acm.org/10.1145/1753846.1753979"
                                                      class="urlextern"
                                                      title="http://doi.acm.org/10.1145/1753846.1753979"
                                                      rel="nofollow">Video microblogging: your 12 seconds of
                fame</a></div>
        </li>
        <li>
            <div class="li"> Intimacy in online gaming - <a href="http://doi.acm.org/10.1145/1753326.1753361"
                                                            class="urlextern"
                                                            title="http://doi.acm.org/10.1145/1753326.1753361"
                                                            rel="nofollow">The Rogue in the Lovely Black Dress:
                Intimacy in World of Warcraft</a></div>
        </li>
        <li>
            <div class="li"> User Studies: Online Mail - <a href="http://doi.acm.org/10.1145/1753846.1754199"
                                                            class="urlextern"
                                                            title="http://doi.acm.org/10.1145/1753846.1754199"
                                                            rel="nofollow">Best of both worlds: improving gmail
                labels with the affordances of folders</a></div>
        </li>
        <li>
            <div class="li"> Near Duplicate Videos - <a href="http://doi.acm.org/10.1145/1631272.1631280"
                                                        class="urlextern"
                                                        title="http://doi.acm.org/10.1145/1631272.1631280"
                                                        rel="nofollow">Understanding near-duplicate videos: a
                usr-centric approach</a></div>
        </li>
        <li>
            <div class="li"> Video Re-Targeting - <a href="http://doi.acm.org/10.1145/1291233.1291246"
                                                     class="urlextern"
                                                     title="http://doi.acm.org/10.1145/1291233.1291246"
                                                     rel="nofollow">Re-cinematography: improving the camera
                dynamics of casual video</a></div>
        </li>
        <li>
            <div class="li"> Shot boundaries in videos - <a
                    href="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf" class="urlextern"
                    title="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf" rel="nofollow">Comparison
                of automatic shot boundary detection algorithms</a></div>
        </li>
        <li>
            <div class="li"> Affection &amp; movies - <a href="http://dx.doi.org/10.1109/ISM.2009.98"
                                                         class="urlextern"
                                                         title="http://dx.doi.org/10.1109/ISM.2009.98"
                                                         rel="nofollow">Towards a ground truth for affective
                classification in movies</a></div>
        </li>
        <li>
            <div class="li"> Visual attention - <a href="http://doi.acm.org/10.1145/1185448.1185588"
                                                   class="urlextern"
                                                   title="http://doi.acm.org/10.1145/1185448.1185588"
                                                   rel="nofollow">Using visual attention to extract regions of
                interest in the context of image retrieval</a></div>
        </li>
        <li>
            <div class="li"> Navigation in social tags - <a
                    href="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf"
                    class="urlextern"
                    title="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf"
                    rel="nofollow">On the Navigability of Social Tagging Systems</a></div>
        </li>
        <li>
            <div class="li"> User intentions in image search <a
                    href="http://dl.acm.org/citation.cfm?id=1753846.1754078&amp;coll=DL&amp;dl=GUIDE"
                    class="urlextern"
                    title="http://dl.acm.org/citation.cfm?id=1753846.1754078&amp;coll=DL&amp;dl=GUIDE"
                    rel="nofollow">A classification scheme for user intentions in image search</a></div>
        </li>
        <li>
            <div class="li"> User intentions in image production <a
                    href="http://dl.acm.org/citation.cfm?id=1878061.1878075&amp;coll=DL&amp;dl=GUIDE"
                    class="urlextern"
                    title="http://dl.acm.org/citation.cfm?id=1878061.1878075&amp;coll=DL&amp;dl=GUIDE"
                    rel="nofollow">Why did you take this photo: a study on user intentions in digital photo
                productions</a></div>
        </li>
    </ul>

</div>