
<h1 class="sectionedit1" id="seminar">Seminar</h1>
<div class="level1">

<p>
Im Seminar aus Betriebsinformatik f&uuml;r Informationsmanagement m&uuml;ssen Teilnehmer ein Thema aus einer zur Verf&uuml;gung gestellten Menge an Themen w&auml;hlen, eine Recherche durchf&uuml;hren und eine Arbeit mit wissenschaftlichem Charakter verfassen. Abschluß bildet eine Pr&auml;sentation der Arbeit am Ende des Semesters.
</p>

</div>
<!-- EDIT1 SECTION "Seminar" [1-333] -->
<h2 class="sectionedit2" id="zeitplan">Zeitplan</h2>
<div class="level2">

<p>
Alle Einheiten finden im Raum <em>E.2.42</em> statt.
</p>
<ul>
<li class="level1"><div class="li"> 07.3. 10-12 c.t. - Aufnahme und Themen</div>
</li>
<li class="level1"><div class="li"> 14.3. 10-14 c.t. - Wissenschaftliches Arbeiten - <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/seminar-ss12/01-Wissenschaftliches_Arbeiten.pdf" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/seminar-ss12/01-Wissenschaftliches_Arbeiten.pdf"  rel="nofollow">Folien</a> (PDF, 1.2M)</div>
</li>
<li class="level1"><div class="li"> 21.3. 10-12 c.t. - Format &amp; Pr&auml;sentationstechniken</div>
</li>
<li class="level1"><div class="li"> <del>23.5. 10-12 c.t. - Zwischenbericht</del> <strong>verschoben!</strong></div>
</li>
<li class="level1"><div class="li"> 30.5. 08.3o-10.oo - Zwischenbericht <strong>Ersatztermin im E.2.37</strong></div>
</li>
<li class="level1"><div class="li"> 04.7. 08-12 c.t. - Endpr&auml;sentation</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "Zeitplan" [334-845] -->
<h2 class="sectionedit3" id="zwischenbericht">Zwischenbericht</h2>
<div class="level2">

<p>
Beim Zwischenbericht hat jede/r Vortragende/r genau 3 Minuten Zeit. Folgende f&uuml;nf Folien (genau f&uuml;nf, nicht mehr und nicht weniger) sollen Bestandteil des Zwischenberichts sein:
</p>
<ol>
<li class="level1"><div class="li"> Titel der Arbeit und Name des Autors</div>
</li>
<li class="level1"><div class="li"> Liste der Kernpunkte, die die Arbeit behandelt</div>
</li>
<li class="level1"><div class="li"> Startreferenz und selbst recherchierte Referenzen</div>
</li>
<li class="level1"><div class="li"> Aktueller Stand und Zeitplan</div>
</li>
<li class="level1"><div class="li"> Offene Fragen</div>
</li>
</ol>

<p>
Folien entweder am eigenen Laptop pr&auml;sentieren, oder als PDF- oder PPT-Datei auf einem USB-Stick mitbringen.
</p>

</div>
<!-- EDIT3 SECTION "Zwischenbericht" [846-1363] -->
<h2 class="sectionedit4" id="endpraesentation">Endpr&auml;sentation</h2>
<div class="level2">

<p>
Beim Zwischenbericht hat jede/r Vortragende/r genau 10 Minuten Zeit. Die Folien sollen den Inhalt der Arbeit wiedergeben.
</p>

<p>
Termin f&uuml;r die Vorstellung:
Mi, 04.07.2012	08:30-12:00
</p>

<p>
Die Arbeit selbst muss &uuml;ber das Online System der Uni Klagenfurt bis <strong>4.7. 2012 23.59 Uhr</strong> abgegeben werden.
</p>

<p>
Folien entweder am eigenen Laptop pr&auml;sentieren, oder als PDF- oder PPT-Datei auf einem USB-Stick mitbringen.
</p>

</div>
<!-- EDIT4 SECTION "Endpr&auml;sentation" [1364-1796] -->
<h2 class="sectionedit5" id="schriftliche_arbeit">Schriftliche Arbeit</h2>
<div class="level2">

<p>
Die schriftliche Arbeit soll den <em>ACM SIG Proceedings Templates</em> folgen, und zwar spezifisch dem <em>LaTeX2e - Tighter Alternate style</em>. Alle Vorlagen f&uuml;r diesen style finden Sie
<a href="http://www.acm.org/sigs/publications/proceedings-templates" class="urlextern" title="http://www.acm.org/sigs/publications/proceedings-templates"  rel="nofollow">hier</a>.
</p>

<p>
F&uuml;r die Arbeit empfehle ich die Verwendeung von LaTeX (<a href="http://miktex.org/" class="urlextern" title="http://miktex.org/"  rel="nofollow">MiKTeX f&uuml;r Windows</a>). Referenzen sollen in BibTeX verwaltet werden. Falls daf&uuml;r ein Hilfswerkzeug ben&ouml;tigt wird, empfehle ich <a href="http://jabref.sourceforge.net/" class="urlextern" title="http://jabref.sourceforge.net/"  rel="nofollow">JabRef</a>. Sollte es mit der Verwendung von LaTeX oder MiKTeX Probleme geben findet man <a href="http://www.acm.org/sigs/publications/proceedings-templates" class="urlextern" title="http://www.acm.org/sigs/publications/proceedings-templates"  rel="nofollow">hier</a> auch Word Templates.
</p>

<p>
Die Arbeit selbst soll einen Umfang von 8.000 W&ouml;rtern haben. Je nach Anzahl der verwendeten Bilder sollte das dann mit oben genannter Vorlage zu einem PDF mit ca. 9-12 Seiten werden.
</p>

</div>
<!-- EDIT5 SECTION "Schriftliche Arbeit" [1797-2683] -->
<h2 class="sectionedit6" id="reviews">Reviews</h2>
<div class="level2">

<p>
Jeder Teilnehmer muss einen Review f&uuml;r einen anderen Teilnehmer erstellen. Es muss untenstehendes Template verwendet werden. Bitte achten Sie darauf in Ihren Reviews <strong>konstruktive</strong> Kritik zu vermitteln. Weisen Sie Ihre KollegIn auf Fehler und m&ouml;gliche Verbesserungen m&ouml;glichste genau hin.
</p>

<p>
Versenden Sie den fertigen Review an mlux &lt;at&gt; itec.uni-klu.ac.at und laden Sie den Review zur Ansicht auf Google Drive.
</p>
<ol>
<li class="level1"><div class="li"> Raufladen der eigenen Arbeit <a href="https://docs.google.com/folder/d/0B8x2stWZlk6UbTRoTXAxRl80UWM/edit" class="urlextern" title="https://docs.google.com/folder/d/0B8x2stWZlk6UbTRoTXAxRl80UWM/edit"  rel="nofollow">auf Google Drive</a>. </div>
</li>
<li class="level1"><div class="li"> Runterladen des <a href="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/review-template.txt" class="urlextern" title="http://www.itec.uni-klu.ac.at/~mlux/teaching/proseminar10/submissions/review-template.txt"  rel="nofollow"> Review Template</a></div>
</li>
<li class="level1"><div class="li"> Nachsehen welche Arbeit mir zugeordnet wurde: <a href="https://docs.google.com/spreadsheet/ccc?key=0Asx2stWZlk6UdE9FVmpVc1FTZGliaS1zQUlzYXI2Q3c" class="urlextern" title="https://docs.google.com/spreadsheet/ccc?key=0Asx2stWZlk6UdE9FVmpVc1FTZGliaS1zQUlzYXI2Q3c"  rel="nofollow">Zuordnung</a></div>
</li>
<li class="level1"><div class="li"> Zugeordnete Arbeit <a href="https://docs.google.com/folder/d/0B8x2stWZlk6UbTRoTXAxRl80UWM/edit" class="urlextern" title="https://docs.google.com/folder/d/0B8x2stWZlk6UbTRoTXAxRl80UWM/edit"  rel="nofollow">von Google Drive runterladen</a>.</div>
</li>
<li class="level1"><div class="li"> Review ins Template schreiben</div>
</li>
<li class="level1"><div class="li"> Review wieder <a href="https://docs.google.com/folder/d/0B8x2stWZlk6UbTRoTXAxRl80UWM/edit" class="urlextern" title="https://docs.google.com/folder/d/0B8x2stWZlk6UbTRoTXAxRl80UWM/edit"  rel="nofollow">raufladen</a> und an Mathias Lux schicken.</div>
</li>
</ol>

</div>
<!-- EDIT6 SECTION "Reviews" [2684-3814] -->
<h2 class="sectionedit7" id="themen">Themen</h2>
<div class="level2">

<p>
Themenverteilung online via Google Documents <a href="https://docs.google.com/spreadsheet/ccc?key=0Asx2stWZlk6UdHA4dVlNeUdDM3pzZkZhdjFpX19XMnc#gid=0" class="urlextern" title="https://docs.google.com/spreadsheet/ccc?key=0Asx2stWZlk6UdHA4dVlNeUdDM3pzZkZhdjFpX19XMnc#gid=0"  rel="nofollow">Liste der Zuordnungen</a>.
</p>
<ul>
<li class="level1"><div class="li"> Ad detection in videos - <a href="ftp://pi4.informatik.uni-mannheim.de/pub/techreports/1996/TR-96-016.ps.gz" class="urlextern" title="ftp://pi4.informatik.uni-mannheim.de/pub/techreports/1996/TR-96-016.ps.gz"  rel="nofollow">On the Detection and Recognition of Television Commercials</a> </div>
</li>
<li class="level1"><div class="li"> Social Multimedia Platforms - <a href="http://doi.acm.org/10.1145/1459359.1459362" class="urlextern" title="http://doi.acm.org/10.1145/1459359.1459362"  rel="nofollow">Enhancing social sharing of videos: fragment, annotate, enrich, and share</a></div>
</li>
<li class="level1"><div class="li"> Designing Games with a Purpose - <a href="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/ieee-gwap.pdf"  rel="nofollow">Games With a Purpose</a> and <a href="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/Peekaboom.pdf"  rel="nofollow">Peekaboom: A Game for Locating Objects in Images</a></div>
</li>
<li class="level1"><div class="li"> Human Computation - <a href="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf" class="urlextern" title="http://www.cs.cmu.edu/~biglou/captcha_crypt.pdf"  rel="nofollow">CAPTCHA: Using Hard AI Problems for Security</a> and <a href="http://doi.acm.org/10.1145/1298406.1298408" class="urlextern" title="http://doi.acm.org/10.1145/1298406.1298408"  rel="nofollow">Human computation</a></div>
</li>
<li class="level1"><div class="li"> User Intentions on the Web - <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf" class="urlextern" title="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.107.2757&amp;rep=rep1&amp;type=pdf"  rel="nofollow">A Taxonomy of Web Search</a> </div>
</li>
<li class="level1"><div class="li"> Tagging Motivation - <a href="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf" class="urlextern" title="http://www.kmi.tugraz.at/staff/markus/documents/2010_HT2010_Categorizers_Describers.pdf"  rel="nofollow">Of Categorizers and Describers: An Evaluation of Quantitative Measures for Tagging Motivation</a></div>
</li>
<li class="level1"><div class="li"> Video Microblogging - <a href="http://doi.acm.org/10.1145/1753846.1753979" class="urlextern" title="http://doi.acm.org/10.1145/1753846.1753979"  rel="nofollow">Video microblogging: your 12 seconds of fame</a> </div>
</li>
<li class="level1"><div class="li"> Intimacy in online gaming - <a href="http://doi.acm.org/10.1145/1753326.1753361" class="urlextern" title="http://doi.acm.org/10.1145/1753326.1753361"  rel="nofollow">The Rogue in the Lovely Black Dress: Intimacy in World of Warcraft</a> </div>
</li>
<li class="level1"><div class="li"> User Studies: Online Mail - <a href="http://doi.acm.org/10.1145/1753846.1754199" class="urlextern" title="http://doi.acm.org/10.1145/1753846.1754199"  rel="nofollow">Best of both worlds: improving gmail labels with the affordances of folders</a> </div>
</li>
<li class="level1"><div class="li"> Metadata in B2B - Metadata in the Audiovisual Media Production Process (available on request)</div>
</li>
<li class="level1"><div class="li"> Near Duplicate Videos - <a href="http://doi.acm.org/10.1145/1631272.1631280" class="urlextern" title="http://doi.acm.org/10.1145/1631272.1631280"  rel="nofollow">Understanding near-duplicate videos: a usr-centric approach</a></div>
</li>
<li class="level1"><div class="li"> Video Re-Targeting - <a href="http://doi.acm.org/10.1145/1291233.1291246" class="urlextern" title="http://doi.acm.org/10.1145/1291233.1291246"  rel="nofollow">Re-cinematography: improving the camera dynamics of casual video</a></div>
</li>
<li class="level1"><div class="li"> Shot boundaries in videos - <a href="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf" class="urlextern" title="http://vis.uky.edu/~cheung/courses/ee639_fall04/readings/spie99.pdf"  rel="nofollow">Comparison of automatic shot boundary detection algorithms</a></div>
</li>
<li class="level1"><div class="li"> Affection &amp; movies - <a href="http://www.computer.org/portal/web/csdl/doi/10.1109/ISM.2009.98" class="urlextern" title="http://www.computer.org/portal/web/csdl/doi/10.1109/ISM.2009.98"  rel="nofollow">Towards a ground truth for affective classification in movies</a></div>
</li>
<li class="level1"><div class="li"> Visual attention - <a href="http://doi.acm.org/10.1145/1185448.1185588" class="urlextern" title="http://doi.acm.org/10.1145/1185448.1185588"  rel="nofollow">Using visual attention to extract regions of interest in the context of image retrieval</a></div>
</li>
<li class="level1"><div class="li"> Navigation in social tags - <a href="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf" class="urlextern" title="http://www.kmi.tugraz.at/staff/markus/documents/2010_SocialCom2010_Navigability.pdf"  rel="nofollow">On the Navigability of Social Tagging Systems</a></div>
</li>
<li class="level1"><div class="li"> User intentions in image search <a href="http://dl.acm.org/citation.cfm?id=1753846.1754078&amp;coll=DL&amp;dl=GUIDE" class="urlextern" title="http://dl.acm.org/citation.cfm?id=1753846.1754078&amp;coll=DL&amp;dl=GUIDE"  rel="nofollow">A classification scheme for user intentions in image search</a></div>
</li>
<li class="level1"><div class="li"> User intentions in image production <a href="http://dl.acm.org/citation.cfm?id=1878061.1878075&amp;coll=DL&amp;dl=GUIDE" class="urlextern" title="http://dl.acm.org/citation.cfm?id=1878061.1878075&amp;coll=DL&amp;dl=GUIDE"  rel="nofollow">Why did you take this photo: a study on user intentions in digital photo productions</a></div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Themen" [3815-] -->